Vous pouvez rafraîchir la page d'accueil ici

<%= form_with url: admin_expire_cache_path, id: 'admin_expire_cache_form' do |form| %>
  <%= form.submit 'Supprimer le cache de la page d\'accueil'%>
<% end %>

<p>
  &nbsp;
</p>
