<header class="main-content__header" role="banner">
  <h1 class="main-content__page-title">
   Besoin
  </h1>

</header>
<section class="main-content__body">

<div class="need-menu-line need-menu-line--1">
  <div class="need-menu-cell">Domaine</div>
  <div class="need-menu-cell"></div>
  <div class="need-menu-cell"></div>
  <div class="need-menu-cell"></div>  
</div>
<div class="need-menu-line need-menu-line--2">
  <div class="need-menu-cell">
    <div class="need-menu-cell--border">&nbsp;</div>
  </div>
  <div class="need-menu-cell">Axe</div>
  <div class="need-menu-cell"></div>
  <div class="need-menu-cell"></div>  
</div>
<div class="need-menu-line need-menu-line--3">
  <div class="need-menu-cell">
    <div class="need-menu-cell--border">&nbsp;</div>
  </div>
  <div class="need-menu-cell">Besoin</div>
  <div class="need-menu-cell"></div>
  <div class="need-menu-cell"></div>  
</div>


</section>
