<header class="main-content__header" role="banner">
  <h1 class="main-content__page-title">
   Besoins
  </h1>

</header>
<section class="main-content__body main-content__body--nm">



<dl>
        <dt class="attribute-label">
          
        </dt>
        <dd class="attribute-data">
          
        </dd>
        <dt class="attribute-label">
          
        </dt>
        <dd class="attribute-data">
          
        </dd>
        <dt class="attribute-label">
        
        </dt>


  </dl>






<div class="nm-line nm-line--1">
  <div class="nm-cell nm-cell--text nm-cell--vertical">Filtres pages de résultats</div>
  <div class="nm-cell nm-cell--vertical">
    <%= link_to(
      t(
        "helpers.domain_filter.creation",
        name: "domain"
      ),
      admin_domain_filters_path,
      class: "button",
    )%>
  </div>
  <div class="nm-cell">   
  </div>
  <div class="nm-cell"></div>  
</div>

<div class="nm-line nm-line--1">
  <div class="nm-cell nm-cell--text nm-cell--vertical">Besoin</div>
  <div class="nm-cell nm-cell--vertical">
    <%= link_to(
      t(
        "helpers.domain_filter.creation",
        name: "domain"
      ),
      admin_domain_filters_path,
      class: "button",
    )%>
  </div>
  <div class="nm-cell">   
  </div>
  <div class="nm-cell"></div>  
</div>

<div class="nm-line nm-line--1">
  <div class="nm-cell nm-cell--text nm-cell--vertical">Filtres personnalisés</div>
  <div class="nm-cell nm-cell--vertical">
    <%= link_to(
      t(
        "helpers.domain_filter.creation",
        name: "domain"
      ),
      admin_domain_filters_path,
      class: "button",
    )%>
  </div>
  <div class="nm-cell">   
  </div>
  <div class="nm-cell"></div>  
</div>


</section>
