Outils d'administration
<ul style="margin-left: 2rem;">
  <li>
    <%=link_to "Vidage manuel du cache", admin_get_cache_path %>
  </li>
  <li>
    <%=link_to "Création de ZRR", admin_get_zrr_path %>
  </li>
  <li>
    <%=link_to "Explications des règles", admin_explicitations_path %>
  </li>
  <li>
    <%=link_to "Mettre à jours les statistiques", admin_get_stats_path %>
  </li>
</ul>
