<div style="margin-top: 2rem;">
Vous pouvez transférer la description des variables vers la partie "éléments" ici

<%= form_with url: admin_post_transfer_descr_path, local: false do |form| %>
  <%= form.submit 'Transférer'%>
<% end %>
</div>
<div style="margin-top: 2rem;">
Vous pouvez créer les traductions ici

<%= form_with url: admin_post_translation_creation_path, local: false do |form| %>
  <%= form.submit 'Creer traductions'%>
<% end %>
</div>

