Vous pouvez générer les données de recette en cliquant ici

<%= form_with url: admin_post_r7_data_path, local: false, id: 'admin_admin_post_r7_data_form' do |form| %>
  <%= form.submit 'générer'%>
<% end %>

<div id="staging-cards">
</div>

<script> 
  function defer1(method) { if (window.jQuery) { admin_load_r7_page(); } else { setTimeout(function() { defer1(method) }, 50); } }



  function admin_load_r7_page() {

    $(document).on("ajax:error", function(e){
      var targeted = $(e.target).attr("id").toString()
      var target_object = targeted.split("_")[1]
      var targeted_action = targeted.split("_")[0]
      console.log(target_object + " global ajax error !!! " + targeted)
      if (targeted_action === "edit") {
        $("#" + target_object).append("<div class='" + target_object + "_edit_expl'> update no</div>")
      } else if (targeted_action === "delete") {
        $.get({
          url: "/admin/get_r7_info?target_object=" + target_object + "&target_id=" + $(e.target).attr("data-id"),
          success: function(k) {
            if (_.isNotBlank(k.actual_object)) {
              $("#" + target_object).append("<div class='" + target_object + "_delete_expl'> delete no</div>")
            } else {
              $("#" + target_object).append("<div class='" + target_object + "_delete_expl'> delete yes</div>")
            }
          },
        })        
      }
    })
    $(document).on("ajax:success", function(e){
      var targeted = $(e.target).attr("id").toString()
      var target_object = targeted.split("_")[1]
      var targeted_action = targeted.split("_")[0]
      console.log(target_object + " global ajax success !!! " + targeted)
      if (targeted_action === "edit") {
        $("#" + target_object).append("<div class='" + target_object + "_edit_expl'>update yes</div>")
      }
    })


    $("#admin_admin_post_r7_data_form").on("ajax:success", 
      function(event, data) { 
      console.log("success!!")

        var admin_rule_path = "<%= admin_rule_path("XXX") %>";
        $("#staging-cards").append('<div id="rule" class="staging-card"><div>rule ' + data.rule_id + '</div><div><a id="delete_rule" data-id="' + data.rule_id + '" class="text-color-red" rel="nofollow" data-method="delete" data-remote="true" href="' + admin_rule_path.replace("XXX", data.rule_id) + '">Supprimer rule</a></div></div>')
        // $().insertAfter("#admin_admin_post_r7_data_form")
        $("#rule").append('<div><form id="edit_rule" action="/admin/rules/' + data.rule_id + '" accept-charset="UTF-8" method="post" data-remote="true"><input type="hidden" name="_method" value="patch"><input type="hidden" name="authenticity_token" value="<%=  form_authenticity_token%>"><textarea name="rule[name]"></textarea><input type="submit" value="mettre à jour" class="submit-edition"></form></div>')

      });     
  }
  defer1();
</script>
