Vous pouvez générer les données de recette en cliquant ici

<%= form_with url: admin_post_r7_data_path, local: false, id: 'admin_admin_post_r7_data_form' do |form| %>
  <%= form.submit 'générer'%>
<% end %>


<script> 
  function defer1(method) { if (window.jQuery) { admin_load_r7_page(); } else { setTimeout(function() { defer1(method) }, 50); } }
  function admin_load_r7_page() {

    $("#admin_admin_post_r7_data_form").on("ajax:success", 
      function(event, data) { 

        var admin_rule_path = "<%= admin_rule_path("XXX") %>";
        $("#admin_admin_post_r7_data_form").append('<div id="rule" class="staging-card"><div>rule ' + data.rule_id + '</div><a id="delete_rule" data-id="' + data.rule_id + '" class="text-color-red" rel="nofollow" data-method="delete" data-remote="true" href="' + admin_rule_path.replace("XXX", data.rule_id) + '">Supprimer rule</a></div>')

        $(document).on("ajax:error", function(e){
          var target_object = _.trimPrefix($(e.target).attr("id").toString(), "delete_")
          $.get({
            url: "/admin/get_r7_info?target_object=" + target_object + "&target_id=" + $(e.target).attr("data-id"),
            success: function(k) {
              if (_.isNotBlank(k.actual_object)) {
                $("#" + target_object).append("<div class='" + target_object + "_expl'>" + target_object + " existe toujours</div>")
              } else {
                $("#" + target_object).append("<div class='" + target_object + "_expl'>" + target_object + " n'existe plus en base</div>")
              }
            },
          })
        })

      });     
  }
  defer1();
</script>
