<div style="margin-top: 2rem;">
Vous pouvez rransférer la définition de operator_type ici

<%= form_with url: admin_post_op_path, local: false do |form| %>
  <%= form.submit 'Transférer la définition de operator_type'%>
<% end %>
</div>

