<div style="margin-top: 2rem;">
Vous pouvez affecter un type ("kind") aux règles ici

<%= form_with url: admin_post_kind_path, local: false do |form| %>
  <%= form.submit 'Affecter un kind aux règles'%>
<% end %>
</div>

