<div style="margin-top: 2rem;">
Vous pouvez mettre à "nil" tous les operator_type ici

<div>
!!!! Attention à bien transférer les définitions avant (get_op)
</div>

<%= form_with url: admin_post_optypsup_path, local: false do |form| %>
  <%= form.submit 'Mettre à nil tous les operator_type'%>
<% end %>
</div>

