<div style="margin-top: 2rem;">
Vous pouvez archiver toutes les aides ici

<%= form_with url: admin_archive_all_aids_path do |form| %>
  <%= form.submit 'Tout archiver'%>
<% end %>
</div>

<div style="margin-top: 2rem;">Vous pouvez désarchiver toutes les aides ici</div>

<%= form_with url: admin_unarchive_all_aids_path do |form| %>
  <%= form.submit 'Tout désarchiver'%>
<% end %>
