<div style="margin-top: 2rem;">
Vous pouvez transférer la définition de operator_type ici

<div>
!!!! Attention à bien transférer le type d'abord (get_kind)
</div>

<%= form_with url: admin_post_op_path, local: false do |form| %>
  <%= form.submit 'Transférer la définition de operator_type'%>
<% end %>
</div>

