<header class="main-content__header c-rulecreation" role="banner">
  <h1 class="main-content__page-title" id="page-title">
    Création de règle
  </h1>
</header>

<h3 class="c-section-title is-first">Informations générales</h3>
<section class="c-generalinfo">
  <div class="field-unit field-unit--string field-unit--errored-false">
    <div class="field-unit__label">
      <label for="contract_type_name" id="label_name">Nom de la règle</label>
      <span class="field-unit__label-mandatory">*</span>
    </div>
    <div class="field-unit__field">
      <input placeholder="" type="text" name="rule[name]" id="rule_name">
    </div>
    <small>En minuscule, sans espace ni caractère spécial</small>
  </div>
  <div class="field-unit field-unit--text field-unit--errored-false js-accordion__panel">
    <div class="field-unit__label">
      <label id="short_description" for="aid_short_description" class="js-accordion__header">
        Description (optionnel)
      </label>
    </div>
    <div class="field-unit__field">
      <textarea placeholder="" name="rule[description]" id="rule_description">
        
      </textarea>
    </div>
  </div>
</section>

<h3 class="c-section-title is-first">Application de la règle</h3>
<section class="c-apprule">


<ul class="sortable is-first" data-type="ET">
  <li><span class="c-comb c-comb--and">ET </span><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="16" height="16" viewBox="0 0 24 24" style=" fill:#000000;"> <path d="M 18.414062 2 C 18.158188 2 17.902031 2.0974687 17.707031 2.2929688 L 16 4 L 20 8 L 21.707031 6.2929688 C 22.098031 5.9019687 22.098031 5.2689063 21.707031 4.8789062 L 19.121094 2.2929688 C 18.925594 2.0974687 18.669937 2 18.414062 2 z M 14.5 5.5 L 3 17 L 3 21 L 7 21 L 18.5 9.5 L 14.5 5.5 z"></path></svg><span class="remove"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="16" height="16" viewBox="0 0 24 24" style=" fill:#000000;"> <path style="line-height:normal;text-indent:0;text-align:start;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000;text-transform:none;block-progression:tb;isolation:auto;mix-blend-mode:normal" d="M 10.806641 2 C 10.289641 2 9.7956875 2.2043125 9.4296875 2.5703125 L 9 3 L 4 3 A 1.0001 1.0001 0 1 0 4 5 L 20 5 A 1.0001 1.0001 0 1 0 20 3 L 15 3 L 14.570312 2.5703125 C 14.205312 2.2043125 13.710359 2 13.193359 2 L 10.806641 2 z M 4.3652344 7 L 5.8925781 20.263672 C 6.0245781 21.253672 6.877 22 7.875 22 L 16.123047 22 C 17.121047 22 17.974422 21.254859 18.107422 20.255859 L 19.634766 7 L 4.3652344 7 z" font-weight="400" font-family="sans-serif" white-space="normal" overflow="visible"></path></svg></span>
    <ul class="sortable" data-type="OU">
      <li><span class="c-comb c-comb--and">OU </span><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="16" height="16" viewBox="0 0 24 24" style=" fill:#000000;"> <path d="M 18.414062 2 C 18.158188 2 17.902031 2.0974687 17.707031 2.2929688 L 16 4 L 20 8 L 21.707031 6.2929688 C 22.098031 5.9019687 22.098031 5.2689063 21.707031 4.8789062 L 19.121094 2.2929688 C 18.925594 2.0974687 18.669937 2 18.414062 2 z M 14.5 5.5 L 3 17 L 3 21 L 7 21 L 18.5 9.5 L 14.5 5.5 z"></path></svg><span class="remove"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="16" height="16" viewBox="0 0 24 24" style=" fill:#000000;"> <path style="line-height:normal;text-indent:0;text-align:start;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000;text-transform:none;block-progression:tb;isolation:auto;mix-blend-mode:normal" d="M 10.806641 2 C 10.289641 2 9.7956875 2.2043125 9.4296875 2.5703125 L 9 3 L 4 3 A 1.0001 1.0001 0 1 0 4 5 L 20 5 A 1.0001 1.0001 0 1 0 20 3 L 15 3 L 14.570312 2.5703125 C 14.205312 2.2043125 13.710359 2 13.193359 2 L 10.806641 2 z M 4.3652344 7 L 5.8925781 20.263672 C 6.0245781 21.253672 6.877 22 7.875 22 L 16.123047 22 C 17.121047 22 17.974422 21.254859 18.107422 20.255859 L 19.634766 7 L 4.3652344 7 z" font-weight="400" font-family="sans-serif" white-space="normal" overflow="visible"></path></svg></span>
        <ul class="sortable">Avoir au moins 18 ans</ul>
      </li>
      <li><span class="c-comb c-comb--and">OU </span><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="16" height="16" viewBox="0 0 24 24" style=" fill:#000000;"> <path d="M 18.414062 2 C 18.158188 2 17.902031 2.0974687 17.707031 2.2929688 L 16 4 L 20 8 L 21.707031 6.2929688 C 22.098031 5.9019687 22.098031 5.2689063 21.707031 4.8789062 L 19.121094 2.2929688 C 18.925594 2.0974687 18.669937 2 18.414062 2 z M 14.5 5.5 L 3 17 L 3 21 L 7 21 L 18.5 9.5 L 14.5 5.5 z"></path></svg><span class="remove"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="16" height="16" viewBox="0 0 24 24" style=" fill:#000000;"> <path style="line-height:normal;text-indent:0;text-align:start;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000;text-transform:none;block-progression:tb;isolation:auto;mix-blend-mode:normal" d="M 10.806641 2 C 10.289641 2 9.7956875 2.2043125 9.4296875 2.5703125 L 9 3 L 4 3 A 1.0001 1.0001 0 1 0 4 5 L 20 5 A 1.0001 1.0001 0 1 0 20 3 L 15 3 L 14.570312 2.5703125 C 14.205312 2.2043125 13.710359 2 13.193359 2 L 10.806641 2 z M 4.3652344 7 L 5.8925781 20.263672 C 6.0245781 21.253672 6.877 22 7.875 22 L 16.123047 22 C 17.121047 22 17.974422 21.254859 18.107422 20.255859 L 19.634766 7 L 4.3652344 7 z" font-weight="400" font-family="sans-serif" white-space="normal" overflow="visible"></path></svg></span>
        <ul class="sortable">Être titulaire de l'AAH</ul>
      </li>
      <li><span class="c-comb c-comb--and">OU </span><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="16" height="16" viewBox="0 0 24 24" style=" fill:#000000;"> <path d="M 18.414062 2 C 18.158188 2 17.902031 2.0974687 17.707031 2.2929688 L 16 4 L 20 8 L 21.707031 6.2929688 C 22.098031 5.9019687 22.098031 5.2689063 21.707031 4.8789062 L 19.121094 2.2929688 C 18.925594 2.0974687 18.669937 2 18.414062 2 z M 14.5 5.5 L 3 17 L 3 21 L 7 21 L 18.5 9.5 L 14.5 5.5 z"></path></svg><span class="remove"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="16" height="16" viewBox="0 0 24 24" style=" fill:#000000;"> <path style="line-height:normal;text-indent:0;text-align:start;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000;text-transform:none;block-progression:tb;isolation:auto;mix-blend-mode:normal" d="M 10.806641 2 C 10.289641 2 9.7956875 2.2043125 9.4296875 2.5703125 L 9 3 L 4 3 A 1.0001 1.0001 0 1 0 4 5 L 20 5 A 1.0001 1.0001 0 1 0 20 3 L 15 3 L 14.570312 2.5703125 C 14.205312 2.2043125 13.710359 2 13.193359 2 L 10.806641 2 z M 4.3652344 7 L 5.8925781 20.263672 C 6.0245781 21.253672 6.877 22 7.875 22 L 16.123047 22 C 17.121047 22 17.974422 21.254859 18.107422 20.255859 L 19.634766 7 L 4.3652344 7 z" font-weight="400" font-family="sans-serif" white-space="normal" overflow="visible"></path></svg></span>
        <ul class="sortable">Être cadre</ul>
      </li>
      <li class="unsortable">
        <a class="is-criteria">+ Ajouter une condition</a>
      </li>
    </ul>
  </li>
  <li><span class="c-comb c-comb--and">ET </span><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="16" height="16" viewBox="0 0 24 24" style=" fill:#000000;"> <path d="M 18.414062 2 C 18.158188 2 17.902031 2.0974687 17.707031 2.2929688 L 16 4 L 20 8 L 21.707031 6.2929688 C 22.098031 5.9019687 22.098031 5.2689063 21.707031 4.8789062 L 19.121094 2.2929688 C 18.925594 2.0974687 18.669937 2 18.414062 2 z M 14.5 5.5 L 3 17 L 3 21 L 7 21 L 18.5 9.5 L 14.5 5.5 z"></path></svg><span class="remove"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="16" height="16" viewBox="0 0 24 24" style=" fill:#000000;"> <path style="line-height:normal;text-indent:0;text-align:start;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000;text-transform:none;block-progression:tb;isolation:auto;mix-blend-mode:normal" d="M 10.806641 2 C 10.289641 2 9.7956875 2.2043125 9.4296875 2.5703125 L 9 3 L 4 3 A 1.0001 1.0001 0 1 0 4 5 L 20 5 A 1.0001 1.0001 0 1 0 20 3 L 15 3 L 14.570312 2.5703125 C 14.205312 2.2043125 13.710359 2 13.193359 2 L 10.806641 2 z M 4.3652344 7 L 5.8925781 20.263672 C 6.0245781 21.253672 6.877 22 7.875 22 L 16.123047 22 C 17.121047 22 17.974422 21.254859 18.107422 20.255859 L 19.634766 7 L 4.3652344 7 z" font-weight="400" font-family="sans-serif" white-space="normal" overflow="visible"></path></svg></span>
    <ul class="sortable">avoir un diplôme bac +5 ou supérieur</ul>
  </li>
  <li><span class="c-comb c-comb--and">ET </span><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="16" height="16" viewBox="0 0 24 24" style=" fill:#000000;"> <path d="M 18.414062 2 C 18.158188 2 17.902031 2.0974687 17.707031 2.2929688 L 16 4 L 20 8 L 21.707031 6.2929688 C 22.098031 5.9019687 22.098031 5.2689063 21.707031 4.8789062 L 19.121094 2.2929688 C 18.925594 2.0974687 18.669937 2 18.414062 2 z M 14.5 5.5 L 3 17 L 3 21 L 7 21 L 18.5 9.5 L 14.5 5.5 z"></path></svg><span class="remove"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="16" height="16" viewBox="0 0 24 24" style=" fill:#000000;"> <path style="line-height:normal;text-indent:0;text-align:start;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000;text-transform:none;block-progression:tb;isolation:auto;mix-blend-mode:normal" d="M 10.806641 2 C 10.289641 2 9.7956875 2.2043125 9.4296875 2.5703125 L 9 3 L 4 3 A 1.0001 1.0001 0 1 0 4 5 L 20 5 A 1.0001 1.0001 0 1 0 20 3 L 15 3 L 14.570312 2.5703125 C 14.205312 2.2043125 13.710359 2 13.193359 2 L 10.806641 2 z M 4.3652344 7 L 5.8925781 20.263672 C 6.0245781 21.253672 6.877 22 7.875 22 L 16.123047 22 C 17.121047 22 17.974422 21.254859 18.107422 20.255859 L 19.634766 7 L 4.3652344 7 z" font-weight="400" font-family="sans-serif" white-space="normal" overflow="visible"></path></svg></span>
    <ul class="sortable">Être inscrit depuis plus d'un an</ul>
  </li>
  <li>
    <a class="is-criteria">+ Ajouter une condition</a>
  </li>
</ul>


Debut

<ul class="sortable is-first" data-type="ET">
  <li>
    <button class="button is-white is-criteria">+ Ajouter une condition</button>
  </li>
</ul>

</section>

<h3 class="c-section-title">Critère géographique</h3>
<section class="c-geowhere">
  <h2 class="c-geowhere-title">Lieu de résidence de la personne</h2>
  <div class="c-geowhere-line">
    <input type="radio" id="tout" name="drone" value="tout">
    <label class="c-geolabel" for="tout">Toute la france</label>
  </div>
  <div class="c-geowhere-line">
    <input type="radio" id="tout_sauf_domtom" name="drone" value="tout_sauf_domtom">
    <label class="c-geolabel" for="tout_sauf_domtom">France métropolitaine (hors DOM/TOM)</label>
  </div>
  <div class="c-geowhere-line">
    <input type="radio" id="domtom_seulement" name="drone" value="domtom_seulement">
    <label class="c-geolabel" for="domtom_seulement">DOM/TOM seulement</label>
  </div>
  <div class="c-geowhere-line is-tout_sauf">
    <input type="radio" id="tout_sauf" name="drone" value="tout_sauf">
    <label class="c-geolabel" for="tout_sauf">Toute la France, à l'exception de critères géographiques suivants :</label>
    <div class="c-geowhere-selections">
      <div class="c-geowhere-selection">
        <label for="select-region" class="c-geoselect-label">Région(s):</label>
        <div class="c-geoselect c-geoselect--region" id="select-region"></div>
      </div>
      <div class="c-geowhere-selection">
        <label for="select-department" class="c-geoselect-label">Département(s):</label>
        <div class="c-geoselect c-geoselect--department" id="select-department"></div>
      </div>
      <div class="c-geowhere-selection">
        <label for="select-town" class="c-geoselect-label">Ville(s):</label>
        <div class="c-geoselect c-geoselect--town" id="select-town"></div>
      </div>
    </div>
  </div>
  <div class="c-geowhere-line is-rien_sauf">
    <input type="radio" id="rien_sauf" name="drone" value="rien_sauf">
    <label class="c-geolabel" for="rien_sauf">Uniquement les critères géographiques suivants :</label>
  </div>
</section>

