<header class="main-content__header c-rulecreation" role="banner">
  <h1 class="main-content__page-title" id="page-title">
    Création de règle
  </h1>
</header>

<h3 class="c-section-title is-first">Informations générales</h3>
<section class="c-generalinfo">
  <div class="field-unit field-unit--string field-unit--errored-false">
    <div class="field-unit__label">
      <label for="contract_type_name" id="label_name">Nom de la règle</label>
      <span class="field-unit__label-mandatory">*</span>
    </div>
    <div class="field-unit__field">
      <input placeholder="" type="text" name="rule[name]" id="rule_name">
    </div>
    <small>En minuscule, sans espace ni caractère spécial</small>
  </div>
  <div class="field-unit field-unit--text field-unit--errored-false js-accordion__panel">
    <div class="field-unit__label">
      <label id="short_description" for="aid_short_description" class="js-accordion__header">
        Description (optionnel)
      </label>
    </div>
    <div class="field-unit__field">
      <textarea placeholder="" name="rule[description]" id="rule_description">
        
      </textarea>
    </div>
  </div>
</section>

<h3 class="c-section-title is-first">Application de la règle</h3>
<section class="c-apprule">


<div id="main-apprule">
  <ul class="sortable is-first" data-box="root_box">
    <li class="unsortable">
      <section class="varopval">
        <div class="c-apprule-inputs">
          <div class="field-unit2">
            <div class="field-unit__label">
              <label id="label_variable" for="rule_variable_id">Variable</label>
            </div>
            <div class="field-unit__field">
              <select class="my-class" name="rule[variable_id]" id="rule_variable_id">
                <option value=""></option>
                <option data-name="v_category" value="6">catégorie</option>
                <option data-name="v_diplome" value="8">diplôme</option>
                <option data-name="v_duree_d_inscription" value="4">durée d'inscription</option>
                <option data-name="v_protection_internationale" value="17">est bénéficiaire d'une protection internationale</option>
                <option data-name="v_harki" value="15">est descendant de harki</option>
                <option data-name="v_detenu" value="16">est détenu ou ancien détenu</option>
                <option data-name="v_qpv" value="11">est en QPV</option>
                <option data-name="v_zrr" value="12">est en ZRR</option>
                <option data-name="v_handicap" value="3">est en situation de handicap</option>
                <option data-name="v_spectacle" value="26">est intermittent du spectacle</option>
                <option data-name="v_cadre" value="27">est un cadre</option>
                <option data-name="v_location_citycode" value="19">geo : code INSEE de la ville</option>
                <option data-name="v_location_zipcode" value="25">geo : code postal</option>
                <option data-name="v_location_state" value="23">geo : région</option>
                <option data-name="v_allocation_value_min" value="7">montant minimum d'allocation</option>
                <option data-name="v_allocation_type" value="13">type d'allocation</option>
                <option data-name="v_age" value="1">âge</option>
              </select>
            </div>
          </div>
          <div class="field-unit2 small-left-margin">
            <div class="field-unit__label">
              <label id="label_operator_kind" for="rule_operator_kind">Opérateur</label>
            </div>
            <div class="field-unit__field">
              <select class="my-class" name="rule[operator_kind]" id="rule_operator_kind">
                <option value=""></option>
                <option value="equal">Égal à</option>
                <option value="not_equal" disabled="disabled">Pas égal à</option>
                <option value="more_than">Supérieur à</option>
                <option value="less_than">Inférieur à</option>
                <option value="more_or_equal_than">Supérieur ou égal à</option>
                <option value="less_or_equal_than">Inférieur ou égal à</option>
                <option value="starts_with" disabled="disabled">Commence par</option>
                <option value="not_starts_with" disabled="disabled">Ne commence pas par</option>
                <option value="amongst" disabled="disabled">Parmi</option>
                <option value="not_amongst" disabled="disabled">Pas parmi</option>
              </select>
            </div>
          </div>
          <div class="field-unit2 small-left-margin">
            <div class="field-unit__label">
              <label for="rule_value_eligible" id="label_value_eligible">Valeur</label>
            </div>
            <div class="field-unit__field">
              <input placeholder="" type="number" id="rule_value_eligible" min="0" oninput="validity.valid||(value='');" style="display: block;" name="rule[value_eligible]">
              <select id="rule_value_eligible_selectible" style="display: none;">
                <option value=""></option>
                <option value="oui">oui</option>
                <option value="non">non</option>
              </select>
            </div>
          </div>
        </div>
        <div class="c-apprule-expl">
          <div class="expl-text">
            (Veuillez renseigner une variable, un opérateur et une valeur, l'explication apparaîtra ici)
          </div>
        </div>
        <div class="c-apprule-buttons">
          <button class="c-apprule-button is-validation">Valider</button>
          <button class="c-apprule-button">Annuler</button>
        </div>
      </section>
    </li>
  </ul>
</div>
<div id="main-apprule-expl">
  
</div>






















<ul class="sortable is-first" data-type="ET">
  <li>
    <span class="c-comb c-comb--and">

      <button class="js-tooltip like-a-link add-condition"
               data-tooltip-content-id="tooltip_id_block"
               data-tooltip-title='Conditions "ET"'
               data-tooltip-prefix-class="combinator"
               data-tooltip-close-text="x"
               data-tooltip-close-title="Ferme la fenêtre">
        ET
      </button>
      <div id="tooltip_id_block" class="hidden">
        <div>
          <button class="like-a-link">Transformer en "OU"</button>
        </div>
        <div>
          <button class="like-a-link">Ajouter une condition</button>
        </div>
        <div>
          <button class="like-a-link">Ajouter une sous-condition</button>
        </div>
        <div>
          <button class="like-a-link">Supprimer tout le bloc</button>
        </div>
        <div>
          <button class="like-a-link">Fermer cette fenêtre</button>
        </div>
      </div>

    </span>

    <ul class="sortable" data-type="OU">
      <li><span class="c-comb c-comb--and">OU </span>
        <ul class="sortable">
          <li>
            

      <button class="js-tooltip like-a-link add-condition"
               data-tooltip-content-id="tooltip_id_condition"
               data-tooltip-title='Avoir au moins 18 ans'
               data-tooltip-prefix-class="combinator"
               data-tooltip-close-text="x"
               data-tooltip-close-title="Ferme la fenêtre">
        Avoir au moins 18 ans
      </button>
      <div id="tooltip_id_condition" class="hidden">
        <div>
          <button class="like-a-link">Editer cette condition</button>
        </div>
        <div>
          <button class="like-a-link">Supprimer cette condition</button>
        </div>
        <div>
          <button class="like-a-link">Ajouter une condition</button>
        </div>
        <div>
          <button class="like-a-link">Ajouter une sous-condition</button>
        </div>
        <div>
          <button class="like-a-link">Fermer cette fenêtre</button>
        </div>
      </div>




          </li>
          <li class="unsortable">
            
          </li>
        </ul>
      </li>
      <li><span class="c-comb c-comb--and">OU </span>
        <ul class="sortable">
          <li>
            Être titulaire de l'AAH
          </li>
          <li class="unsortable">
            
          </li>
        </ul>
      </li>
      <li><span class="c-comb c-comb--and">OU </span>
        <ul class="sortable">
          <li>
            Être cadre
          </li>
          <li class="unsortable">
            
          </li>
        </ul>
      </li>
      <li class="unsortable">
        
      </li>
    </ul>
  </li>
  <li><span class="c-comb c-comb--and">ET </span>
    <ul class="sortable">
      <li>
        avoir un diplôme bac +5 ou supérieur
      </li>
      <li class="unsortable">
        
      </li>
    </ul>
  </li>
  <li><span class="c-comb c-comb--and">ET </span>
    <ul class="sortable">
      <li>
        Être inscrit depuis plus d'un an
      </li>
      <li class="unsortable">
        
      </li>
    </ul>
  </li>
  <li class="unsortable">
    
  </li>
</ul>


Debut

<ul class="sortable is-first" data-type="ET">
  <li>
    <button class="button is-white is-criteria">+ Ajouter une condition</button>
  </li>
</ul>

</section>

<h3 class="c-section-title">Critère géographique</h3>
<section class="c-geowhere">
  <h2 class="c-geowhere-title">Lieu de résidence de la personne</h2>
  <div class="c-geowhere-line">
    <input type="radio" id="tout" name="drone" value="tout">
    <label class="c-geolabel" for="tout">Toute la france</label>
  </div>
  <div class="c-geowhere-line">
    <input type="radio" id="tout_sauf_domtom" name="drone" value="tout_sauf_domtom">
    <label class="c-geolabel" for="tout_sauf_domtom">France métropolitaine (hors DOM/TOM)</label>
  </div>
  <div class="c-geowhere-line">
    <input type="radio" id="domtom_seulement" name="drone" value="domtom_seulement">
    <label class="c-geolabel" for="domtom_seulement">DOM/TOM seulement</label>
  </div>
  <div class="c-geowhere-line is-tout_sauf">
    <input type="radio" id="tout_sauf" name="drone" value="tout_sauf">
    <label class="c-geolabel" for="tout_sauf">Toute la France, à l'exception de critères géographiques suivants :</label>
    <div class="c-geowhere-selections">
      <div class="c-geowhere-selection">
        <label for="select-region" class="c-geoselect-label">Région(s):</label>
        <div class="c-geoselect c-geoselect--region" id="select-region"></div>
      </div>
      <div class="c-geowhere-selection">
        <label for="select-department" class="c-geoselect-label">Département(s):</label>
        <div class="c-geoselect c-geoselect--department" id="select-department"></div>
      </div>
      <div class="c-geowhere-selection">
        <label for="select-town" class="c-geoselect-label">Ville(s):</label>
        <div class="c-geoselect c-geoselect--town" id="select-town"></div>
      </div>
    </div>
  </div>
  <div class="c-geowhere-line is-rien_sauf">
    <input type="radio" id="rien_sauf" name="drone" value="rien_sauf">
    <label class="c-geolabel" for="rien_sauf">Uniquement les critères géographiques suivants :</label>
  </div>
</section>

