<div style="margin-top: 2rem;">
Charger Les stats

<%= form_with url: admin_load_stats_path, id: 'admin_load_stats_form' do |form| %>
  <%= form.submit 'Charger les stats google analytics'%>
<% end %>


</div>
