<script id="c-simulator-table-row" type="text/template">


      <tr class="simulator-table-row">
        <td class="simulation-table-name">{{custom_rule_check.name}}</td>
        <td class="simulation-table-result">{{custom_rule_check.result}}</td>
        <td><button class='simulation-table-replay' v-on:click="replay">&#8634;</button></td>
        <td><button class='simulation-table-delete' v-on:click="remove">X</button></td>
      </tr>

</script>

