///* ========================================================================
//   #GLOBAL
//   ======================================================================== */

// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.



// Standardise some UI treatments.

$global-radius: 3px !default;
$global-transition: all 300ms ease-in-out !default;

// BELOW IS ADDED
// colors used in project
$color-base      : #000;
$color-link      : #333;
$background-base : #fafafa;
$color-link-hover: #000;
$brand-primary:    #3dbdb6;
$brand-secondary:  #21293D;

//custom
$color-white: #fff;
$grey-border:  #BDBDBD;
$grey-text:  #4F4F4F;
$green-1:  #27AE60;
$orange-1:  #F2994A;


// fonts
body {
  font-family: 'Roboto', sans-serif;
}
