<% content_for(:title) { t("administrate.actions.edit_resource", name: page.page_title) } %>

<header class="main-content__header" role="banner">
  <h1 class="main-content__page-title">
    <%= content_for(:title) %>
  </h1>
</header>

<header class="c-aid-filters-subheader js-filter-edition">
  <div class="c-aid-filters-action">
    <form>
      <input class="button is-discrete" type="button" value="&larr;&nbsp;Retour&nbsp;&nbsp;" onclick="history.back();">
    </form>
  </div>
  <div>
    <button type="button" class="c-filter-record is-top">Enregistrer</button>
  </div>
  <div>
    <%= link_to 'Consulter'.html_safe, admin_filter_path(page.resource), class: "button c-aid-preview c-aid-detail-action small-left-margin", target: "blank" %>
  </div>
</header>


<section class="main-content__body">
  <%= render "form", page: page %>
</section>
