<%- v = view_object(:new_aid_four, local_assigns) %>


<section class="c-newaid c-newaid--stage4">
  <%= link_to "‹ Retour à l'étape 3", admin_aid_creation_new_aid_stage_3_path(slug: params[:slug]), class: "c-newaid-back2" %>
  <h1 class="c-newaid-title">Créer une aide</h1>

  <section class="c-newaid-panels simple-row">
    <div class="simple-col c-newaid-leftpanel" style="width: 45%">
      <div class="c-newaid-stages">
        <div class="c-newaid-stage c-newaid-stage--inactive">
          <div class="c-newaid-stageinside">
            Étape 1
          </div>
        </div>
        <div class="c-newaid-stage c-newaid-stage--inactive">
          <div class="c-newaid-stageinside">
            Étape 2
          </div>
        </div>
        <div class="c-newaid-stage c-newaid-stage--inactive">
          <div class="c-newaid-stageinside">
            Étape 3
          </div>
        </div>
        <div class="c-newaid-stage c-newaid-stage--active">
          <div class="c-newaid-stageinside">
            Étape 4
          </div>
        </div>
        <div class="c-newaid-stage c-newaid-stage--inactive">
          <div class="c-newaid-stageinside">
            Étape 5
          </div>
        </div>
      </div>

      <div class="c-newaid-belowstages">
        <div class="c-newaid-subtitle">Champ d'application</div>



  <h3 class="c-section-title is-first">L'aide s'applique si :</h3>
  <section class="c-apprule">

    <div id="main-apprule">
      <ul class="sortable is-first ui-sortable root_box" data-box="root_box">
        <li class="ui-sortable-handle " >
        </li>
      </ul>
    </div>

  </section>


  <h3 class="c-section-title">Critère géographique</h3>
  <section class="c-geowhere">
    <h2 class="c-geowhere-title">Lieu de résidence de la personne</h2>
    <div class="c-geowhere-line">
      <input type="radio" id="tout" name="drone" value="tout">
      <label class="c-geolabel" for="tout">Toute la france</label>
    </div>
    <div class="c-geowhere-line">
      <input type="radio" id="tout_sauf_domtom" name="drone" value="tout_sauf_domtom">
      <label class="c-geolabel" for="tout_sauf_domtom">France métropolitaine (hors DOM/TOM)</label>
    </div>
    <div class="c-geowhere-line">
      <input type="radio" id="domtom_seulement" name="drone" value="domtom_seulement">
      <label class="c-geolabel" for="domtom_seulement">DOM/TOM seulement</label>
    </div>
    <div class="c-geowhere-line is-tout_sauf">
      <input type="radio" id="tout_sauf" name="drone" value="tout_sauf">
      <label class="c-geolabel" for="tout_sauf">Toute la France, à l'exception de critères géographiques suivants :</label>
      <div class="c-geowhere-selections">
        <div class="c-geowhere-selection">
          <label for="select-region" class="c-geoselect-label">Région(s):</label>
          <div class="c-geoselect c-geoselect--region" id="select-region"></div>
        </div>
        <div class="c-geowhere-selection">
          <label for="select-department" class="c-geoselect-label">Département(s):</label>
          <div class="c-geoselect c-geoselect--department" id="select-department"></div>
        </div>
        <div class="c-geowhere-selection">
          <label for="select-town" class="c-geoselect-label">Ville(s):</label>
          <div class="c-geoselect c-geoselect--town" id="select-town"></div>
        </div>
      </div>
    </div>
    <div class="c-geowhere-line is-rien_sauf">
      <input type="radio" id="rien_sauf" name="drone" value="rien_sauf">
      <label class="c-geolabel" for="rien_sauf">Uniquement les critères géographiques suivants :</label>
    </div>
  </section>     




      </div>
      
      <div class="c-newaid-actions">
        <%= link_to "‹ Retour à l'étape 3", admin_aid_creation_new_aid_stage_3_path(slug: params[:slug]), class: "c-newaid-back2" %>
      </div>

    </div>    
    <div class="simple-col">
      <div id="main-apprule-expl">
        <div class="c-apprulexpl-head">
          <span class="c-apprulexpl-fixed">La personne sera éligible si</span>
          <span class="c-apprulexpl-main-condition">toutes les conditions suivantes sont réunies :</span>
        </div>
        <div>
          <ul class="c-parentexpl-root_box">
            
          </ul>
        </div>
      </div>   
    </div>
  </section>
</section>



