<section id="clearance" class="sign-in c-login u-margin-bottom-large">
   
  <div class="c-login-card u-margin-top u-margin-bottom">
    <h1>Se connecter</h1>

    <%= render partial: '/sessions/form' %>    
  </div>  
</section>
