<div class="text-field">
  <%= form.label :email %>
  <%= form.text_field :email, type: 'email' %>
</div>

<div class="password-field u-margin-top-small">
  <%= form.label :password %>
  <%= form.password_field :password %>
</div>
