<%#
# HasMany Show Partial

This partial renders a has_many relationship,
to be displayed on a resource's show page.

By default, the relationship is rendered
as a table of the first few associated resources.
The columns of the table are taken
from the associated resource class's dashboard.

## Local variables:

- `field`:
  An instance of [Administrate::Field::HasMany][1].
  Contains methods to help display a table of associated resources.

[1]: http://www.rubydoc.info/gems/administrate/Administrate/Field/HasMany
%>


<% if field.resources.any? %>
  <%- names =  field.data.map { |e| e.name } %>  
  <%- klass =  field.data[0].class.name %>  

  <% names.each do |name| %>
    <span>
      <% if klass == "Tag" %>
        <%= link_to name, admin_tag_path(name) %>
      <% elsif klass == "Rule" %>
        <%= link_to name, admin_rule_path(name) %>
      <% elsif klass == "Aid" %>
        <div>
          <%= link_to name, admin_aid_path(name) %>
        </div>
      <% end %>
    </span>
    <% unless name == names.last || klass == "Aid" %>
      <span>,&nbsp;</span>
    <% end %>
  <% end %>

<% else %>
  <%= t("administrate.fields.has_many.none", default: "–") %>
<% end %>

