- e ||= OpenStruct.new(has_error:false, main_error:'')
- m ||= "Veuillez sélectionner l'une de ces options"

.o-layout.o-layout--stretch.c-nextprev
  .o-layout__item{:class => "u-1/1 u-1/3@tablet"}
    - if e.has_error
      .c-error-in-form{:class => "u-margin-bottom-small u-margin-bottom-none@tablet"}
        %label.c-label.is-error  &nbsp; #{m}
  .o-layout__item{:class => "u-1/1 u-2/3@tablet u-text--right"}
    %span.c-question-guidance Il vous reste juste 2 questions avant vos résultats
    = f.submit 'Continuer', "name" => "commit", "value"=>"Continuer", "class" => "c-navbutton c-navbutton--continue js-next"

