.o-layout.o-layout--small.o-layout--reverse
  .o-layout__item{"class" => "u-text--right"}
    = f.submit 'Continuer', "name" => "commit", "value"=>"Continuer", "class" => "c-navbutton c-navbutton--continue js-next"
