<%#
# Text Form Partial

This partial renders a textarea element for a text attribute.

## Local variables:

- `f`:
  A Rails form generator, used to help create the appropriate input fields.
- `field`:
  An instance of [Administrate::Field::Text][1].
  A wrapper around the Text pulled from the database.

[1]: http://www.rubydoc.info/gems/administrate/Administrate/Field/Text
%>

<%- is_mandatory ||= false %>
<%- is_optional ||= false %>

<%- help ||= nil %>
<%- placeholder ||= nil %>
<%- small_text ||= nil %>

<div class="field-unit__label">
  <%= f.label field.attribute, id: "#{field.attribute}" %>
  <% if is_mandatory %>
    <span class="field-unit__label-mandatory">*</span>
  <% end %>
  <% if is_optional %>
    <span class="field-unit__label-eye"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye-off"><path d="M17.94 17.94A10.07 10.07 0 0 1 12 20c-7 0-11-8-11-8a18.45 18.45 0 0 1 5.06-5.94M9.9 4.24A9.12 9.12 0 0 1 12 4c7 0 11 8 11 8a18.5 18.5 0 0 1-2.16 3.19m-6.72-1.07a3 3 0 1 1-4.24-4.24"/><line x1="1" y1="1" x2="23" y2="23"/></svg> Invisible</span>
    <span class="field-unit__label-optional">* Optionnel</span>
  <% end %>
</div>
<div class="field-unit__field">
  <% if help %>
    <%= f.label help, for:"#{f.object.class.name.underscore}_#{field.attribute}", "class" => "field-unit__help" %>
  <% end %>
  <%= f.text_area field.attribute, placeholder: placeholder %>
</div>
