

//= require administrate/reset/normalize


//= require administrate/selectize/selectize
//= require administrate/datetime_picker/datetime_picker

//= require administrate/library/clearfix
//= require administrate/library/data-label
//= require administrate/library/variables

//= require administrate/base/forms
//= require administrate/base/layout
//= require administrate/base/lists
//= require administrate/base/tables
//= require administrate/base/typography


//= require_tree ../administrate/components
//= require_tree ../administrate/utilities
//= require_tree ../administrate/objects

/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: font-url(asset-path('roboto-v20-latin/roboto-v20-latin-regular.eot')); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       font-url(asset-path('roboto-v20-latin/roboto-v20-latin-regular.eot?#iefix')) format('embedded-opentype'), /* IE6-IE8 */
       font-url(asset-path('roboto-v20-latin/roboto-v20-latin-regular.woff2')) format('woff2'), /* Super Modern Browsers */
       font-url(asset-path('roboto-v20-latin/roboto-v20-latin-regular.woff')) format('woff'), /* Modern Browsers */
       font-url(asset-path('roboto-v20-latin/roboto-v20-latin-regular.ttf')) format('truetype'), /* Safari, Android, iOS */
       font-url(asset-path('roboto-v20-latin/roboto-v20-latin-regular.svg#Roboto')) format('svg'); /* Legacy iOS */
}
/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: font-url(asset-path('roboto-v20-latin/roboto-v20-latin-500.eot')); /* IE9 Compat Modes */
  src: local('Roboto Medium'), local('Roboto-Medium'),
       font-url(asset-path('roboto-v20-latin/roboto-v20-latin-500.eot?#iefix')) format('embedded-opentype'), /* IE6-IE8 */
       font-url(asset-path('roboto-v20-latin/roboto-v20-latin-500.woff2')) format('woff2'), /* Super Modern Browsers */
       font-url(asset-path('roboto-v20-latin/roboto-v20-latin-500.woff')) format('woff'), /* Modern Browsers */
       font-url(asset-path('roboto-v20-latin/roboto-v20-latin-500.ttf')) format('truetype'), /* Safari, Android, iOS */
       font-url(asset-path('roboto-v20-latin/roboto-v20-latin-500.svg#Roboto')) format('svg'); /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: font-url(asset-path('roboto-v20-latin/roboto-v20-latin-700.eot')); /* IE9 Compat Modes */
  src: local('Roboto Bold'), local('Roboto-Bold'),
       font-url(asset-path('roboto-v20-latin/roboto-v20-latin-700.eot?#iefix')) format('embedded-opentype'), /* IE6-IE8 */
       font-url(asset-path('roboto-v20-latin/roboto-v20-latin-700.woff2')) format('woff2'), /* Super Modern Browsers */
       font-url(asset-path('roboto-v20-latin/roboto-v20-latin-700.woff')) format('woff'), /* Modern Browsers */
       font-url(asset-path('roboto-v20-latin/roboto-v20-latin-700.ttf')) format('truetype'), /* Safari, Android, iOS */
       font-url(asset-path('roboto-v20-latin/roboto-v20-latin-700.svg#Roboto')) format('svg'); /* Legacy iOS */
}
