<head>
  <title>Vos résultats | Clara – un service Pôle emploi</title>
  <meta content="Vos résultats" name="description">
  <meta class="og-type" content="website" property="og:type">
  <meta class="og-image" content="http://localhost:3000/assets/clara_preview-69c94d9821c97266591f51b9d41fd677b9310c6de4a0d7a615ed32bdf79abef1.png" property="og:image">
  <meta class="og-site-name" content="Clara | Un service Pôle emploi" property="og:site_name">
  <meta class="og-title" content="Vos résultats | Clara – un service Pôle emploi" property="og:title">
  <meta class="og-description" content="Clara est un service Pôle emploi qui permet de découvrir en 2 minutes les aides et mesures dont vous pouvez bénéficier" property="og:description">
  <meta class="og-url" content="http://localhost/aides?for_id=MjMsNCxuLCwzLG8sLDMyMDEzLG5vdF9hcHBsaWNhYmxlLG4=" property="og:url">
  <meta content="noindex" name="robots">
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  <meta content="initial-scale=1, maximum-scale=1" name="viewport">
  <meta content="no-cache" name="turbolinks-cache-control">
  <!-- Google search console SebSEO -->
  <meta content="neOTrE-YKZ9LbgLlaX8UkYN6MJTPlWpeotPQqbrJ19Q" name="google-site-verification">
  <!-- Google search console Mat -->
  <meta content="TNQnOQs84jCeQUgbEPOAV9gE4LXDUQaG5ypdnlRz2E8" name="google-site-verification">
  <!-- Google search console Beg -->
  <meta content="eZYLdUFSc9uBqciZ7fcOxXybmBPxcPME-N9NCRvFn8w" name="google-site-verification">
  <!-- Google search console Maxd -->
  <meta content="f_xo9InTg_SGabP-vnvDjrslUaixMcuxCaGidnXJT9s" name="google-site-verification">
  <!-- Google search console Davb -->
  <meta content="rjlrEGuLOWAOnmomQMmM5epqCRA3dZY4p1oMDbfCxiY" name="google-site-verification">
  <!-- Google search console Acm -->
  <meta content="YOm5sNGxbHWmN2Rf3Udg6v29ca5YjM3RNRz8TjWA6Pw" name="google-site-verification">
  <!-- Google search console Mar -->
  <meta content="0jDmSXtIkrU_nDcXoExkAHbG0TmRlGrx7LdJoX9ktWg" name="google-site-verification">
  <meta name="csrf-param" content="authenticity_token">
  <meta name="csrf-token" content="737WbdcBUI535l7Z5qX3PUCOEo+JFnF/2Yy6WRE8UEFVLBtY7n/BOkUSogURKZHTKemDU6Ujplqchsw7YKZZ+w==">
</head>
<body class="c-body aides index fonts-loaded" data-env="development" data-path="aides_path">
  <div class="c-turbolinks-transition u-hidden">
    <div class="c-loader"></div>
  </div>
  <div class="c-body__wrapper">
    <div class="c-body__content">
      <div class="c-qh">
        <div class="u-useful-width u-margin-constraint">
          <div class="o-layout">
            <div class="o-layout__item u1/1">
              <div class="c-qh__logo">
                <div class="c-logozone">
                  <a class="c-logozone--clara" href="/">
                  <img alt="Clara, Vos aides en un clic – site en version Bêta" src="/assets/logo-clara-bc8970d15c76f7b6ef100cd60307ddf50d871c470f5af133a814f12fa68e0c1b.svg">
                  </a>
                  <a class="c-logozone--pe" href="https://www.pole-emploi.fr/">
                  <img alt="Pôle Emploi" src="/assets/logo-pe-3bcc99c3def756cb50451ac4d58c061672441f0b3ac65ba00fd1224ee99c5d08.svg">
                  </a>
                </div>
              </div>
              <div class="c-qh__cta"></div>
            </div>
          </div>
        </div>
      </div>
      <main class="c-results-index" id="main" role="main">
        <div class="c-breadcrumb u-useful-width u-margin-constraint">
          <div class="o-layout">
            <div class="o-layout__item u-1/2">
              <nav aria-label="breadcrumbs" role="navigation">
                <a class="c-breadcrumb-link-home" data-turbolinks="true" href="/">
                <span class="c-breadcrumb-home-text">Accueil</span>
                </a>&nbsp;/&nbsp;
                <a class="c-breadcrumb-current c-breadcrumb-current--results" href="">Résultats</a>
              </nav>
            </div>
            <div class="o-layout__item u-1/2">
              <div class="c-breadcrumb-printer u-text--right">
                <span class="c-breadcrumb-printer__item">
                <span>
                <small>Imprimer&nbsp;</small>
                </span>
                <span class="c-breadcrumb-printer__svg">
                </span>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="c-result-default">
          <div class="u-useful-width u-margin-constraint">
            <div class="o-layout">
              <div class="o-layout__item u-1/1 u-1/3@tablet">
                <div class="c-filterings-area u-margin-bottom-small">
                  <div class="c-filterings-area__content">
                    <button class="c-mask-filter u-padding-none js-filters-zone">
                      <div class="c-mask-filter__content u-padding-small u-display-flex">
                        <span class="c-mask-filter__text">Masquer les filtres</span>
                        <span class="c-mask-filter__caret u-margin-left-auto"></span>
                      </div>
                    </button>
                    <fieldset class="c-resultfilterings">
                      <legend class="u-padding-vertical-small u-padding-left-small">Chercher les aides pour</legend>
                      <div id="o_all_filters">
                        <div class="c-resultfiltering c-resultfiltering--even u-padding-small" data-name="travailler-en-alternance">
                          <input id="check_0" type="checkbox">
                          <label class="u-margin-left-small" for="check_0">Travailler en alternance</label>
                        </div>
                        <div class="c-resultfiltering u-padding-small" data-name="s-informer-sur-contrats-specifiques">
                          <input id="check_1" type="checkbox">
                          <label class="u-margin-left-small" for="check_1">S'informer sur les contrats spécifiques</label>
                        </div>
                        <div class="c-resultfiltering c-resultfiltering--even u-padding-small" data-name="travailler-a-l-international">
                          <input id="check_2" type="checkbox">
                          <label class="u-margin-left-small" for="check_2">Travailler en Europe ou à l'international</label>
                        </div>
                        <div class="c-resultfiltering u-padding-small" data-name="garder-enfant">
                          <input id="check_3" type="checkbox">
                          <label class="u-margin-left-small" for="check_3">Faire garder son enfant</label>
                        </div>
                        <div class="c-resultfiltering c-resultfiltering--even u-padding-small" data-name="creer-entreprise">
                          <input id="check_4" type="checkbox">
                          <label class="u-margin-left-small" for="check_4">Créer ou reprendre une entreprise</label>
                        </div>
                        <div class="c-resultfiltering u-padding-small" data-name="accompagne-recherche-emploi">
                          <input id="check_5" type="checkbox">
                          <label class="u-margin-left-small" for="check_5">Être accompagné/e pour la recherche d'emploi</label>
                        </div>
                        <div class="c-resultfiltering c-resultfiltering--even u-padding-small" data-name="trouver-change-de-metier">
                          <input id="check_6" type="checkbox">
                          <label class="u-margin-left-small" for="check_6">Trouver un métier, changer de métier</label>
                        </div>
                        <div class="c-resultfiltering u-padding-small" data-name="se-deplacer">
                          <input id="check_7" type="checkbox">
                          <label class="u-margin-left-small" for="check_7">Se déplacer</label>
                        </div>
                        <div class="c-resultfiltering c-resultfiltering--even u-padding-small" data-name="aides-employeurs">
                          <input id="check_8" type="checkbox">
                          <label class="u-margin-left-small" for="check_8">Connaître les aides au bénéfice des employeurs</label>
                        </div>
                        <div class="c-resultfiltering u-padding-small" data-name="se-former-valoriser-ses-competences">
                          <input id="check_9" type="checkbox">
                          <label class="u-margin-left-small" for="check_9">Financer une formation, obtenir un diplôme</label>
                        </div>
                      </div>
                    </fieldset>
                  </div>
                </div>
                <div class="c-result-situation" id="c-result-situation">
                  <div class="c-situation u-hide-until@tablet">
                    <h4 class="c-situation-title u-padding-small u-display-flex c-mask-filter js-recap-zone is-discrete">
                      <span class="c-mask-filter__text">
                      Récapitulatif de situation
                      </span>
                      <span class="c-mask-filter__caret u-margin-left-auto"></span>
                    </h4>
                    <div class="c-situation__content u-hidden-visually">
                      <div class="c-situation-paragraph c-situation-paragraph--first">
                        <div class="c-situation__header">
                          <div class="o-layout o-layout--flush">
                            <div class="o-layout__item u-1/2 u-text--left">
                              <span class="c-situation__header-title">Données personnelles</span>
                            </div>
                            <div class="o-layout__item u-1/2 u-text--right">
                              <a class=".c-situation__header-link" href="/age_questions/new">
                              <span>Modifier</span>
                              </a>
                            </div>
                          </div>
                        </div>
                        <div class="c-situation__data-list">
                          <div class="c-situation__data-line">
                            <span class="c-situation__data-prop">Âge :</span>
                            <span class="c-situation__data-val c-situation--age">
                            23
                            </span>
                          </div>
                          <div class="c-situation__data-line">
                            <span class="c-situation__data-prop">Diplôme :</span>
                            <span class="c-situation__data-val c-situation--grade">
                            Bac +1 à +2
                            </span>
                          </div>
                          <div class="c-situation__data-line">
                            <span class="c-situation__data-prop">Ville :</span>
                            <span class="c-situation__data-val c-situation--address">
                            32000 Auch
                            </span>
                          </div>
                          <div class="c-situation__data-line">
                            <span class="c-situation__data-prop">Zone de revitalisation rurale :</span>
                            <span class="c-situation__data-val c-situation--zrr">
                            non
                            </span>
                          </div>
                          <div class="c-situation__data-line">
                            <span class="c-situation__data-prop">Quartier prioritaire de la ville :</span>
                            <span class="c-situation__data-val c-situation--qpv">
                            <a href="https://sig.ville.gouv.fr/adresses/recherche" target="blank">vérifier</a>
                            </span>
                          </div>
                        </div>
                      </div>
                      <div class="c-situation-paragraph" data-bind="css: o_toggle_css">
                        <div class="c-situation__header">
                          <div class="o-layout o-layout--flush">
                            <div class="o-layout__item u-1/2 u-text--left">
                              <span class="c-situation__header-title">Situation actuelle</span>
                            </div>
                            <div class="o-layout__item u-1/2 u-text--right">
                              <a class=".c-situation__header-link" href="/inscription_questions/new">
                              <span>Modifier</span>
                              </a>
                            </div>
                          </div>
                        </div>
                        <div class="c-situation__data-list">
                          <div class="c-situation__data-line">
                            <span class="c-situation__data-prop">Durée d'inscription :</span>
                            <span class="c-situation__data-val c-situation--inscription">
                            indisponible
                            </span>
                          </div>
                          <div class="c-situation__data-line">
                            <span class="c-situation__data-prop">Type d'allocation :</span>
                            <span class="c-situation__data-val c-situation--allocation-type">
                            RSA
                            </span>
                          </div>
                        </div>
                      </div>
                      <div class="c-situation-paragraph c-situation-paragraph--last" data-bind="css: o_toggle_css">
                        <div class="c-situation__header">
                          <div class="o-layout o-layout--flush">
                            <div class="o-layout__item u-1/2 u-text--left">
                              <span class="c-situation__header-title">Autres situations</span>
                            </div>
                            <div class="o-layout__item u-1/2 u-text--right">
                              <a class=".c-situation__header-link" href="/other_questions/new">
                              <span>Modifier</span>
                              </a>
                            </div>
                          </div>
                        </div>
                        <div class="c-situation__data-list">
                          <div class="c-situation__data-line">
                            <span class="c-situation__data-prop">Artiste ou technicien(ne) du spectacle :</span>
                            <span class="c-situation__data-val c-situation--spectacle">
                            non
                            </span>
                          </div>
                          <div class="c-situation__data-line">
                            <span class="c-situation__data-prop">Travailleur(euse) handicapé(e) :</span>
                            <span class="c-situation__data-val c-situation--handicap">
                            oui
                            </span>
                          </div>
                          <div class="c-situation__data-line">
                            <span class="c-situation__data-prop">Cadre en recherche :</span>
                            <span class="c-situation__data-val c-situation--cadre">
                            non
                            </span>
                          </div>
                        </div>
                      </div>
                      <div class="c-situation-reset u-margin-vertical" data-bind="css: o_toggle_css">
                        <a class="c-situation-reset__button" href="/">Je recalcule mes aides</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="o-layout__item u-1/1 u-2/3@tablet">
                <div id="o_filterstag">
                  <div class="c-filterstag-container u-text--left">
                    <div class="c-filterstag__item u-hidden" data-name="travailler-en-alternance">
                      <div class="c-filtertag">
                        <div class="o-layout o-layout--flush">
                          <div class="o-layout__item u-5/6 u-text--left c-filtertag__text">
                            Travailler en alternance
                          </div>
                          <div class="o-layout__item u-1/6 u-text--right c-filtertag__close">
                            &nbsp;✖
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="c-filterstag__item u-hidden" data-name="s-informer-sur-contrats-specifiques">
                      <div class="c-filtertag">
                        <div class="o-layout o-layout--flush">
                          <div class="o-layout__item u-5/6 u-text--left c-filtertag__text">
                            S'informer sur les contrats spécifiques
                          </div>
                          <div class="o-layout__item u-1/6 u-text--right c-filtertag__close">
                            &nbsp;✖
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="c-filterstag__item u-hidden" data-name="travailler-a-l-international">
                      <div class="c-filtertag">
                        <div class="o-layout o-layout--flush">
                          <div class="o-layout__item u-5/6 u-text--left c-filtertag__text">
                            Travailler en Europe ou à l'international
                          </div>
                          <div class="o-layout__item u-1/6 u-text--right c-filtertag__close">
                            &nbsp;✖
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="c-filterstag__item u-hidden" data-name="garder-enfant">
                      <div class="c-filtertag">
                        <div class="o-layout o-layout--flush">
                          <div class="o-layout__item u-5/6 u-text--left c-filtertag__text">
                            Faire garder son enfant
                          </div>
                          <div class="o-layout__item u-1/6 u-text--right c-filtertag__close">
                            &nbsp;✖
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="c-filterstag__item u-hidden" data-name="creer-entreprise">
                      <div class="c-filtertag">
                        <div class="o-layout o-layout--flush">
                          <div class="o-layout__item u-5/6 u-text--left c-filtertag__text">
                            Créer ou reprendre une entreprise
                          </div>
                          <div class="o-layout__item u-1/6 u-text--right c-filtertag__close">
                            &nbsp;✖
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="c-filterstag__item u-hidden" data-name="accompagne-recherche-emploi">
                      <div class="c-filtertag">
                        <div class="o-layout o-layout--flush">
                          <div class="o-layout__item u-5/6 u-text--left c-filtertag__text">
                            Être accompagné/e pour la recherche d'emploi
                          </div>
                          <div class="o-layout__item u-1/6 u-text--right c-filtertag__close">
                            &nbsp;✖
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="c-filterstag__item u-hidden" data-name="trouver-change-de-metier">
                      <div class="c-filtertag">
                        <div class="o-layout o-layout--flush">
                          <div class="o-layout__item u-5/6 u-text--left c-filtertag__text">
                            Trouver un métier, changer de métier
                          </div>
                          <div class="o-layout__item u-1/6 u-text--right c-filtertag__close">
                            &nbsp;✖
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="c-filterstag__item u-hidden" data-name="se-deplacer">
                      <div class="c-filtertag">
                        <div class="o-layout o-layout--flush">
                          <div class="o-layout__item u-5/6 u-text--left c-filtertag__text">
                            Se déplacer
                          </div>
                          <div class="o-layout__item u-1/6 u-text--right c-filtertag__close">
                            &nbsp;✖
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="c-filterstag__item u-hidden" data-name="aides-employeurs">
                      <div class="c-filtertag">
                        <div class="o-layout o-layout--flush">
                          <div class="o-layout__item u-5/6 u-text--left c-filtertag__text">
                            Connaître les aides au bénéfice des employeurs
                          </div>
                          <div class="o-layout__item u-1/6 u-text--right c-filtertag__close">
                            &nbsp;✖
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="c-filterstag__item u-hidden" data-name="se-former-valoriser-ses-competences">
                      <div class="c-filtertag">
                        <div class="o-layout o-layout--flush">
                          <div class="o-layout__item u-5/6 u-text--left c-filtertag__text">
                            Financer une formation, obtenir un diplôme
                          </div>
                          <div class="o-layout__item u-1/6 u-text--right c-filtertag__close">
                            &nbsp;✖
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="u-hidden" id="nothing">
                  <h2 class="u-margin-vertical-small">
                    Aucune aide trouvée
                  </h2>
                  <p class="c-nothing__line u-margin-top-none">
                    Activez moins de filtres dans votre recherche
                  </p>
                </div>
                <section class="u-margin-bottom" id="eligibles">
                  <div class="c-resulteligy">
                    <div class="u-display-flex">
                      <div>
                        <h1 class="c-result-youcan">Vous pouvez bénéficier de</h1>
                      </div>
                      <div class="u-display-flex u-margin-left-auto">
                        <div class="u-hide-until@wide">
                          <button class="c-btn c-btn--small c-btn--result js-fold">
                          Tout déplier <span class="c-resultcaret"></span>
                          </button>
                          <button class="c-btn c-btn--small c-btn--result js-unfold u-hidden-visually">
                          Tout replier <span class="c-resultcaret"></span>
                          </button>
                        </div>
                      </div>
                    </div>
                    <div id="o_aids_per_contract">
                      <div class="c-resultcard c-resultcard--green" data-cslug="aide-a-la-definition-du-projet-professionnel">
                        <div class="c-resultcard__inner o-layout o-layout--middle o-layout--flush u-padding-horizontal-tiny">
                          <div class="o-layout__item u-3/4">
                            <div class="o-flag o-flag--flush c-resultcontract">
                              <div class="o-flag__img u-hide-until@wide">
                              </div>
                              <div class="o-flag__body">
                                <h2 class="c-resultcontract-title">
                                  <span class="c-resultcontract-title__number">1</span>
                                  <span class="c-resultcontract-title__text" data-cplural="Aides à la définition du projet professionnel" data-csingle="Aide à la définition du projet professionnel">Aide à la définition du projet professionnel</span>
                                </h2>
                                <p class="c-resultcontract_descr">
                                  Aide(s) à la définition du projet professionnel
                                </p>
                              </div>
                            </div>
                          </div>
                          <div aria-hidden="true" class="o-layout__item u-1/4 u-text--right">
                            <button class="c-btn c-btn--small c-btn--result js-open"><span class="c-resultcaretopen u-hide-until@wide">Ouvrir&nbsp;&nbsp;</span><span class="c-resultcaret"></span></button>
                            <button class="c-btn c-btn--small c-btn--result js-close u-hidden-visually"><span class="c-resultcaretclose u-hide-until@wide">Replier&nbsp;&nbsp;</span><span class="c-resultcaret"></span></button>
                          </div>
                        </div>
                        <div class="c-resultaids u-hidden-visually">
                          <div class="c-resultaid" data-aslug="garantie-jeunes">
                            <div class="o-layout o-layout--middle o-layout--flush">
                              <div class="o-layout__item u-3/4">
                                <h3 class="c-resultaid__smalltitle">Garantie Jeunes</h3>
                                <p class="u-margin-bottom-none">Accompagnement social et professionnel assorti d'un soutien financier</p>
                                <ul class="o-list-inline c-resultfilters u-margin-bottom-none u-hidden-visually">
                                  <li class="o-list-inline__item c-resultfilter u-margin-top-tiny" data-name="accompagne-recherche-emploi">Être accompagné/e pour la recherche d'emploi</li>
                                </ul>
                              </div>
                              <div class="o-layout__item u-1/4 u-text--right">
                                <a class="c-btn c-btn--aid c-btn--primary u-padding-horizontal@desktop u-padding-vertical-tiny@desktop" href="/aides/detail/garantie-jeunes?for_id=MjMsNCxuLCwzLG8sLDMyMDEzLG5vdF9hcHBsaWNhYmxlLG4=">En savoir plus</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="c-resultcard c-resultcard--green" data-cslug="emploi-international">
                        <div class="c-resultcard__inner o-layout o-layout--middle o-layout--flush u-padding-horizontal-tiny">
                          <div class="o-layout__item u-3/4">
                            <div class="o-flag o-flag--flush c-resultcontract">
                              <div class="o-flag__img u-hide-until@wide">
                              </div>
                              <div class="o-flag__body">
                                <h2 class="c-resultcontract-title">
                                  <span class="c-resultcontract-title__number">1</span>
                                  <span class="c-resultcontract-title__text" data-cplural="Emplois internationaux" data-csingle="Emploi international">Emploi international</span>
                                </h2>
                                <p class="c-resultcontract_descr">
                                  Emploi(s) en Europe ou à l'international
                                </p>
                              </div>
                            </div>
                          </div>
                          <div aria-hidden="true" class="o-layout__item u-1/4 u-text--right">
                            <button class="c-btn c-btn--small c-btn--result js-open"><span class="c-resultcaretopen u-hide-until@wide">Ouvrir&nbsp;&nbsp;</span><span class="c-resultcaret"></span></button>
                            <button class="c-btn c-btn--small c-btn--result js-close u-hidden-visually"><span class="c-resultcaretclose u-hide-until@wide">Replier&nbsp;&nbsp;</span><span class="c-resultcaret"></span></button>
                          </div>
                        </div>
                        <div class="c-resultaids u-hidden-visually">
                          <div class="c-resultaid" data-aslug="vsi-volontariat-de-solidarite-internationale">
                            <div class="o-layout o-layout--middle o-layout--flush">
                              <div class="o-layout__item u-3/4">
                                <h3 class="c-resultaid__smalltitle">Volontariat de solidarité internationale (VSI)</h3>
                                <p class="u-margin-bottom-none">Missions effectuées en dehors de l'espace économique européen et au sein d'associations agréées</p>
                                <ul class="o-list-inline c-resultfilters u-margin-bottom-none u-hidden-visually">
                                  <li class="o-list-inline__item c-resultfilter u-margin-top-tiny" data-name="travailler-a-l-international">Travailler en Europe ou à l'international</li>
                                </ul>
                              </div>
                              <div class="o-layout__item u-1/4 u-text--right">
                                <a class="c-btn c-btn--aid c-btn--primary u-padding-horizontal@desktop u-padding-vertical-tiny@desktop" href="/aides/detail/vsi-volontariat-de-solidarite-internationale?for_id=MjMsNCxuLCwzLG8sLDMyMDEzLG5vdF9hcHBsaWNhYmxlLG4=">En savoir plus</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
                <section class="u-margin-bottom" id="uncertains">
                  <div class="c-resulteligy">
                    <div class="u-display-flex">
                      <div>
                        <h1 class="c-result-youcan">Vous pourriez peut-être bénéficier de</h1>
                      </div>
                      <div class="u-display-flex u-margin-left-auto">
                        <div class="u-hide-until@wide">
                          <button class="c-btn c-btn--small c-btn--result js-fold">
                          Tout déplier <span class="c-resultcaret"></span>
                          </button>
                          <button class="c-btn c-btn--small c-btn--result js-unfold u-hidden-visually">
                          Tout replier <span class="c-resultcaret"></span>
                          </button>
                        </div>
                      </div>
                    </div>
                    <div id="o_aids_per_contract">
                      <div class="c-resultcard c-resultcard--orange" data-cslug="aide-a-la-mobilite">
                        <div class="c-resultcard__inner o-layout o-layout--middle o-layout--flush u-padding-horizontal-tiny">
                          <div class="o-layout__item u-3/4">
                            <div class="o-flag o-flag--flush c-resultcontract">
                              <div class="o-flag__img u-hide-until@wide">
                              </div>
                              <div class="o-flag__body">
                                <h2 class="c-resultcontract-title">
                                  <span class="c-resultcontract-title__number">2</span>
                                  <span class="c-resultcontract-title__text" data-cplural="Aides à la mobilité" data-csingle="Aide à la mobilité">Aides à la mobilité</span>
                                </h2>
                                <p class="c-resultcontract_descr">
                                  Aide(s) à la mobilité
                                </p>
                              </div>
                            </div>
                          </div>
                          <div aria-hidden="true" class="o-layout__item u-1/4 u-text--right">
                            <button class="c-btn c-btn--small c-btn--result js-open"><span class="c-resultcaretopen u-hide-until@wide">Ouvrir&nbsp;&nbsp;</span><span class="c-resultcaret"></span></button>
                            <button class="c-btn c-btn--small c-btn--result js-close u-hidden-visually"><span class="c-resultcaretclose u-hide-until@wide">Replier&nbsp;&nbsp;</span><span class="c-resultcaret"></span></button>
                          </div>
                        </div>
                        <div class="c-resultaids u-hidden-visually">
                          <div class="c-resultaid" data-aslug="autres-frais-derogatoires">
                            <div class="o-layout o-layout--middle o-layout--flush">
                              <div class="o-layout__item u-3/4">
                                <h3 class="c-resultaid__smalltitle">Autres frais dérogatoires</h3>
                                <p class="u-margin-bottom-none">Déménagement, frais liés au véhicule, achat de matériel, frais vestimentaires, frais exceptionnels, ...</p>
                                <ul class="o-list-inline c-resultfilters u-margin-bottom-none u-hidden-visually">
                                  <li class="o-list-inline__item c-resultfilter u-margin-top-tiny" data-name="se-deplacer">Se déplacer</li>
                                  <li class="o-list-inline__item c-resultfilter u-margin-top-tiny" data-name="accompagne-recherche-emploi">Être accompagné/e pour la recherche d'emploi</li>
                                </ul>
                              </div>
                              <div class="o-layout__item u-1/4 u-text--right">
                                <a class="c-btn c-btn--aid c-btn--primary u-padding-horizontal@desktop u-padding-vertical-tiny@desktop" href="/aides/detail/autres-frais-derogatoires?for_id=MjMsNCxuLCwzLG8sLDMyMDEzLG5vdF9hcHBsaWNhYmxlLG4=">En savoir plus</a>
                              </div>
                            </div>
                          </div>
                          <div class="c-resultaid" data-aslug="autres-aides-nationales-pour-la-mobilite">
                            <div class="o-layout o-layout--middle o-layout--flush">
                              <div class="o-layout__item u-3/4">
                                <h3 class="c-resultaid__smalltitle">Autres aides nationales pour la mobilité</h3>
                                <p class="u-margin-bottom-none">Aides au déplacement, à l'hébergement, à la garde d'enfant, réparation de véhicules, habillement, ...</p>
                                <ul class="o-list-inline c-resultfilters u-margin-bottom-none u-hidden-visually">
                                  <li class="o-list-inline__item c-resultfilter u-margin-top-tiny" data-name="se-deplacer">Se déplacer</li>
                                  <li class="o-list-inline__item c-resultfilter u-margin-top-tiny" data-name="garder-enfant">Faire garder son enfant</li>
                                  <li class="o-list-inline__item c-resultfilter u-margin-top-tiny" data-name="accompagne-recherche-emploi">Être accompagné/e pour la recherche d'emploi</li>
                                </ul>
                              </div>
                              <div class="o-layout__item u-1/4 u-text--right">
                                <a class="c-btn c-btn--aid c-btn--primary u-padding-horizontal@desktop u-padding-vertical-tiny@desktop" href="/aides/detail/autres-aides-nationales-pour-la-mobilite?for_id=MjMsNCxuLCwzLG8sLDMyMDEzLG5vdF9hcHBsaWNhYmxlLG4=">En savoir plus</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="c-resultcard c-resultcard--orange" data-cslug="emploi-international">
                        <div class="c-resultcard__inner o-layout o-layout--middle o-layout--flush u-padding-horizontal-tiny">
                          <div class="o-layout__item u-3/4">
                            <div class="o-flag o-flag--flush c-resultcontract">
                              <div class="o-flag__img u-hide-until@wide">
                              </div>
                              <div class="o-flag__body">
                                <h2 class="c-resultcontract-title">
                                  <span class="c-resultcontract-title__number">1</span>
                                  <span class="c-resultcontract-title__text" data-cplural="Emplois internationaux" data-csingle="Emploi international">Emploi international</span>
                                </h2>
                                <p class="c-resultcontract_descr">
                                  Emploi(s) en Europe ou à l'international
                                </p>
                              </div>
                            </div>
                          </div>
                          <div aria-hidden="true" class="o-layout__item u-1/4 u-text--right">
                            <button class="c-btn c-btn--small c-btn--result js-open"><span class="c-resultcaretopen u-hide-until@wide">Ouvrir&nbsp;&nbsp;</span><span class="c-resultcaret"></span></button>
                            <button class="c-btn c-btn--small c-btn--result js-close u-hidden-visually"><span class="c-resultcaretclose u-hide-until@wide">Replier&nbsp;&nbsp;</span><span class="c-resultcaret"></span></button>
                          </div>
                        </div>
                        <div class="c-resultaids u-hidden-visually">
                          <div class="c-resultaid" data-aslug="erasmus">
                            <div class="o-layout o-layout--middle o-layout--flush">
                              <div class="o-layout__item u-3/4">
                                <h3 class="c-resultaid__smalltitle">Erasmus +</h3>
                                <p class="u-margin-bottom-none">Programme permettant d'avoir une expérience professionnelle à l'étranger</p>
                                <ul class="o-list-inline c-resultfilters u-margin-bottom-none u-hidden-visually">
                                  <li class="o-list-inline__item c-resultfilter u-margin-top-tiny" data-name="travailler-a-l-international">Travailler en Europe ou à l'international</li>
                                </ul>
                              </div>
                              <div class="o-layout__item u-1/4 u-text--right">
                                <a class="c-btn c-btn--aid c-btn--primary u-padding-horizontal@desktop u-padding-vertical-tiny@desktop" href="/aides/detail/erasmus?for_id=MjMsNCxuLCwzLG8sLDMyMDEzLG5vdF9hcHBsaWNhYmxlLG4=">En savoir plus</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
                <section id="ineligibles">
                  <div class="o_ineligibles__content">
                    <div class="o-list-inline">
                      <div class="o-list-inline__item">
                        <h1 class="c-result-youcan u-margin-bottom-none">Vous ne pouvez pas bénéficier de</h1>
                      </div>
                      <div class="o-list-inline__item">
                        <button class="c-hide-button u-margin-left-tiny u-padding-horizontal js-toggle-ineligies">Cacher</button>
                      </div>
                    </div>
                    <div class="c-resulteligy u-margin-top-small js-ineligibles-zone">
                      <div class="u-display-flex">
                        <div></div>
                      </div>
                      <div class="u-display-flex">
                        <div class="u-hide-until@wide u-margin-left-auto">
                          <button class="c-btn c-btn--small c-btn--result js-fold">
                          Tout déplier <span class="c-resultcaret"></span>
                          </button>
                          <button class="c-btn c-btn--small c-btn--result js-unfold u-hidden-visually">
                          Tout replier <span class="c-resultcaret"></span>
                          </button>
                        </div>
                        <div style="clear: both;"></div>
                      </div>
                      <div id="o_aids_per_contract">
                        <div class="c-resultcard c-resultcard--red" data-cslug="aide-a-la-mobilite">
                          <div class="c-resultcard__inner o-layout o-layout--middle o-layout--flush u-padding-horizontal-tiny">
                            <div class="o-layout__item u-3/4">
                              <div class="o-flag o-flag--flush c-resultcontract">
                                <div class="o-flag__img u-hide-until@wide">
                                </div>
                                <div class="o-flag__body">
                                  <h2 class="c-resultcontract-title">
                                    <span class="c-resultcontract-title__number">2</span>
                                    <span class="c-resultcontract-title__text" data-cplural="Aides à la mobilité" data-csingle="Aide à la mobilité">Aides à la mobilité</span>
                                  </h2>
                                  <p class="c-resultcontract_descr">
                                    Aide(s) à la mobilité
                                  </p>
                                </div>
                              </div>
                            </div>
                            <div aria-hidden="true" class="o-layout__item u-1/4 u-text--right">
                              <button class="c-btn c-btn--small c-btn--result js-open"><span class="c-resultcaretopen u-hide-until@wide">Ouvrir&nbsp;&nbsp;</span><span class="c-resultcaret"></span></button>
                              <button class="c-btn c-btn--small c-btn--result js-close u-hidden-visually"><span class="c-resultcaretclose u-hide-until@wide">Replier&nbsp;&nbsp;</span><span class="c-resultcaret"></span></button>
                            </div>
                          </div>
                          <div class="c-resultaids u-hidden-visually">
                            <div class="c-resultaid" data-aslug="aide-a-la-mobilite-professionnelle-des-artistes-et-technicien-ne-s-du-spectacle">
                              <div class="o-layout o-layout--middle o-layout--flush">
                                <div class="o-layout__item u-3/4">
                                  <h3 class="c-resultaid__smalltitle">Aide à la mobilité professionnelle des artistes et technicien(ne)s du spectacle</h3>
                                  <p class="u-margin-bottom-none">Prise en charge des frais de déplacement ou d'hébergement temporaires</p>
                                  <ul class="o-list-inline c-resultfilters u-margin-bottom-none u-hidden-visually">
                                    <li class="o-list-inline__item c-resultfilter u-margin-top-tiny" data-name="se-deplacer">Se déplacer</li>
                                  </ul>
                                </div>
                                <div class="o-layout__item u-1/4 u-text--right">
                                  <a class="c-btn c-btn--aid c-btn--primary u-padding-horizontal@desktop u-padding-vertical-tiny@desktop" href="/aides/detail/aide-a-la-mobilite-professionnelle-des-artistes-et-technicien-ne-s-du-spectacle?for_id=MjMsNCxuLCwzLG8sLDMyMDEzLG5vdF9hcHBsaWNhYmxlLG4=">En savoir plus</a>
                                </div>
                              </div>
                            </div>
                            <div class="c-resultaid" data-aslug="aide-aux-depenses-de-sante-des-artistes-et-technicien-ne-s-du-spectacle">
                              <div class="o-layout o-layout--middle o-layout--flush">
                                <div class="o-layout__item u-3/4">
                                  <h3 class="c-resultaid__smalltitle">Aide aux dépenses de santé des artistes et technicien(ne)s du spectacle</h3>
                                  <p class="u-margin-bottom-none">Prise en charge des frais de optiques, auditifs, dentaires, ...nécessaires à l'exercice du métier</p>
                                  <ul class="o-list-inline c-resultfilters u-margin-bottom-none u-hidden-visually">
                                    <li class="o-list-inline__item c-resultfilter u-margin-top-tiny" data-name="accompagne-recherche-emploi">Être accompagné/e pour la recherche d'emploi</li>
                                  </ul>
                                </div>
                                <div class="o-layout__item u-1/4 u-text--right">
                                  <a class="c-btn c-btn--aid c-btn--primary u-padding-horizontal@desktop u-padding-vertical-tiny@desktop" href="/aides/detail/aide-aux-depenses-de-sante-des-artistes-et-technicien-ne-s-du-spectacle?for_id=MjMsNCxuLCwzLG8sLDMyMDEzLG5vdF9hcHBsaWNhYmxlLG4=">En savoir plus</a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="c-resultcard c-resultcard--red" data-cslug="aide-a-la-definition-du-projet-professionnel">
                          <div class="c-resultcard__inner o-layout o-layout--middle o-layout--flush u-padding-horizontal-tiny">
                            <div class="o-layout__item u-3/4">
                              <div class="o-flag o-flag--flush c-resultcontract">
                                <div class="o-flag__img u-hide-until@wide">
                                </div>
                                <div class="o-flag__body">
                                  <h2 class="c-resultcontract-title">
                                    <span class="c-resultcontract-title__number">1</span>
                                    <span class="c-resultcontract-title__text" data-cplural="Aides à la définition du projet professionnel" data-csingle="Aide à la définition du projet professionnel">Aide à la définition du projet professionnel</span>
                                  </h2>
                                  <p class="c-resultcontract_descr">
                                    Aide(s) à la définition du projet professionnel
                                  </p>
                                </div>
                              </div>
                            </div>
                            <div aria-hidden="true" class="o-layout__item u-1/4 u-text--right">
                              <button class="c-btn c-btn--small c-btn--result js-open"><span class="c-resultcaretopen u-hide-until@wide">Ouvrir&nbsp;&nbsp;</span><span class="c-resultcaret"></span></button>
                              <button class="c-btn c-btn--small c-btn--result js-close u-hidden-visually"><span class="c-resultcaretclose u-hide-until@wide">Replier&nbsp;&nbsp;</span><span class="c-resultcaret"></span></button>
                            </div>
                          </div>
                          <div class="c-resultaids u-hidden-visually">
                            <div class="c-resultaid" data-aslug="service-militaire-volontaire-smv">
                              <div class="o-layout o-layout--middle o-layout--flush">
                                <div class="o-layout__item u-3/4">
                                  <h3 class="c-resultaid__smalltitle">Service Militaire Volontaire (SMV)</h3>
                                  <p class="u-margin-bottom-none">Le SMV aide à élaborer ou à confirmer un parcours professionnel</p>
                                  <ul class="o-list-inline c-resultfilters u-margin-bottom-none u-hidden-visually">
                                    <li class="o-list-inline__item c-resultfilter u-margin-top-tiny" data-name="trouver-change-de-metier">Trouver un métier, changer de métier</li>
                                    <li class="o-list-inline__item c-resultfilter u-margin-top-tiny" data-name="se-former-valoriser-ses-competences">Financer une formation, obtenir un diplôme</li>
                                  </ul>
                                </div>
                                <div class="o-layout__item u-1/4 u-text--right">
                                  <a class="c-btn c-btn--aid c-btn--primary u-padding-horizontal@desktop u-padding-vertical-tiny@desktop" href="/aides/detail/service-militaire-volontaire-smv?for_id=MjMsNCxuLCwzLG8sLDMyMDEzLG5vdF9hcHBsaWNhYmxlLG4=">En savoir plus</a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="c-resultcard c-resultcard--red" data-cslug="contrat-specifique">
                          <div class="c-resultcard__inner o-layout o-layout--middle o-layout--flush u-padding-horizontal-tiny">
                            <div class="o-layout__item u-3/4">
                              <div class="o-flag o-flag--flush c-resultcontract">
                                <div class="o-flag__img u-hide-until@wide">
                                </div>
                                <div class="o-flag__body">
                                  <h2 class="c-resultcontract-title">
                                    <span class="c-resultcontract-title__number">1</span>
                                    <span class="c-resultcontract-title__text" data-cplural="Contrats spécifiques" data-csingle="Contrat spécifique">Contrat spécifique</span>
                                  </h2>
                                  <p class="c-resultcontract_descr">
                                    Dispositif(s) spécifique(s)
                                  </p>
                                </div>
                              </div>
                            </div>
                            <div aria-hidden="true" class="o-layout__item u-1/4 u-text--right">
                              <button class="c-btn c-btn--small c-btn--result js-open"><span class="c-resultcaretopen u-hide-until@wide">Ouvrir&nbsp;&nbsp;</span><span class="c-resultcaret"></span></button>
                              <button class="c-btn c-btn--small c-btn--result js-close u-hidden-visually"><span class="c-resultcaretclose u-hide-until@wide">Replier&nbsp;&nbsp;</span><span class="c-resultcaret"></span></button>
                            </div>
                          </div>
                          <div class="c-resultaids u-hidden-visually">
                            <div class="c-resultaid" data-aslug="volontariat-associatif">
                              <div class="o-layout o-layout--middle o-layout--flush">
                                <div class="o-layout__item u-3/4">
                                  <h3 class="c-resultaid__smalltitle">Volontariat associatif</h3>
                                  <p class="u-margin-bottom-none">Mission à caractère éducatif, environnemental, humanitaire, sportif...</p>
                                  <ul class="o-list-inline c-resultfilters u-margin-bottom-none u-hidden-visually">
                                    <li class="o-list-inline__item c-resultfilter u-margin-top-tiny" data-name="s-informer-sur-contrats-specifiques">S'informer sur les contrats spécifiques</li>
                                  </ul>
                                </div>
                                <div class="o-layout__item u-1/4 u-text--right">
                                  <a class="c-btn c-btn--aid c-btn--primary u-padding-horizontal@desktop u-padding-vertical-tiny@desktop" href="/aides/detail/volontariat-associatif?for_id=MjMsNCxuLCwzLG8sLDMyMDEzLG5vdF9hcHBsaWNhYmxlLG4=">En savoir plus</a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
                <div class="c-result-warning u-margin-vertical">
                  <p class="c-result-warning__line">Simulation non contractuelle tenant compte des éléments déclarés et appréciés le 25/01/2019</p>
                  <p class="c-result-warning__line">Clara n'intègre pas encore les spécificités des aides et mesures applicables dans les régions et collectivités d'Outre Mer.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
    <footer class="c-body__footer">
      <div class="c-footer not_home u-padding-vertical-large">
        <div class="u-useful-width u-margin-constraint">
          <div class="o-layout">
            <div class="o-layout__item u-1/1 u-1/3@tablet">
              <div class="c-footer__content first">
                <div class="c-footer-cgu">
                  <a href="/conditions-generales-d-utilisation">Conditions générales d'utilisation</a>
                  <a href="/contact">Nous contacter</a>
                  <a href="/cookies/preference/edit">RGPD</a>
                  <a href="/confidentiality">Cookies et politique de confidentialité</a>
                </div>
              </div>
            </div>
            <div class="o-layout__item u-1/1 u-1/3@tablet">
              <div class="c-footer__content c-footer__content--aides_not_home second">
                <a class="c-link-to-all-aides__not_home" href="/aides">Toutes nos aides</a>
              </div>
            </div>
            <div class="o-layout__item u-1/1 u-1/3@tablet">
              <div class="c-footer__content third">
                <div class="c-footer-motherhome">
                  <small>
                  Copyright 2019 ©CLARA
                  </small>
                  <small>
                  <a target="_blank" class="c-propels-by" href="https://www.pole-emploi.fr/">propulsé par POLE EMPLOI</a>
                  </small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <div id="ads"></div>
  <iframe name="_hjRemoteVarsFrame" title="_hjRemoteVarsFrame" id="_hjRemoteVarsFrame" src="https://vars.hotjar.com/rcj-da10bd4908deb9e19dfde013ec3fe4ff.html" style="display: none !important; width: 1px !important; height: 1px !important; opacity: 0 !important; pointer-events: none !important;"></iframe>
  <div>
    <div id="_hj_poll_container">
      <div id="_hj-f5b2a1eb-9b07_poll" class="_hj-f5b2a1eb-9b07_widget _hj-f5b2a1eb-9b07_ltr _hj-f5b2a1eb-9b07_skin_dark _hj-f5b2a1eb-9b07_position_right _hj-f5b2a1eb-9b07_widget_hidden _hj-f5b2a1eb-9b07_widget_short" style="bottom: 0px;">
        <a class="_hj-f5b2a1eb-9b07_widget_open_close _hj-f5b2a1eb-9b07_action_toggle_widget"><span class="_hj-f5b2a1eb-9b07_widget_icon"></span></a>                    
        <div class="_hj-f5b2a1eb-9b07_widget_hidden_handle _hj-f5b2a1eb-9b07_action_toggle_widget"></div>
        <p class="_hj-f5b2a1eb-9b07_widget_title _hj-f5b2a1eb-9b07_action_open_widget">                                                    <span id="_hj-f5b2a1eb-9b07_question_text_0" class="_hj-f5b2a1eb-9b07_question_text ">Etes-vous qqn de bien ?</span>                                                    <span id="_hj-f5b2a1eb-9b07_question_text_1" class="_hj-f5b2a1eb-9b07_question_text                                 _hj-f5b2a1eb-9b07_hidden">Would you like a response to your question or comment?</span>                                            </p>
        <div class="_hj-f5b2a1eb-9b07_widget_initiator">                        <button type="button" class="_hj-f5b2a1eb-9b07_btn_primary _hj-f5b2a1eb-9b07_rounded_corners _hj-f5b2a1eb-9b07_transition                             _hj-f5b2a1eb-9b07_shadow _hj-f5b2a1eb-9b07_action_open_widget">Reply</button>                    </div>
        <div class="_hj-f5b2a1eb-9b07_widget_state _hj-f5b2a1eb-9b07_widget_state_open">
          <div id="_hj-f5b2a1eb-9b07_question_content_0" _hj_question_type="single-open-ended-multiple-line" class="_hj-f5b2a1eb-9b07_question_content ">
            <div class="_hj-f5b2a1eb-9b07_widget_content">                                        <textarea maxlength="255" class="_hj-f5b2a1eb-9b07_input_field _hj-f5b2a1eb-9b07_rounded_corners" name="_hj-f5b2a1eb-9b07_question_0_answer" rows="3" placeholder="Please type here..."></textarea>                                    </div>
          </div>
          <div id="_hj-f5b2a1eb-9b07_question_content_1" _hj_question_type="single-close-ended" class="_hj-f5b2a1eb-9b07_question_content _hj-f5b2a1eb-9b07_hidden">
            <div class="_hj-f5b2a1eb-9b07_widget_content">
              <div class="_hj-f5b2a1eb-9b07_button_radio_checkbox _hj-f5b2a1eb-9b07_button_radio_checkbox_full                                             _hj-f5b2a1eb-9b07_button_radio                                                _hj-f5b2a1eb-9b07_with_comment                                            " data-key="response" data-index="0" data-value="Yes (please enter your email address)">
                <span class="_hj-f5b2a1eb-9b07_widget_icon"></span>                                                <span class="_hj-f5b2a1eb-9b07_radio_checkbox_text">                                                    Yes (please enter your email address)                                                </span>                                                
                <div class="_hj-f5b2a1eb-9b07_comment_box">                                                    <textarea maxlength="255" class="_hj-f5b2a1eb-9b07_input_field _hj-f5b2a1eb-9b07_rounded_corners" name="_hj-f5b2a1eb-9b07_question_1_answer_0_comment" rows="3" placeholder="Please type here..."></textarea>                                                </div>
              </div>
              <div class="_hj-f5b2a1eb-9b07_button_radio_checkbox _hj-f5b2a1eb-9b07_button_radio_checkbox_full                                             _hj-f5b2a1eb-9b07_button_radio                                                _hj-f5b2a1eb-9b07_button_radio_checkbox_last                                            " data-key="response" data-index="1" data-value="No thanks">
                <span class="_hj-f5b2a1eb-9b07_widget_icon"></span>                                                <span class="_hj-f5b2a1eb-9b07_radio_checkbox_text">                                                    No thanks                                                </span>                                                
                <div class="_hj-f5b2a1eb-9b07_comment_box">                                                    <textarea maxlength="255" class="_hj-f5b2a1eb-9b07_input_field _hj-f5b2a1eb-9b07_rounded_corners" name="_hj-f5b2a1eb-9b07_question_1_answer_1_comment" rows="3" placeholder="Please type here..."></textarea>                                                </div>
              </div>
            </div>
          </div>
          <div class="_hj-f5b2a1eb-9b07_widget_footer">
            <div class="_hj-f5b2a1eb-9b07_pull_left">                                    <span class="_hj-f5b2a1eb-9b07_widget_icon"></span>                                    Not using <a href="https://www.hotjar.com/feedback-polls?utm_source=client&amp;utm_medium=poll&amp;utm_campaign=insights" target="_blank">Hotjar</a> yet?                                </div>
            <div class="_hj-f5b2a1eb-9b07_pull_right">                                <button type="button" id="_hj-f5b2a1eb-9b07_action_submit" class="_hj-f5b2a1eb-9b07_btn_primary _hj-f5b2a1eb-9b07_btn_disabled _hj-f5b2a1eb-9b07_rounded_corners                                         _hj-f5b2a1eb-9b07_transition _hj-f5b2a1eb-9b07_shadow">Send                                     <span class="_hj-f5b2a1eb-9b07_widget_icon"></span>                                </button>                            </div>
            <div class="_hj-f5b2a1eb-9b07_clear_both"></div>
          </div>
        </div>
        <div class="_hj-f5b2a1eb-9b07_widget_state _hj-f5b2a1eb-9b07_widget_state_thankyou">
          <p class="_hj-f5b2a1eb-9b07_thankyou_message">                            Thank you for answering this Poll. Your feedback is highly appreciated!<br>                            <button type="button" class="_hj-f5b2a1eb-9b07_btn_primary _hj-f5b2a1eb-9b07_rounded_corners _hj-f5b2a1eb-9b07_transition                                 _hj-f5b2a1eb-9b07_shadow _hj-f5b2a1eb-9b07_action_dismiss_widget">Close</button>                        </p>
          <div class="_hj-f5b2a1eb-9b07_widget_footer">
            <div class="_hj-f5b2a1eb-9b07_pull_left">                                    <span class="_hj-f5b2a1eb-9b07_widget_icon"></span>                                    Not using <a href="https://www.hotjar.com/feedback-polls?utm_source=client&amp;utm_medium=poll&amp;utm_campaign=insights" target="_blank">Hotjar</a> yet?                                </div>
            <div class="_hj-f5b2a1eb-9b07_pull_right">                                <button type="button" class="_hj-f5b2a1eb-9b07_btn _hj-f5b2a1eb-9b07_btn_disabled _hj-f5b2a1eb-9b07_rounded_corners                                     _hj-f5b2a1eb-9b07_transition _hj-f5b2a1eb-9b07_shadow">Sent                                     <span class="_hj-f5b2a1eb-9b07_widget_icon"></span>                                </button>                            </div>
            <div class="_hj-f5b2a1eb-9b07_clear_both"></div>
          </div>
        </div>
        <div class="_hj-f5b2a1eb-9b07_widget_state _hj-f5b2a1eb-9b07_widget_state_thankyou_consent">
          <div class="_hj-f5b2a1eb-9b07_thankyou_message">
            <p class="_hj-f5b2a1eb-9b07_consent_message_title">Thank you for answering this Poll. Your feedback is highly appreciated!</p>
            <span class="_hj-f5b2a1eb-9b07_consent_message_text">Connecting your feedback with data related to your visits (device-specific, usage data, cookies, behavior and interactions) will help us improve faster. Do you give us your consent to do so for your previous and future visits?&nbsp;                                <a href="http://www.hotjarconsent.com/" class="_hj-f5b2a1eb-9b07_more_info_link" target="_blank">                               More information                            </a></span>                            
            <div class="_hj-f5b2a1eb-9b07_consent_actions">                                <button class="_hj-f5b2a1eb-9b07_btn_primary _hj-f5b2a1eb-9b07_rounded_corners" data-consent="false" type="button">                                    <i class="_hj-f5b2a1eb-9b07_icon _hj-f5b2a1eb-9b07_icon-x"></i>                                </button>                                <button class="_hj-f5b2a1eb-9b07_btn_primary _hj-f5b2a1eb-9b07_rounded_corners" data-consent="true" type="button">                                    <i class="_hj-f5b2a1eb-9b07_icon _hj-f5b2a1eb-9b07_icon-ok"></i>                                </button>                             </div>
          </div>
          <div class="_hj-f5b2a1eb-9b07_widget_footer">
            <div class="_hj-f5b2a1eb-9b07_pull_left">                                    <span class="_hj-f5b2a1eb-9b07_widget_icon"></span>                                    Not using <a href="https://www.hotjar.com/feedback-polls?utm_source=client&amp;utm_medium=poll&amp;utm_campaign=insights" target="_blank">Hotjar</a> yet?                                </div>
            <div class="_hj-f5b2a1eb-9b07_pull_right">                                <button type="button" class="_hj-f5b2a1eb-9b07_btn _hj-f5b2a1eb-9b07_btn_disabled _hj-f5b2a1eb-9b07_rounded_corners                                     _hj-f5b2a1eb-9b07_transition _hj-f5b2a1eb-9b07_shadow">Sent                                     <span class="_hj-f5b2a1eb-9b07_widget_icon"></span>                                </button>                            </div>
            <div class="_hj-f5b2a1eb-9b07_clear_both"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
