!!! XML
%urlset{:xmlns => "http://www.sitemaps.org/schemas/sitemap/0.9"}
  %url
    %loc=aides_sitemap_url
    %changefreq weekly
    %priority 1.0
  - @aids.each do |aid|
    %url
      %loc=detail_url(aid["slug"])
      %changefreq weekly
      %priority 1.0
