- v = view_object(:sitemap_index, {request: request})
%sitemapindex{:xmlns => "http://www.sitemaps.org/schemas/sitemap/0.9"}
  %sitemap
    %loc=v.generated_aides_sitemap_url
  %sitemap
    %loc=v.generated_types_sitemap_url
