@import "../library/variables";
@import "../library/data-label";


// DL
.main-content__body dl {
  display: flex;
  flex-wrap: wrap;
}
//DT
.main-content__body .attribute-label {
  width: 20%;
  @include data-label;
  text-align: right;
  text-transform: lowercase;
  padding-right: 2rem;
  margin-top: 0;
  margin-bottom: 1rem;
  text-align: left;
}
//DD
.main-content__body .attribute-data {
  width: 80%;
  margin-bottom: 1rem;
}


.preserve-whitespace {
  white-space: pre-wrap;
  word-wrap: break-word;
}


.attribute--nested {
  border: $base-border;
  padding: $small-spacing;
}
