.form-actions.is-filters {
  margin-left: -2rem;
}


.c-aid-filters-action {
  margin-right: .5rem;
}

.c-aid-filters-subheader {
  display: flex;
  flex-direction: row;
  padding-right: 2rem;
  padding-bottom: 0;
  padding-top: 1.5rem;
  &.is-last {
    padding-top: 0;
  }
}


body[data-path="new_admin_filter_path"], body[data-path="edit_admin_filter_path"] {
  .field-unit {
    flex-direction: column;
    align-items: flex-start;
  }
  .field-unit__label {
    width: inherit;
    float: none;
    text-align: left;
    margin-left: 2rem;
  }
}

.c-aid-filters-hint {
  text-align: left;
  margin-left: 2rem;
  width: 45%;
  margin-bottom: 1rem;
}
