- has_user = !params[:for_id].blank?
- if has_user
  - title_data "Vos résultats"
- else 
  - title_data "Découvrez toutes les aides et mesures de retour à l'emploi"
  
- loaded = @loaded || {}

= render 'shared/breadcrumb', {where: 'finals'}

%main#main.c-results-index{role: 'main'}
  - if has_user
    = render 'shared/result_default', {asker: loaded[:asker], flat_all_eligible: loaded[:flat_all_eligible], flat_all_uncertain: loaded[:flat_all_uncertain], flat_all_ineligible: loaded[:flat_all_ineligible]}
  - else
    = render 'shared/result_all', {lines: FilterRawAidsService.new(@loaded['aids']).go}
    = render 'shared/detail_void'  
