- title_data 'Votre âge'
- has_error = !(flash[:error].blank?)
- if has_error
  - classes_of_input = ['c-field', 'c-age-input', 'is-error']
  - aria_described_by_of_input = ['age', 'c-age-error__label']
- else
  - classes_of_input = ['c-field', 'c-age-input']
  - aria_described_by_of_input = ['age']

%main#main.mw1140p.center{role: "main"}
  = render 'shared/breadcrumb'
  .u-useful-width.u-margin-constraint
    .o-card
      = form_with model: @age, url: age_questions_path, local: true do |f|
        %h1.c-question-title
          %span.u-focusable{tabindex: "0"} Quel est votre âge ?
        .c-age__form
          = f.number_field :number_of_years, 
              class: classes_of_input, 
              id: 'age', 
              value: @age.number_of_years, 
              autofocus: true, 
              autocomplete: 'off',
              'aria-describedby' => aria_described_by_of_input, 
              'aria-required' => 'true',
              tabindex: '0'
          .c-age-error
            - if has_error
              %label.c-age-error__label.c-label.is-error.u-focusable{tabindex: "0"}
                =flash[:error][0]
            - else
              .c-age-error__label.visibility-hidden &nbsp;

        = render 'nav/next_previous', f: f
