.c-footer-motherhome
  %small
    %span
      ="Copyright #{Time.now.year} ©CLARA"
    %span
      = link_to "propulsé par POLE EMPLOI", "https://www.pole-emploi.fr/", target: "_blank", "class" => "c-propels-by"

