- description_data("Conditions générales d'utilisation".html_safe)
- all_home_filters = local_assigns[:all_home_filters]

.c-terms

  .u-useful-width.u-margin-constraint.u-margin-top
    = render 'shared/breadcrumb', {margin_constraint: "no"}
    
    .c-terms-return-container.is-first
      =link_to '< Retour', root_path, {class: 'c-terms-return'}

    .o-card

      %h1.c-terms-title Conditions générales d’utilisation 

      %p Dernière mise à jour le 14 janvier 2021

      %h2.c-terms-h2title 1. Informations légales

      %p 
        %strong Editeur Pôle emploi
        %div 15 avenue du Docteur Gley
        %div 75987 Paris cedex 20
        %div Tél. 01 40 30 60 00.

      %p
        %span  
          %strong Directeur de la publication : 
          %span Monsieur Jean Bassères, Directeur général.

      %p 
        %strong Hébergeur
        %div OVH
        %div 2 rue Kellermann
        %div 59100 Roubaix
        %div Tél. 09 72 10 10 07


      %h2.c-terms-h2title 2. Objet du site internet
      %p Le site internet <a target='_blank' href='http://clara.pole-emploi.fr'>clara.pole-emploi.fr</a> a pour objet de permettre à l’utilisateur, sur la base des informations qu’il fournit, de calculer son éligibilité aux aides, mesures, dispositifs, contrats, prestations pour le retour à l’emploi.

      %h2.c-terms-h2title 3. Protection des données à caractère personnel

      %p Sont collectées pour permettre le fonctionnement du service les données suivantes :
      %ul
        %li l’adresse,
        %li la durée d’inscription à Pôle emploi,
        %li la catégorie d’inscription,
        %li le type d’allocation perçue,
        %li le montant d’allocation perçu,
        %li l’âge,
        %li le niveau de diplôme,
        %li la situation particulière (reconnaissance travailleur·euse handicapé·e, artiste ou technicien•ne du spectacle...).

      %p La pertinence des résultats de recherche fournis par le service dépend de l’exactitude des renseignements donnés par l’utilisateur. L’utilisateur est averti par une mention « Les champs marqués d'un * sont obligatoires » lorsqu’une information est requise pour le bon fonctionnement du service.

      %p Les données collectées sur le site internet sont traitées par Pôle emploi pour le seul fonctionnement du service et ne sont pas conservées.

      %p Toutefois, l’utilisateur est informé que conformément aux articles 39 et suivants de la loi n° 78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, il dispose d’un droit d’accès, et le cas échéant, de rectification ou suppression des informations le concernant, en s’adressant au Correspondant informatique et libertés de Pôle emploi aux coordonnées suivantes : Pôle emploi, Correspondant informatique et libertés, 1-5 avenue du Docteur Gley, 75987 Paris cedex 20 (adresse électronique : <a href="mailto:courriers-cnil@pole-emploi.fr" target="_blank">courriers-cnil@pole-emploi.fr</a>).

      %h2.c-terms-h2title 4. Cookies

      %h3.c-terms-h3title 4.1. Qu'est-ce qu'un cookie ?

      %p Un cookie est un petit fichier texte déposé sur le terminal des utilisateurs (par  exemple un ordinateur, une tablette, un « Smartphone», etc.) lors de la visite d’un site internet.
      %p Il contient plusieurs données : le nom du serveur qui l’a déposé, un identifiant sous forme de numéro unique, et une date d’expiration. Les cookies ont différentes fonctionnalités. Ils ont pour but d’enregistrer les paramètres de langue d’un site, de collecter des informations relatives à votre navigation sur les sites, d’adresser des services personnalisés, etc.
      %p Seul l’émetteur d’un cookie est susceptible de lire, enregistrer ou de modifier les informations qui y sont contenues.

      %h3.c-terms-h3title 4.2 Les cookies déposés sur le site

      %p Sous réserve du choix de l’utilisateur, plusieurs cookies peuvent être utilisés sur le site internet <a target='_blank' href='http://clara.pole-emploi.fr'>clara.pole-emploi.fr</a>. Les différentes finalités de ces cookies sont décrites ci-dessous. 

      %strong Cookies strictement nécessaires au fonctionnement du site

      %p Des cookies sont utilisés sur le site <a target='_blank' href='http://clara.pole-emploi.fr'>clara.pole-emploi.fr</a> pour permettre le bon fonctionnement du site internet et l’utilisation des principales fonctionnalités du site. 
      %p Ces cookies ne sont pas soumis au consentement de l’utilisateur. Ils permettent par exemple de mettre en œuvre des mesures de sécurité, comme lorsqu’il vous est demandé de vous connecter à nouveau à un contenu ou à un service après un certain laps de temps.
      %p Sans ces cookies, l’utilisation du site peut être dégradée et l’accès à certains services être rendu impossible. Il est déconseillé de les désactiver. 
      %p L’utilisateur peut cependant s’opposer à leur dépôt en suivant les indications données au point 4.3. Ces cookies sont exclusivement déposés par Pôle emploi. 

      %strong Cookies statistiques ou de mesure d’audience 

      %p Des cookies sont utilisés sur le site <a target='_blank' href='http://clara.pole-emploi.fr'>clara.pole-emploi.fr</a>  afin d’effectuer de la mesure d’audience, des analyses statistiques dans le but d'améliorer l'expérience utilisateur et la performance du site internet. Ces cookies sont déposés par des tiers pour le compte de Pôle emploi. 
      %p Concernant le dépôt des cookies Google Analytics, la société Google collecte par l’intermédiaire de ce cookie des données pour son propre compte dans les conditions définies dans sa politique de confidentialité accessible par le lien suivant : <a target='_blank' href='https://policies.google.com/technologies/partner-sites?gl=fr'>https://policies.google.com/technologies/partner-sites?gl=fr</a> 

      %p L’utilisateur peut paramétrer le dépôt des cookies en suivant les indications données au point 4.3. Le fait de refuser la mise en œuvre de tels cookies n'a pas d'incidence sur la navigation sur le site.

      %strong Cookies fonctionnels permettant la lecture de contenu vidéo

      %p Des cookies sont utilisés sur le site <a target='_blank' href='http://clara.pole-emploi.fr'>clara.pole-emploi.fr</a> afin de permettre la lecture de contenu vidéo. Ces cookies sont déposés par des tiers pour le compte de Pôle emploi.
      %p Concernant le dépôt des cookies Youtube, la société Google collecte par l’intermédiaire de ce cookie des données pour son propre compte dans les conditions définies dans sa politique de confidentialité accessible par le lien suivant : <a target='_blank' href='https://policies.google.com/technologies/partner-sites?gl=fr'>https://policies.google.com/technologies/partner-sites?gl=fr</a>
      %p Le refus du dépôt de ces cookies n’a pas d’incidence sur l’utilisation des fonctionnalités principales du site. En revanche, l’utilisation du lecteur vidéo sera rendu impossible. L’utilisateur peut paramétrer le dépôt des cookies en suivant les indications données au point 4.3.
      %p Pour plus d’informations sur les cookies notamment sur le type de cookies déposés ainsi que leurs finalités précises, vous pouvez consulter la plateforme de gestion du consentement, <a onclick="tC.privacyCenter.showPrivacyCenter(); return false">disponible ici</a>
      
      %h3.c-terms-h3title 4.3 Accepter ou refuser les cookies

      %p L’utilisateur dispose de différents moyens pour gérer ses choix en matière de cookies. Les modalités de gestion diffèrent selon que le cookie est soumis ou non à consentement préalable. L’utilisateur peut modifier ses choix à tout moment. Pour information, le paramétrage des cookies est susceptible de modifier les conditions de navigation sur le site internet <a target='_blank' href='http://clara.pole-emploi.fr'>clara.pole-emploi.fr</a>, ainsi que les conditions d’accès à certains services et d’entrainer des dysfonctionnements de certaines fonctionnalités.

      %strong La plateforme de gestion du consentement 

      %p Pour les cookies donnant lieu à consentement préalable, l’utilisateur peut accepter ou refuser le dépôt de tout ou partie des cookies, à tout moment, en formulant des choix sur la plateforme de gestion du consentement via <a onclick="tC.privacyCenter.showPrivacyCenter(); return false">ce lien dédié</a>.

      %strong Le paramétrage du navigateur

      %p L’utilisateur peut accepter ou refuser le dépôt de tout ou partie des cookies, à tout moment, en modifiant les paramètres de son navigateur (consulter la fonction « Aide » du navigateur pour en savoir plus) ou en se rendant sur l’une des pages suivantes, selon le navigateur utilisé :

      %ul
        %li Google Chrome : <a target='_blank' href='https://support.google.com/chrome/answer/95647?hl=fr'>https://support.google.com/chrome/answer/95647?hl=fr</a>
        %li Internet Explorer : <a target='_blank' href='https://support.microsoft.com/fr-fr/help/17442'>https://support.microsoft.com/fr-fr/help/17442</a>
        %li Mozilla Firefox : <a target='_blank' href='https://support.mozilla.org/fr/kb/activer-desactiver-cookies'>https://support.mozilla.org/fr/kb/activer-desactiver-cookies</a>
        %li Safari : <a target='_blank' href='https://support.apple.com/fr-fr/guide/safari/sfri11471/mac'>https://support.apple.com/fr-fr/guide/safari/sfri11471/mac</a>
      
      %p Pour information, la plupart des navigateurs acceptent par défaut le dépôt de cookies. L’utilisateur peut modifier ses choix en matière de cookies à tout moment. Le paramétrage des cookies est susceptible de modifier les conditions de navigation sur le site internet, ainsi que les conditions d’accès à certains services, et d’entrainer des dysfonctionnements de certaines fonctionnalités.

      %p Pour plus d’informations sur les cookies et les moyens permettant d’empêcher leur installation, l’utilisateur peut se rendre sur la page dédiée sur le site internet de la CNIL : <a target='_blank' href='https://www.cnil.fr/fr/cookies-les-outils-pour-les-maitriser'>https://www.cnil.fr/fr/cookies-les-outils-pour-les-maitriser</a>.

      %h2.c-terms-h2title 5. Responsabilité
      
      %h3.c-terms-h3title 5.1. Accessibilité au site et utilisation du service Clara
      
      %p L'accès au site internet <a target='_blank' href='http://clara.pole-emploi.fr'>clara.pole-emploi.fr</a> se fait notamment à partir d'un ordinateur, d’un téléphone, d’un assistant personnel ou d’un terminal nomade connecté à un réseau de télécommunication selon les protocoles de communication utilisés sur le réseau Internet.
      
      %p Le site internet <a target='_blank' href='http://clara.pole-emploi.fr'>clara.pole-emploi.fr</a> est accessible 24 h/7j, sauf cas de force majeure ou d’événement hors du contrôle de Pôle emploi.
      
      %p Pôle emploi décline toute responsabilité :
      %ul
        %li pour toute interruption du site pour raison de maintenance technique ou de mise à jour nécessaire au bon fonctionnement (du site internet).
        %li pour survenance de bogues.
      
      %p Pôle emploi ne peut être tenu pour responsable vis-à-vis de l’utilisateur des dommages de toute nature, directs ou indirects.
      
      %h3.c-terms-h3title 5.2. Résultats de recherche
      
      %p Pôle emploi décline toute responsabilité envers l’utilisateur concernant notamment :
      %ul
        %li l’absence de résultat au regard des critères définis par l’utilisateur
        %li la non-exhaustivité des résultats obtenus
        %li la présence d’erreurs dans les résultats communiqués
        %li le contenu et la disponibilité des sites tiers vers lesquels le site <a target='_blank' href='http://clara.pole-emploi.fr'>clara.pole-emploi.fr</a> renvoie.

      %h2.c-terms-h2title 6. Obligations de l’utilisateur

      %p L’utilisateur du site reconnaît avoir pris connaissance et accepter les présentes conditions d’utilisation avant toute utilisation du site.
      %p L’utilisation du site internet <a target='_blank' href='http://clara.pole-emploi.fr'>clara.pole-emploi.fr</a> est soumise au respect par l’utilisateur de :
      %ul
        %li la législation française,
        %li les présentes conditions d’utilisation.
      %p Les présentes conditions d’utilisation peuvent être modifiées à tout moment ; la date de mise à jour est mentionnée. Ces modifications sont opposables à l’utilisateur dès leur mise en ligne sur le site internet <a target='_blank' href='http://clara.pole-emploi.fr'>clara.pole-emploi.fr</a>. L’utilisateur est donc invité à consulter régulièrement la dernière version mise à jour.
      
      %h2.c-terms-h2title 7. Propriété intellectuelle

      %p Le site web <a target='_blank' href='http://clara.pole-emploi.fr'>clara.pole-emploi.fr</a> est protégé au titre des dispositions relatives au droit d’auteur défini aux articles L.111-1 et suivants du code de la propriété intellectuelle et au titre des dispositions relatives aux bases de données définies aux articles L.341-1 et suivants du même code. Pôle emploi est titulaire de l’ensemble des droits de propriété intellectuelle sur les éléments composant le site.
      %p Sans préjudice des dispositions prévues à l’article L.122-5 du code de la propriété intellectuelle, toute représentation, reproduction ou diffusion, intégrale ou partielle du site, sur quelque support que ce soit, sans l'autorisation expresse et préalable de Pôle emploi constitue un acte de contrefaçon, sanctionné au titre des articles L.335-2 et L.335-3 du même code.
      %p Par ailleurs, les marques Pôle emploi et Clara sont protégées au titre des articles L.712-1 et suivants du code de la propriété intellectuelle. Toute représentation, reproduction ou diffusion, intégrale ou partielle de l’une de ces marques, sur quelque support que ce soit, sans l'autorisation expresse et préalable de Pôle emploi constitue un acte de contrefaçon, sanctionné au titre des articles L.716-1 du même code.

      %h2.c-terms-h2title 8. Crédits photos
      .o-layout
        - all_home_filters.each do |filt|
          - name = filt[:name].to_s
          - credit = filt[:credit]
          - src = filt[:avatar] ? url_for(filt[:avatar]) : ''

          .o-layout__item{:class => "u-1/1 u-1/2@desktop u-1/4@wide"}
            %div.c-terms-credit
              %div
                %img{alt: name, src: src }
              %div
                =credit
          

      .c-terms-return-container.is-last
        =link_to 'Retour', root_path, {class: 'c-terms-return'}
