<section id="clearance" class="sign-up c-login u-margin-bottom-large">
   
  <div class="c-login-card u-margin-top u-margin-bottom">

    <h1>Créer un nouvel administrateur</h1>

    <%= form_for @user do |form| %>
      <%= render partial: '/users/form', object: form %>
      <div class="submit-field u-margin-top c-login-connect">
        <%= form.submit %>
      </div>
      <hr class="u-margin-top u-margin-bottom-small">
      <div class="other-links u-margin-vertical c-login-create">
        <%= link_to "Écran de connexion", sign_in_path, {"class" => "u-1/1 u-display-block u-text--center"} %>
      </div>
    <% end %>    

  </div>  

</section>
