- v = view_object(:browser_depreciation, {browser: browser})
- if v.show_depreciation_warning?
  .c-browser-deprecated
    .c-browser-deprecated__line.h5-like
      ⚠ Certains contenus ne seront pas correctement affichés car votre navigateur est obsolète.
    .c-browser-deprecated__line.h5-like
      <a href="https://whatbrowser.org">Ce site</a> peut vous aider à mettre à jour votre navigateur.
