.o-layout
  .c-cookies-banner
    .u-useful-width.u-margin-constraint
      .o-layout__item{:class => "u-1/1 u-4/5@desktop"}
        .c-cookies-p
          %p
            En poursuivant votre navigation, vous acceptez le dépôt de cookies afin d'améliorer votre expérience de navigation, la performance du site et la qualité de notre service. Pour en savoir plus et modifier les paramètres de vos cookies, 
            = succeed "," do
              = link_to 'cliquez ici !', 'lien à mettre'
      .o-layout__item{:class => "u-1/1 u-1/5@desktop"}
        .c-cookies-button
          %a J'accepte tout !
