.c-cookies-banner
  .u-margin-constraint
    .o-line
      .o-line__item
        En poursuivant votre navigation, vous acceptez le dépôt de cookies afin d'améliorer votre expérience de navigation, la performance du site et la qualité de notre service. Pour en savoir plus et modifier les paramètres de vos cookies, 
      .o-line__item
        %button J'accepte tout
