- v = view_object(:detail_why, local_assigns)

- if v.rule.present?
  .c-detail-why
    .c-detail-why__intro
      %h3
        - if v.ability == "eligible"
          .c-detail-why--endresult.c-detail-why--eligible
            Vous êtes éligible
        - if v.ability == "ineligible"
          .c-detail-why--endresult.c-detail-why--ineligible
            Vous n'êtes pas éligible
        - if v.ability == "uncertain"
          .c-detail-why--endresult.c-detail-why--uncertain
            Vous êtes peut-être éligible
      
        .c-detail-why--endresult.c-detail-why--finally
          à cette aide 


      %h3.c-expand-tree.c-button.js-expandmore Voir les critères d'éligibilité
      .js-to_expand.u-margin-top
        = render partial: 'shared/detail_condition_list.haml', locals: { ability_tree: local_assigns }

