.c-detail-void
  .h3-like.c-detail-void__line <strong>Vérifiez votre éligibilité aux</strong>
  .h3-like.c-detail-void__line <strong>aides et mesures</strong> qui
  .h3-like.c-detail-void__line accélèrent votre retour à l'emploi
  .c-detail-void__line
    = link_to 'Je commence', QuestionManager.new.getNextPath, class: 'c-detail-cta'
