- v = view_object(:detail_why, local_assigns)

- if v.rule.present?
  .c-detail-why
    .c-detail-why__intro
      %h3.u-margin-bottom-none
        - if v.ability == "eligible"
          .c-detail-why--endresult.c-detail-why--eligible
            Vous êtes éligible
        - if v.ability == "ineligible"
          .c-detail-why--endresult.c-detail-why--ineligible
            Vous n'êtes pas éligible
        - if v.ability == "uncertain"
          .c-detail-why--endresult.c-detail-why--uncertain
            Vous êtes peut-être éligible
      
        .c-detail-why--endresult.c-detail-why--finally
          à cette aide 


      %h2.js-expandmore Lorem dolor si amet
      .js-to_expand
        here the hidden content
        = render partial: 'shared/detail_condition_list.haml', locals: { ability_tree: local_assigns }

