.c-detail-void
  .h3-like.c-detail-void__line <strong>Vérifiez votre éligibilité</strong>
  .h3-like.c-detail-void__line <strong>aux aides et mesures</strong> 
  .h3-like.c-detail-void__line <strong>qui accélèrent</strong>
  .h3-like.c-detail-void__line votre retour à l'emploi

  .c-detail-void__line
    = link_to 'Je commence', QuestionManager.new.getNextPath, class: 'c-detail-cta'
