- v = view_object(:detail_void_contract_type, local_assign)

.c-detail-void{:class => "u-margin-top-small u-margin-top-none@desktop"}
  %strong.c-detail-void__lines
    .c-detail-void__line Vérifiez votre éligibilité
    .c-detail-void__line aux aides et mesures
    .c-detail-void__line qui accélèrent
    .c-detail-void__line.c-detail-void__line--light votre retour à l'emploi

  .c-detail-void__line
    = link_to 'Je commence', QuestionManager.new.getNextPath, class: 'c-detail-cta'

    %strong Nos aides par rubriques
    - v.links_to_all_contract_types.each do |ct|
      =ct[:link]
