.c-footer-motherhome
  %small
    = link_to "Copyright #{Time.now.year} ©CLARA", edit_cooky_path('preference')
  %small
    = link_to "propulsé par POLE EMPLOI", "https://www.pole-emploi.fr/", target: "_blank", "class" => "c-propels-by"
  %small
    .c-magic-number

