- unless request.path == root_path || request.path == stats_root_path
  .c-qh
    .c-qh__logo
      %a.c-logozone.c-logozone--white{href: root_path}
        = render 'shared/logo_black'
        = render 'shared/logo_pe'
    .c-qh__cta
