- unless request.path == root_path || request.path == stats_root_path
  .c-qh
    .u-useful-width.u-margin-constraint
      .o-layout
        .o-layout__item{:class => "u1/1"}
          .c-qh__logo
            %a.c-logozone{href: root_path}
              = image_tag(empty_image, alt: "Clara, Vos aides en un clic – site en version Bêta", data: { "src" => image_path("logo-clara.svg") })
            %a.c-logozone{href: "https://www.pole-emploi.fr/"}
              = image_tag(empty_image, alt: "Pôle Emploi", data: { "src" => image_path("logo-pe.svg") })
          .c-qh__cta
