- unless request.path == root_path || request.path == stats_root_path
  .c-qh
    .u-useful-width.u-margin-constraint
      .o-layout
        .o-layout__item{:class => "u1/1"}
          .c-qh__logo
            = render 'shared/logozone', {display_search: request.path == get_search_front_path}
          .c-qh__cta
