.c-newhomeuser
  %h2.c-newhomeuser__title Ce que les utilisateurs pensent du service
  .c-newhomeuser__cards
    .c-newhomeuser__card
      .c-newhomeuser__card-dblquote &ldquo;
      .c-newhomeuser__card-text Avant je ne postulais que dans ma commune. Avec Clara, je sais que Pôle emploi peut m’aider financièrement pour mes déplacements et je peux élargir mes recherches.
      .c-newhomeuser__card-separator &nbsp;
      .c-newhomeuser__card-media
        .c-newhomeuser__card-media-face.c-newhomeuser__card-media-face--1 
        .c-newhomeuser__card-media-txt
          .c-newhomeuser__card-media-txt-up Marie Boucher
          .c-newhomeuser__card-media-txt-down <small>32 ans, Ile-De-France</small>
    .c-newhomeuser__card
      .c-newhomeuser__card-dblquote &ldquo;
      .c-newhomeuser__card-text Grâce à Clara, j'ai su que je pouvais réaliser une immersion en entreprise : j'ai pu faire la différence entre ce que je pensais du poste et la réalité du terrain. Finalement, ça s'est tellement bien passé que j'ai été embauché dans l'entreprise qui m'a accueilli !
      .c-newhomeuser__card-separator &nbsp;
      .c-newhomeuser__card-media
        .c-newhomeuser__card-media-face.c-newhomeuser__card-media-face--2
        .c-newhomeuser__card-media-txt
          .c-newhomeuser__card-media-txt-up Igor Avell
          .c-newhomeuser__card-media-txt-down <small>25 ans, Hauts-De-France</small>
