.c-newhomerecall
  %h2.c-newhomerecall__content
    .c-newhomerecall__content.c-newhomerecall__content--line
      Découvrez les aides et mesures
    .c-newhomerecall__content.c-newhomerecall__content--line
      qui vont accélérer votre retour à l'emploi
  .c-newhomerecall__content.c-newhomerecall__content--cta
    = link_to 'Je découvre', QuestionManager.new.getNextPath, id: 'home-recall'
