.c-newhomenumber
  %h2.c-newhomenumber__title Quelques chiffres
  .c-newhomenumber__subtitle sur notre produit et le service qu'il rend
  .c-newhomenumber__cards
    .c-newhomenumber__card
      .c-newhomenumber__card-nb
        = number_with_delimiter nb_of_active_aids
      .c-newhomenumber__card-txt1 aides, mesures, contrats
      .c-newhomenumber__card-txt2 dispositifs ou prestations
    .c-newhomenumber__card
      .c-newhomenumber__card-nb=number_with_delimiter(2643)
      .c-newhomenumber__card-txt1 évaluations réalisées
      .c-newhomenumber__card-txt2 sur Clara
    .c-newhomenumber__card
      .c-newhomenumber__card-nb=number_with_delimiter(370000)
      .c-newhomenumber__card-txt1 aides financées
      .c-newhomenumber__card-txt2 par Pôle emploi
