.c-newhomeexample
  .c-newhomeexample__wrapper
    %h2.c-newhomeexample__title Quelques exemples d'aides
    .c-newhomeexample__subtitle Clara calcule votre éligibilité sur #{nb_of_active_aids} aides et mesures
    .c-newhomeexample__cards
      %a.c-newhomeexample__card{href: type_path(slug_of_creation)}
        <svg class="c-newhomeexample__card-svg1" fill="#ffffff" width="100px" height="100px" xmlns="http://www.w3.org/2000/svg" viewBox="-15 -15 130 130"><title>aide-entreprise</title><g id="Calque_30" data-name="Calque 30"><path d="M15.58,85.73a1,1,0,0,1-.93-1.36l6-15.64A35.09,35.09,0,1,1,32.16,79.46L15.93,85.67A1,1,0,0,1,15.58,85.73ZM49.69,15.92A33.1,33.1,0,0,0,22.57,68a1,1,0,0,1,.11.93L17.31,83l14.58-5.58a1,1,0,0,1,.87.07A33.11,33.11,0,1,0,49.69,15.92Z"/><path d="M73.1,42.56h0L65.36,26.9a.62.62,0,0,0-.55-.34h-31a.62.62,0,0,0-.55.34L25.57,42.55v0a.61.61,0,0,0-.06.26v0a5.26,5.26,0,0,0,3.34,4.84V69.11H26v1.23H72.7V69.11H69.82V47.7a5.26,5.26,0,0,0,3.34-4.84v0A.61.61,0,0,0,73.1,42.56ZM64.43,27.79,71.55,42.2H63.73L59.6,27.79Zm-6.11,0,.48,1.66L62.44,42.2H54.55L53.42,27.79ZM62.6,43.44a4,4,0,0,1-8,0ZM46.48,27.79h5.7l.29,3.73.83,10.69h-8Zm6.83,15.65a4,4,0,0,1-8,0Zm-13-15.65h4.89L44.12,42.2h-7.9l2.13-7.44ZM44,43.44a4,4,0,0,1-8,0ZM34.24,27.79h4.83L34.94,42.2H27.11ZM26.78,43.44h7.94s0,.07,0,.1,0,.2-.08.31a4,4,0,0,1-.13.43c0,.1-.08.19-.13.29a4,4,0,0,1-.21.38l-.18.26a4.06,4.06,0,0,1-.28.33l-.21.22a4.06,4.06,0,0,1-.34.28l-.24.18a4,4,0,0,1-.4.22l-.26.13a4,4,0,0,1-.49.15l-.24.07a3.74,3.74,0,0,1-1.43,0l-.26-.06A4,4,0,0,1,26.78,43.44Zm19.35,21v4.66H37.05V53h9.08Zm22.46,4.66H47.36V64.46H62.64V53h2V51.8H34.33V53h1.49V69.11H30.08V48A5.12,5.12,0,0,0,31.78,48c.11,0,.22-.06.33-.09a5.24,5.24,0,0,0,.63-.2c.12-.05.24-.12.36-.18a5.25,5.25,0,0,0,.51-.28c.12-.08.22-.17.34-.25a5.26,5.26,0,0,0,.43-.35c.1-.1.2-.21.29-.31a5.25,5.25,0,0,0,.35-.42c.08-.12.16-.24.23-.36s.12-.17.17-.27a5.21,5.21,0,0,0,9.27,0,5.21,5.21,0,0,0,9.29,0,5.21,5.21,0,0,0,9.27,0c0,.09.12.17.17.26s.15.25.24.36a5.28,5.28,0,0,0,.35.42c.1.11.19.22.29.31a5.27,5.27,0,0,0,.42.35c.11.09.22.18.34.25a5.24,5.24,0,0,0,.51.28c.12.06.23.13.36.18a5.23,5.23,0,0,0,.62.19c.11,0,.22.07.33.1a5.11,5.11,0,0,0,1.71.06ZM47.36,63.22V53h14V63.22ZM68.81,46.73l-.26.06a3.74,3.74,0,0,1-1.43,0l-.24-.07a4,4,0,0,1-.48-.15l-.27-.13a4,4,0,0,1-.39-.21L65.49,46a4.06,4.06,0,0,1-.33-.27l-.22-.23a4.06,4.06,0,0,1-.27-.33l-.18-.26a4,4,0,0,1-.2-.37c0-.1-.09-.19-.13-.29a4,4,0,0,1-.13-.42c0-.1-.06-.2-.08-.31s0-.07,0-.1h7.94A4,4,0,0,1,68.81,46.73Z"/></g></svg>
        .c-newhomeexample__card-title <strong>Création, reprise d'entreprise</strong>
        .c-newhomeexample__card-txt.first Maintien de votre
        .c-newhomeexample__card-txt indemnisation ou versement
        .c-newhomeexample__card-txt d'un capital de départ
        .c-newhomeexample__card-plus 
          En savoir plus >
      %a.c-newhomeexample__card{href: type_path(slug_of_amob)}
        <svg class="c-newhomeexample__card-svg2" fill="#ffffff" width="100px" height="100px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><title>ic-utilisation-vehicule</title><g id="Calque_13" data-name="Calque 13"><path d="M77.46,40.11l-27-14a1,1,0,0,0-.92,0l-27,14A1,1,0,0,0,22,41V73a1,1,0,0,0,2,0V41.61L50,28.13,76,41.61V73a1,1,0,0,0,2,0V41A1,1,0,0,0,77.46,40.11ZM36,56a4,4,0,1,0,4,4A4,4,0,0,0,36,56Zm0,6a2,2,0,1,1,2-2A2,2,0,0,1,36,62Zm28-6a4,4,0,1,0,4,4A4,4,0,0,0,64,56Zm0,6a2,2,0,1,1,2-2A2,2,0,0,1,64,62Zm3.4-9.23-2.34-8.2A6.33,6.33,0,0,0,59,40H41a6.33,6.33,0,0,0-6.06,4.57l-2.34,8.2A8,8,0,0,0,32,66.92V71a3,3,0,0,0,3,3h2a3,3,0,0,0,3-3V68H60v3a3,3,0,0,0,3,3h2a3,3,0,0,0,3-3V66.92a8,8,0,0,0-.6-14.15ZM36.86,45.12A4.33,4.33,0,0,1,41,42H59a4.33,4.33,0,0,1,4.14,3.12l2,7A8,8,0,0,0,64,52H36a8,8,0,0,0-1.13.09ZM38,71a1,1,0,0,1-1,1H35a1,1,0,0,1-1-1V67.74A8,8,0,0,0,36,68h2Zm28,0a1,1,0,0,1-1,1H63a1,1,0,0,1-1-1V68h2a8,8,0,0,0,2-.26Zm-2-5H36a6,6,0,0,1,0-12H64a6,6,0,0,1,0,12Zm-7-6H43a1,1,0,0,0,0,2H57a1,1,0,0,0,0-2Z"/></g></svg>
        .c-newhomeexample__card-title <strong>Mobilité</strong>
        .c-newhomeexample__card-txt.first Participation aux frais de
        .c-newhomeexample__card-txt déplacement, repas,
        .c-newhomeexample__card-txt hébergement
        .c-newhomeexample__card-plus
          En savoir plus >
      %a.c-newhomeexample__card{href: type_path(slug_of_alternance)}
        <svg class="c-newhomeexample__card-svg3" width="100px" height="100px" fill="#ffffff" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><title>ic-contract</title><g id="Calque_8" data-name="Calque 8"><path d="M60.17,67a1,1,0,0,0-1,1V71H34.31V38.72H59.16V43a1,1,0,0,0,2,0V37.7a1,1,0,0,0-1-1H33.29a1,1,0,0,0-1,1V72a1,1,0,0,0,1,1H60.17a1,1,0,0,0,1-1V68A1,1,0,0,0,60.17,67ZM75.8,48.38l-7.13-7.13a1,1,0,0,0-1.44,0l-4.12,4.12a1,1,0,0,0-.3.72,1,1,0,0,0,.23.62l-.45.43-6.31,1.58a1,1,0,0,0-.74.72l-4,14.81a1,1,0,0,0,1,1.28,1,1,0,0,0,.27,0l15.06-4.07a1,1,0,0,0,.73-.76l1.35-6.21.42-.44a1,1,0,0,0,.62.23,1,1,0,0,0,.72-.3l4.12-4.12A1,1,0,0,0,75.8,48.38Zm-7.54,4.87a1,1,0,0,0-.26.48l-1.28,5.88L54,63.06l3.39-12.52,6-1.5a1,1,0,0,0,.45-.25l.67-.63,4.42,4.42ZM71,51.78l-5.69-5.69,2.68-2.68,5.69,5.69ZM60.69,53.62a1.92,1.92,0,0,0-.38,2.16L57.12,59a.68.68,0,1,0,1,1l3.19-3.19a1.92,1.92,0,0,0,.79.18h0a1.93,1.93,0,0,0,1.37-3.3A1.94,1.94,0,0,0,60.69,53.62ZM55,45a1,1,0,0,0-1-1H39.5a1,1,0,1,0,0,2H54A1,1,0,0,0,55,45ZM50.18,48.5H39.5a1,1,0,1,0,0,2H50.18a1,1,0,0,0,0-2Zm1,5.57a1,1,0,0,0-1-1H39.5a1,1,0,1,0,0,2H50.18A1,1,0,0,0,51.19,54.08ZM39.5,63.85a1,1,0,1,0,0,2h7.24a1,1,0,1,0,0-2Z"/></g></svg>
        .c-newhomeexample__card-title <strong>Alternance</strong>
        .c-newhomeexample__card-txt.first Professionnalisation
        .c-newhomeexample__card-txt et apprentissage
        .c-newhomeexample__card-txt.more &nbsp;
        .c-newhomeexample__card-plus
          En savoir plus >
      %a.c-newhomeexample__card{href: type_path(slug_of_project)}
        <svg class="c-newhomeexample__card-svg4" xmlns="http://www.w3.org/2000/svg" fill="#ffffff" width="100px" height="100px" viewBox="0 0 100 100"><title>ic-immersion-pro</title><g id="Calque_21" data-name="Calque 21"><path d="M50,36a6,6,0,0,0,6-6h0a6,6,0,1,0-6,6Zm0-10a4,4,0,0,1,4,4h0a4,4,0,1,1-4-4ZM44,68a1,1,0,0,0-1,1v6a1,1,0,0,0,2,0V69A1,1,0,0,0,44,68Zm12,0a1,1,0,0,0-1,1v6a1,1,0,1,0,2,0V69A1,1,0,0,0,56,68ZM68,46.82A1,1,0,0,0,67,46H61V41.23a4.52,4.52,0,0,0-3.09-4.29l-2.58-.89a1,1,0,0,0-1,.24L50,40.58l-4.29-4.29a1,1,0,0,0-1-.24l-2.59.89A4.51,4.51,0,0,0,39,41.23V46H33a1,1,0,0,0-1,.82l-4,22A1,1,0,0,0,29,70H39v5a1,1,0,1,0,2,0V67a3,3,0,0,1,3-3H56a3,3,0,0,1,3,3v8a1,1,0,1,0,2,0V70H71a1,1,0,0,0,1-1.18ZM41,41.23a2.52,2.52,0,0,1,1.72-2.39l2-.69,4.56,4.56a1,1,0,0,0,1.41,0l4.56-4.56,2,.69A2.53,2.53,0,0,1,59,41.23V46H57V43a1,1,0,0,0-2,0v3H45V43a1,1,0,0,0-2,0v3H41ZM50,62a4,4,0,1,1,4-4h0A4,4,0,0,1,50,62Zm11,6V67a5,5,0,0,0-5-5H54.46A6,6,0,0,0,56,58h0a6,6,0,1,0-10.46,4H44a5,5,0,0,0-5,5v1H30.2l3.64-20H66.16L69.8,68Z"/></g></svg>
        .c-newhomeexample__card-title <strong>Projet professionnel</strong>
        .c-newhomeexample__card-txt.first Aide à l'orientation,
        .c-newhomeexample__card-txt immersion professionnelle
        .c-newhomeexample__card-txt.more &nbsp;
        .c-newhomeexample__card-plus
          En savoir plus >
.c-newhome__bottom-separator &nbsp; 
