%a.c-logozone.c-logozone--firstimg{href: root_path}
  = image_tag("logo-clara.svg", alt: "Clara, Vos aides en un clic – site en version Bêta" )
%a.c-logozone{href: "https://www.pole-emploi.fr/"}
  = image_tag("logo-pe.svg", alt: "Pôle Emploi")
