.c-logozone
  %a.c-logozone--clara{href: root_path}
    = image_tag("data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=", alt: "Clara, Vos aides en un clic – site en version Bêta", data: { "src" => image_path("logo-clara.svg") }) 
  %a.c-logozone--pe{href: "https://www.pole-emploi.fr/"}
    = image_tag("data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=", alt: "Pôle Emploi", data: { "src" => image_path("logo-pe.svg") })
