- v = view_object(:result_situation, local_assigns)

#c-result-situation.c-result-situation
  .c-situation{"class" => "u-hide-until@tablet"}
    %h4.c-situation-title.u-padding-small.u-display-flex.c-mask-filter.js-recap-zone.is-discrete
      %span.c-mask-filter__text
        Récapitulatif de situation      
      %span.c-mask-filter__caret.u-margin-left-auto
        &nbsp;&or;

    .c-situation__content

      .c-situation-paragraph.c-situation-paragraph--first
        .c-situation__header
          .o-layout.o-layout--flush
            .o-layout__item{"class" => "u-1/2 u-text--left"}
              %span.c-situation__header-title Données personnelles
            .o-layout__item{"class" => "u-1/2 u-text--right"}
              %a{href: new_age_question_path, class:".c-situation__header-link"}
                <svg width="16px" height="15px" viewBox="0 0 16 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" opacity="0.8" stroke-linecap="round" stroke-linejoin="round"> <g id="filtrerecapopen" transform="translate(-208.000000, -129.000000)" stroke="#333333"> <g id="Colonne-gauche"> <g id="Group-4" transform="translate(0.000000, 55.000000)"> <g id="Group-Copy-2" transform="translate(209.000000, 71.000000)"> <g id="pencil" transform="translate(0.000000, 3.000000)"> <path d="M9,2 L12,5" id="Shape"></path> <path d="M1,10 L4,13" id="Shape"></path> <polygon id="Shape" points="11 0 14 3 4 13 0 14 1 10"></polygon> </g> </g> </g> </g> </g> </g> </svg>
                %span Modifier
        .c-situation__data-list
          .c-situation__data-line
            %span.c-situation__data-prop Âge :
            %span.c-situation__data-val.c-situation--age
              =v.age
          .c-situation__data-line
            %span.c-situation__data-prop Diplôme :
            %span.c-situation__data-val.c-situation--grade
              =v.diplome
          .c-situation__data-line
            %span.c-situation__data-prop Ville :
            %span.c-situation__data-val.c-situation--address
              =v.location_label
          .c-situation__data-line
            %span.c-situation__data-prop Zone de revitalisation rurale :
            %span.c-situation__data-val.c-situation--zrr
              =v.zrr
          .c-situation__data-line
            %span.c-situation__data-prop Quartier prioritaire de la ville :
            %span.c-situation__data-val.c-situation--qpv
              =raw(v.qpv)



      .c-situation-paragraph{"data-bind" => "css: o_toggle_css"}
        .c-situation__header
          .o-layout.o-layout--flush
            .o-layout__item{"class" => "u-1/2 u-text--left"}
              %span.c-situation__header-title Situation actuelle
            .o-layout__item{"class" => "u-1/2 u-text--right"}
              %a{href: new_inscription_question_path, class:".c-situation__header-link"}
                <svg width="16px" height="15px" viewBox="0 0 16 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" opacity="0.8" stroke-linecap="round" stroke-linejoin="round"> <g id="filtrerecapopen" transform="translate(-208.000000, -129.000000)" stroke="#333333"> <g id="Colonne-gauche"> <g id="Group-4" transform="translate(0.000000, 55.000000)"> <g id="Group-Copy-2" transform="translate(209.000000, 71.000000)"> <g id="pencil" transform="translate(0.000000, 3.000000)"> <path d="M9,2 L12,5" id="Shape"></path> <path d="M1,10 L4,13" id="Shape"></path> <polygon id="Shape" points="11 0 14 3 4 13 0 14 1 10"></polygon> </g> </g> </g> </g> </g> </g> </svg>
                %span Modifier
        .c-situation__data-list
          .c-situation__data-line
            %span.c-situation__data-prop Durée d'inscription :
            %span.c-situation__data-val.c-situation--inscription 
              =v.duree_d_inscription
          - if v.category != 'indisponible'
            .c-situation__data-line
              %span.c-situation__data-prop Catégorie demandeur d'emploi :
              %span.c-situation__data-val.c-situation--category 
                =v.category
          .c-situation__data-line
            %span.c-situation__data-prop Type d'allocation :
            %span.c-situation__data-val.c-situation--allocation-type 
              =v.allocation_type
          - if v.allocation_value_min != 'indisponible' && v.allocation_value_min != 'not_applicable'
            .c-situation__data-line
              %span.c-situation__data-prop Montant d'allocation :
              %span.c-situation__data-val.c-situation--allocation-montant 
                =v.allocation_value_min


      .c-situation-paragraph.c-situation-paragraph--last{"data-bind" => "css: o_toggle_css"}
        .c-situation__header
          .o-layout.o-layout--flush
            .o-layout__item{"class" => "u-1/2 u-text--left"}
              %span.c-situation__header-title Autres situations
            .o-layout__item{"class" => "u-1/2 u-text--right"}
              %a{href: new_other_question_path, class:".c-situation__header-link"}
                <svg width="16px" height="15px" viewBox="0 0 16 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" opacity="0.8" stroke-linecap="round" stroke-linejoin="round"> <g id="filtrerecapopen" transform="translate(-208.000000, -129.000000)" stroke="#333333"> <g id="Colonne-gauche"> <g id="Group-4" transform="translate(0.000000, 55.000000)"> <g id="Group-Copy-2" transform="translate(209.000000, 71.000000)"> <g id="pencil" transform="translate(0.000000, 3.000000)"> <path d="M9,2 L12,5" id="Shape"></path> <path d="M1,10 L4,13" id="Shape"></path> <polygon id="Shape" points="11 0 14 3 4 13 0 14 1 10"></polygon> </g> </g> </g> </g> </g> </g> </svg>
                %span Modifier
        .c-situation__data-list
          .c-situation__data-line
            %span.c-situation__data-prop Artiste ou technicien(ne) du spectacle :
            %span.c-situation__data-val.c-situation--spectacle
              =v.spectacle
          .c-situation__data-line
            %span.c-situation__data-prop Travailleur(euse) handicapé(e) :
            %span.c-situation__data-val.c-situation--handicap
              =v.handicap

      .c-situation-reset.u-margin-vertical{"data-bind" => "css: o_toggle_css"}
        = link_to 'Je recalcule mes aides', root_path, class: 'c-situation-reset__button'

