- v = view_object(:result_default, local_assigns)

.c-result-default.o-wrapper
  .o-layout
    %div{class:"o-layout__item u-1/1 u-1/4@tablet"}
      %button
        %h5.c-mask-filter
          Masquer les filtres <span class="c-chevron bottom"></span>
      %h4
        Chercher les aides pour
      %ul
      - flat_all_filter.each_with_index do |filter, i|
        %li
          %input.c-radioinput{:name => "checkbox_#{i}", :type => "checkbox"}/
          %label.c-radiolabel{for: "checkbox_#{i}"}
            =filter["description"]
          

    %div{class:"o-layout__item u-1/1 u-3/4@tablet"}
      %h3 Vous pouvez bénéficier de
      - v.sort_and_order("flat_all_eligible").each_with_index do |aids_per_contract, i|
        .c-resultcard.c-resultcard--green{class:"#{'c-resultcard--notfirst' if i != 0}"}
          .o-layout.o-layout--middle.o-layout--flush
            %div{class:"o-layout__item u-5/6"}   
              .o-flag.o-flag--flush.c-resultcontract
                .o-flag__img{class:"u-hide-until@tablet"}
                  =v.icon_for(aids_per_contract)
                .o-flag__body
                  %h4.c-resultcontract_title
                    =v.title_for(aids_per_contract)
                  %p.c-resultcontract_descr
                    =v.descr_for(aids_per_contract)
            %div{class:"o-layout__item u-1/6"}   
              %button.c-btn.c-btn--small.c-btn--result Ouvrir <span class="c-resultcaret"><strong>&nbsp;&or;</strong></span>
          .c-resultaids
            - aids_per_contract.each do |aid|
              .c-resultaid
                .o-layout.o-layout--middle.o-layout--flush
                  %div{class:"o-layout__item u-5/6"}   
                    %h5=aid["name"]
                    %p=aid["short_description"]
                    filter1 filter2
                  %div{class:"o-layout__item u-1/6"}
                    %button.c-btn.c-btn--primary.c-btn--small.c-btn--aid  En savoir plus
