- asker ||= {}
- flat_all_eligible ||= []
- flat_all_ineligible ||= []
- flat_all_uncertain ||= []

.c-result-default
  .c-result-default--is-loaded
    = render 'shared/result_grid', {asker: asker, eligies: FilterRawAidsService.new(flat_all_eligible).go, uncertainies: FilterRawAidsService.new(flat_all_uncertain).go, ineligies: FilterRawAidsService.new(flat_all_ineligible).go}
