- asker ||= {}
- flat_all_eligible ||= []
- flat_all_ineligible ||= []
- flat_all_uncertain ||= []
- flat_all_contract ||= []

.c-result-default
  %pre
    =JSON.pretty_generate(flat_all_eligible)
  %pre
    =JSON.pretty_generate(flat_all_contract)
