- v = view_object(:result_default, local_assigns)

.c-result-default.o-wrapper
  .o-layout
    %div{class:"o-layout__item u-1/1 u-1/4@tablet"}
      %button
        %h5.c-mask-filter
          Masquer les filtres <span class="c-chevron bottom"></span>
      %h4
        Chercher les aides pour
      %ul
      - flat_all_filter.each_with_index do |filter, i|
        %li
          %input.c-radioinput{:name => "checkbox_#{i}", :type => "checkbox"}/
          %label.c-radiolabel{for: "checkbox_#{i}"}
            =filter["description"]
          

    %div{class:"o-layout__item u-1/1 u-3/4@tablet"}
      %h3 
        Vous pouvez bénéficier de
        - v.sort_and_order("flat_all_eligible").each do |aids_per_contract|
          .c-resultcard
            .c-resultcontract
              %h4.c-resultcontract_title
                =v.title_for(aids_per_contract)
              %p.c-resultcontract_descr
                blabla
            .c-resultaid
              - aids_per_contract.each do |aid|
                %p=aid["name"]
