- v = view_object(:result_default, local_assigns)

.c-result-default
  .u-useful-width.u-margin-constraint
    .o-layout
      .o-layout__item{class:"u-1/1 u-2/3@tablet"}

        #o_filterstag
          .c-filterstag-container.u-text--left
            - flat_all_filter.each_with_index do |a_filter, i|
              .c-filterstag__item.u-hidden{"data-name" => "#{a_filter["name"]}"}
                .c-filtertag
                  .o-layout.o-layout--flush
                    %div{"class" => "o-layout__item u-5/6 u-text--left c-filtertag__text"}
                      =a_filter["description"]
                    %div{"class" => "o-layout__item u-1/6 u-text--right c-filtertag__close"}
                      &nbsp;&#x2716;

        #nothing.u-hidden
          %h2.u-margin-vertical-small
            Aucune aide trouvée
          %p.c-nothing__line.u-margin-top-none
            Activez moins de filtres dans votre recherche

        %section#eligibles.u-margin-bottom
          .c-resulteligy
            .u-display-flex
              %div
                %h1.c-result-youcan="Vous pouvez bénéficier de"
            #o_aids_per_contract
              - v.sort_and_order("flat_all_eligible").each_with_index do |aids_per_contract, i|
                .c-resultcard.c-resultcard--green{"data-cslug" => v.slug_for(aids_per_contract)}
                  .c-resultcard__inner.o-layout.o-layout--middle.o-layout--flush.u-padding-horizontal-tiny
                    %div{class:"o-layout__item u-3/4"}   
                      .o-flag.o-flag--flush.c-resultcontract
                        .o-flag__img{class:"u-hide-until@wide"}
                          =v.icon_for(aids_per_contract)
                        .o-flag__body
                          %h2.c-resultcontract-title
                            %span.c-resultcontract-title__number
                              =aids_per_contract.size
                            %span.c-resultcontract-title__text{"data-csingle" => v.single_for(aids_per_contract), "data-cplural" => v.plural_for(aids_per_contract)}
                              =v.title_for(aids_per_contract)
                          %p.c-resultcontract_descr
                            =v.descr_for(aids_per_contract)
                    %div{"class"=>"o-layout__item u-1/4 u-text--right"}   
                      %a{"class" => "c-btn c-btn--small c-btn--result js-close", "href" => '"#{eligible_type_path(slug_for(aids_per_contract))}"'} <span class="">Voir les résultats&nbsp;&nbsp;</span>






        %section#uncertains.u-margin-bottom
          .c-resulteligy
            .u-display-flex
              %div
                %h1.c-result-youcan="Vous pourriez peut-être bénéficier de"
            #o_aids_per_contract
              - v.sort_and_order("flat_all_uncertain").each_with_index do |aids_per_contract, i|
                .c-resultcard.c-resultcard--green{"data-cslug" => v.slug_for(aids_per_contract)}
                  .c-resultcard__inner.o-layout.o-layout--middle.o-layout--flush.u-padding-horizontal-tiny
                    %div{class:"o-layout__item u-3/4"}   
                      .o-flag.o-flag--flush.c-resultcontract
                        .o-flag__img{class:"u-hide-until@wide"}
                          =v.icon_for(aids_per_contract)
                        .o-flag__body
                          %h2.c-resultcontract-title
                            %span.c-resultcontract-title__number
                              =aids_per_contract.size
                            %span.c-resultcontract-title__text{"data-csingle" => v.single_for(aids_per_contract), "data-cplural" => v.plural_for(aids_per_contract)}
                              =v.title_for(aids_per_contract)
                          %p.c-resultcontract_descr
                            =v.descr_for(aids_per_contract)
                    %div{"class"=>"o-layout__item u-1/4 u-text--right"}   
                      %button{"class" => "c-btn c-btn--small c-btn--result js-close"} <span class="">Voir les résultats&nbsp;&nbsp;</span>



        %section#ineligibles
          .o_ineligibles__content
            .o-list-inline
              .o-list-inline__item
                %h1.c-result-youcan.u-margin-bottom-none="Vous ne pouvez pas bénéficier de"
              #o_aids_per_contract
                - v.sort_and_order("flat_all_ineligible").each_with_index do |aids_per_contract, i|
                  .c-resultcard.c-resultcard--green{"data-cslug" => v.slug_for(aids_per_contract)}
                    .c-resultcard__inner.o-layout.o-layout--middle.o-layout--flush.u-padding-horizontal-tiny
                      %div{class:"o-layout__item u-3/4"}   
                        .o-flag.o-flag--flush.c-resultcontract
                          .o-flag__img{class:"u-hide-until@wide"}
                            =v.icon_for(aids_per_contract)
                          .o-flag__body
                            %h2.c-resultcontract-title
                              %span.c-resultcontract-title__number
                                =aids_per_contract.size
                              %span.c-resultcontract-title__text{"data-csingle" => v.single_for(aids_per_contract), "data-cplural" => v.plural_for(aids_per_contract)}
                                =v.title_for(aids_per_contract)
                            %p.c-resultcontract_descr
                              =v.descr_for(aids_per_contract)
                      %div{"class"=>"o-layout__item u-1/4 u-text--right"}   
                        %button{"class" => "c-btn c-btn--small c-btn--result js-close"} <span class="">Voir les résultats&nbsp;&nbsp;</span>



      .o-layout__item{class:"u-1/1 u-1/3@tablet"}

        = render 'shared/result_situation', asker


      



        .c-result-warning.u-margin-vertical
          %p.c-result-warning__line Simulation non contractuelle tenant compte des éléments déclarés et appréciés le #{Time.now.strftime("%d/%m/%Y")}
          %p.c-result-warning__line Clara n'intègre pas encore les spécificités des aides et mesures applicables dans les régions et collectivités d'Outre Mer.
                    
