.c-result-all.u-useful-width.u-margin-constraint
  %h1.c-result-all-title Toutes nos aides
  %nav
    = form_with url: aids_search_for_aids_path do |form|
      = form.text_field :plain_text_search
      = form.submit "Chercher"
  .o-layout
    .o-layout__item{:class => "u-1/1 u-3/4@desktop"}
      =@stuff
    .o-layout__item{:class => "u-1/1 u-1/4@desktop"}
      = render 'shared/detail_void'
