- eligies ||= []
- ineligies ||= []
- asker ||= {}
.grid
  .col-8_lg-12
    .c-results-index__block1 
      = render 'shared/result_list', {strong_title: 'Vous pouvez bénéficier de', lines: eligies, clazz: 'eligible'}
    .c-results-index__block2.mtl.mbm
      = render 'shared/result_list', {strong_title: 'Vous pourriez peut-être bénéficier de', lines: uncertainies, clazz: 'uncertain'}
    .c-results-index__block3.mtl.mbm
      = render 'shared/result_list', {strong_title: 'Vous ne pouvez pas bénéficier de', lines: ineligies, clazz: 'ineligible'}

  .col-4_lg-12
    = render 'shared/result_situation', {asker: asker}
