
%main.mw1140p.center.c-stats-index{role: "main"}
  %h2 Vue d'ensemble
    
  .grid
    .col-4_md-12
      %a{href: stats_index_path, class: "c-stats-card-link"}
        .o-card.c-stats-card.c-stats-totalview
          .c-stats-headernumber.c-stats-totalview__number
            =visitor_kpi
          .c-stats-headertext.c-stats-totalview__text
            Visiteurs total
    .col-4-_md-12
      .o-card.c-stats-card.c-stats-savedtime.c-stats-card--active
        .c-stats-savedtime__number
          =savedtime_kpi
        .c-stats-headertext.c-stats-savedtime__text
          Temps gagné par conseiller
    .col-4-_md-12
      .o-card.c-stats-card.c-stats-satisfaction
        .c-stats-satisfaction__number
        .c-stats-headertext.c-stats-satisfaction__text

    .col-4-_md-12
      .o-card.ct-gape{'data-loaded'=> "#{}"}
    .col-8-_md-12
      .o-card.ct-gabarline{'data-loaded'=> "#{}"}
