
%main.mw1140p.center.c-stats-index{role: "main"}
  %strong Vue d'ensemble
    
  .grid
    .col-4_md-12
      .o-card.c-stats-totalview
        %a.c-stats-headerlink
          Voir le détail
        .c-stats-headernumber.c-stats-totalview__number
          =visitor_kpi
        .c-stats-headertext.c-stats-totalview__text
          Visiteurs total
    .col-4-_md-12
      .o-card.c-stats-conversion
        %a.c-stats-headerlink
          Voir le détail
        .c-stats-conversion__number
          =conversion_kpi
        .c-stats-headertext.c-stats-conversion__text
          Taux de conversion
    .col-4-_md-12
      .o-card.c-stats-satisfaction
        %a.c-stats-headerlink
          Voir le détail
        .c-stats-satisfaction__number
          =satisfaction_kpi
        .c-stats-headertext.c-stats-satisfaction__text
          Taux de satisfaction

    .col-4-_md-12
      .o-card.ct-chart
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    .col-8-_md-12
      .o-card
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
