
%main.mw1140p.center.c-stats-index{role: "main"}
  
  .u-useful-width.u-margin-constraint     
    %h2.u-margin-top Vue d'ensemble    
    .o-layout
      .o-layout__item{:class => "u-1/1 u-1/3@desktop"}
        %a{href: stats_index_path, class: "c-stats-card-link"}
          .o-card.c-stats-card.c-stats-totalview
            .c-stats-headernumber.c-stats-totalview__number
              =visitor_kpi
            .c-stats-headertext.c-stats-totalview__text
              Visiteurs total
      .o-layout__item{:class => "u-1/1 u-1/3@desktop"}
        .o-card.c-stats-card.c-stats-savedtime.c-stats-card--active
          .c-stats-savedtime__number
            ="#{savedtime_all[:minutes_won]} min #{savedtime_all[:seconds_won]} s"
          .c-stats-headertext.c-stats-savedtime__text
            Temps gagné par conseiller
      .o-layout__item{:class => "u-1/1 u-1/3@desktop"}


    .o-layout.u-margin-top-small
      .o-layout__item{:class => "u-1/1 u-1/3@desktop"}
        .o-card.ct-gape{'data-loaded'=> "#{}"}
          Chers collègues conseiller(è)s Pôle emploi, aidez-nous à améliorer Clara ! Combien de temps pensez-vous gagner ou avoir gagné en utilisant ce service aujourd'hui ?
      .o-layout__item{:class => "u-1/1 u-2/3@desktop"}
        .o-card.ct-savedtime{'data-loaded'=> "#{savedtime_all.to_json}"}
