- title_data ||= ''
- description_data ||= ''
- actual_title = TabTitleHelper::TitleCalculator.new(request).calculate_title(title_data)
- actual_description = TabTitleHelper::TitleCalculator.new(request).calculate_description(description_data)
- prime_url = request.scheme + '://' + request.host

%title= actual_title
%meta{:name => "description", :content => "#{actual_description}"}/
%meta{:content => "website", :property => "og:type", :class => "og-type"}/
%meta{:content => image_url("clara_preview.png"), :property => "og:image", :class => "og-image"}/
%meta{:content => "Clara | Un service Pôle emploi", :property => "og:site_name", :class => "og-site-name"}/
%meta{:content => actual_title, :property => "og:title", :class => "og-title"}/
%meta{:content => "Clara est un service Pôle emploi qui permet de découvrir en 2 minutes les aides et mesures dont vous pouvez bénéficier", :property => "og:description", :class => "og-description"}/
%meta{:content => "#{prime_url}#{request.fullpath}", :property => "og:url", :class => "og-url"}/

