- title_data 'Message envoyé'

%main#main.mw1140p.center{role: "main"}
  
  = render 'shared/breadcrumb'

  %p.u-useful-width.u-margin-constraint
    Votre message a bien été envoyé. Nos équipes reviendront vers vous dans les meilleurs délais (les questions plus complexes peuvent prendre plus de temps).
