- title_data 'Accessibilité'
- description_data 'Cette page contient des informations relatives à l\'accessibilité du site.'

%main#main{role: "main"}
  .u-useful-width.u-margin-constraint
    %h1.c-accessibility-h1
      Gestion de vos préférences sur les cookies

    %h2.c-accessibility-h2 Introduction :

    %p 
      L’article 47 de la loi n° 2005-102 du 11 février 2005 pour l’égalité des droits et des chances, la participation et la citoyenneté des personnes handicapées fait de l’accessibilité une exigence pour tous les services de communication publique en ligne de l’État, les collectivités territoriales et les établissements publics qui en dépendent. 
    %p 
      Il stipule que les informations diffusées par ces services doivent être accessibles à tous. 
    %p 
      Le référentiel général d’accessibilité pour les administrations (RGAA) rendra progressivement accessible l’ensemble des informations fournies par ces services.
    %p 
      Le site Clara est en cours d’optimisation afin de le rendre conforme au RGAA v3 ( lien à intégrer : http://references.modernisation.gouv.fr/referentiel/). La déclaration de conformité sera publiée ultérieurement.


    %p.c-cookie-explanation 
      En activant les cookies, votre navigateur retient certaines informations de visite, et c’est grâce à cela que nous continuerons d’affiner votre expérience sur nos sites. 
      Sélectionnez votre choix concernant chaque catégorie de cookies. Cliquez sur “Valider et continuer” pour valider vos choix.
      %span
        =link_to "En savoir plus", confidentiality_index_path
      %span
        sur notre politique de confidentialité.
