- title_data "Clara | Découvrez les aides de retour à l’emploi - un service Pôle emploi"
- nb_of_active_aids = local_assigns[:nb_of_active_aids] || 0
- type_aides = local_assigns[:type_aides] || []
- type_dispositifs = local_assigns[:type_dispositifs] || []
- slug_of_creation = local_assigns[:slug_of_creation] || "not_found"
- slug_of_amob = local_assigns[:slug_of_amob] || "not_found"
- slug_of_alternance = local_assigns[:slug_of_alternance] || "not_found"
- slug_of_project = local_assigns[:slug_of_project] || "not_found"


.c-newhome

  = render partial: 'shared/home_hero'
  = render partial: 'shared/home_example', locals: {nb_of_active_aids: nb_of_active_aids, slug_of_creation: slug_of_creation, slug_of_amob: slug_of_amob, slug_of_alternance: slug_of_alternance, slug_of_project: slug_of_project}
  = render partial: 'shared/home_recall'


  - content_for :footer do
    = render partial: 'shared/footer', locals: {aides: type_aides, dispositifs: type_dispositifs, the_request: request}
