<%#
# Flash Partial

This partial renders flash messages on every page.

## Relevant Helpers:

- `flash`:
  Returns a hash,
  where the keys are the type of flash (alert, error, notice, etc)
  and the values are the message to be displayed.
%>

<% if flash.any? %>
  <div class="flashes hidden">

  </div>
  <button class="js-tooltip"
data-tooltip-content-id="tooltip_id_2nd_example"
 data-tooltip-title="Title for your tooltip"
 data-tooltip-close-text="Close it"
 data-tooltip-close-title="Close it, really">
  Show me another dialog tooltip window
</button>
<div id="tooltip_id_2nd_example" class="hidden">
    <% flash.each do |key, value| -%>
      <div class="flash flash-<%= key %>"><%= value.html_safe %></div>
    <% end -%>
</div>
<% end %>
