<% content_for(:title) { t("helpers.aid.update", name: page.page_title) } %>

<header class="main-content__header" role="banner">
  <h1 class="main-content__page-title c-aid-detail-header">
    <%= content_for(:title) %> : <%= page.resource.name.truncate(27) %>
  </h1>
</header>


<header class="c-aid-detail-subheader">
  <div class="c-aid-detail-action">
    <form>
      <input type="button" value="&larr;&nbsp;Retour&nbsp;&nbsp;" onclick="history.back();">
    </form>
  </div>
  <div>
    <button type="button" class="c-aid-record">Enregistrer</button>
  </div>
</header>

<section class="main-content__body">
  <%= render "form", page: page %>
</section>
