.c-address__explanation {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center; 
}

.c-address__content {
  display: flex;
  flex-direction: column;
  margin-top: space(7);
  text-align: center;
  justify-content: center;
  align-items: center; 
}

.c-address__form {
  display: flex;
  text-align: center;
  margin-top: $large-value;
  justify-content: center;
  align-items: center; 
}

#a11yAutocomplete [data-widget="accessible-autocomplete"] {
    margin-bottom: 0;
}

.pac-container:after {
    /* Disclaimer: not needed to show 'powered by Google' if also a Google Map is shown */
    background-image: none !important;
    height: 0px;
    padding: 0;
    margin: 0;
}
