.c-navbuttons {
  margin-top: 0;  
  @include respond-to("medium-up") {
  }
}

.c-navbuttons__separator {
  margin-top: $small-value;  
  @include respond-to("medium-up") {
    margin-top: 0;  
    margin-left: $small-value;  
  }
}

.c-navbutton {
  @extend .bigger, .c-button, .w200p;
}

.c-navbutton--back {
  
}

.c-navbutton--continue {
  @extend .c-button--brand-secondary;
}
