.c-question {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  @include respond-to("medium-up") {
    margin-left: 4rem;
    margin-right: 4rem;
  }  
  margin-top: 2vh;
}

.c-question__form {
}



.c-question__mark {
  padding-left: 1rem;
  @include respond-to("medium-up") {
    padding-left: 15rem;
  }  
}

.c-question__fieldset {
  margin-top: 0;
  margin-bottom: 0;
}
