.c-radiolist {
  
}
.c-radiolist__element {
  padding-right: $tiny-value;
  padding-left: $tiny-value;
  text-align: left;
  > * {
    display: inline-block;
  }
}

.c-radiolist__element + .c-radiolist__element {
  margin-top: space(1);
}
