.c-radiolist {
  
}
.c-radiolist__element {
  padding-right: $inuit-global-spacing-unit-small;
  padding-left: $inuit-global-spacing-unit-small;
  margin-top: $inuit-global-spacing-unit-tiny;
  text-align: left;
  line-height: 1;
  > * {
    display: inline-block;
  }
}

