.c-radiolabel {
  // width:80%;
  // max-width:80%;
  text-align: left;
  font-size: $h5-size;
  margin-top: 0;
  vertical-align: baseline;
  padding: $inuit-global-spacing-unit-tiny;
  @include respond-to("tiny-up") {
    font-size: $h3-size;
  }  
}

.c-fieldset > .c-radiolabel:first-of-type {
  margin-top: 0;
}

.c-radioinput {
  
}
