/* Tooltip hidden by default */
.simpletooltip[aria-hidden="true"],
.minimalist-simpletooltip[aria-hidden="true"],
.minimalist-left-simpletooltip[aria-hidden="true"] {
  display: none;
}
/* position relative for containers */
.simpletooltip_container,
.minimalist-simpletooltip_container,
.minimalist-left-simpletooltip_container {
  // position: relative;
}

/* tooltip styles */
.simpletooltip, 
.minimalist-simpletooltip, 
.minimalist-left-simpletooltip {
  position: absolute;
  margin: auto;
  top: 0; 
  left: 0;
  bottom: 0;
  right: 0;
  width: 30rem;
  border-radius: .5em;
  background: rgba( 0, 0, 0, .9 );
  color: #eee;
  font-size: space(4);
  @include respond-to("medium-up") {
    width: 40rem;
  }
}

.tooltip-box {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
}


