<%- is_activated = local_assigns[:is_activated] %>
<%- activation_text = is_activated ? "Désactiver l'enregistrement des réponses" : "Activer l'enregistrement des réponses" %>

<div style="margin-top: 2rem;margin-left: 2rem;">
  <%= form_with url: admin_post_switch_answer_path, local: true, id: 'admin_post_switch_answer_form' do |form| %>
    <div class="c-get-switch-answer-text">
      <% if is_activated %>
        L'enregistrement des réponses est actuellement activé
      <% else  %>
        L'enregistrement des réponses est actuellement désactivé
      <% end %>      
    </div>
    <div>
      <%= form.submit "#{activation_text}"%>
    </div>
  <% end %>
</div>

