
<h1>Liste des liens à revérifier (doute possible sur leur validité)</h1>


<div>

<table>
    <tr>
      <th>Url qui pose problème</th>
      <th>Code http</th>
      <th>Nouvelle URL conseillée (si applicable)</th>
    </tr>

  <% local_assigns[:broken_links].each do |e|   %>
    <tr>
      <td>
        <%= link_to  e[:url]  %>
      </td>
      <td>
        <%= e[:problem]  %>
      </td>
      <td>
        <%= e[:new_url]  %>
      </td>
    </tr>
  <% end %>

</table>
  
</div>



