- title_data 'Cookies et politique de confidentialité'
- description_data 'Informations générales sur les cookies et la politique de confidentialité'

= render 'shared/breadcrumb'


%main#main.c-confidentiality{role: "main"}
  .u-useful-width.u-margin-constraint
    .c-confidentiality__container
      %a{href: "#{request.referer}", "aria-label" => "Retour à la page précédente", "class" => "c-btn c-btn--small c-btn--result c-confidentiality-back u-margin-top-small"} <strong><</strong> Retour
      %h1.c-confidentiality-title.u-margin-top.u-margin-bottom-large
        Cookies et politique de confidentialité
      %h2.c-confidentiality-title Qu&apos;est-ce qu&apos;un cookie ?
      %ul.c-confidentiality-list
        %li Un cookie est un petit fichier texte déposé sur votre terminal (par exemple un ordinateur, une tablette, un ordiphone ou « Smartphone », une télévision connectée, une console de jeux vidéos connectée au réseau Internet) lors de la visite d’un site ou de la consultation d’une publicité.
        %li Il contient plusieurs données : le nom du serveur qui l’a déposé, un identifiant sous forme de numéro unique, éventuellement une date d’expiration. Les cookies ont différentes fonctionnalités. Ils ont pour but d’enregistrer les paramètres de langue d’un site, de collecter des informations relatives à votre navigation sur les sites et de vous adresser des services personnalisés.
        %li Seul l’émetteur d’un cookie est susceptible de lire, enregistrer ou de modifier les informations qui y sont contenues

      %h2.c-confidentiality-title Nos cookies
      %h3.c-confidentiality-title Les cookies strictement nécessaires au fonctionnement du site
      %p Il s’agit des cookies indispensables à la navigation sur notre site.
      %p Ils vous permettent :
      %ul.c-confidentiality-list
        %li d’utiliser les principales fonctionnalités du site et de sécuriser votre connexion
        %li de mettre en œuvre des mesures de sécurité, par exemple lorsqu’il vous est demandé de vous connecter à nouveau à un contenu ou à un service après un certain laps de temps.

      %p Sans ces cookies, vous ne pourrez pas utiliser notre site normalement. Nous vous déconseillons de les supprimer.
      
