- title_data 'Cookies et politique de confidentialité'
- description_data 'Informations générales sur les cookies et la politique de confidentialité'

= render 'shared/breadcrumb'


%main#main.c-confidentiality{role: "main"}
  .u-useful-width.u-margin-constraint
    .c-confidentiality__container
      %a{href: "#{request.referer}", "aria-label" => "Retour à la page précédente", "class" => "c-btn c-btn--small c-btn--result c-confidentiality-back u-margin-top-small"} <strong><</strong> Retour
      %h1.c-confidentiality-title.u-margin-top.u-margin-bottom-large
        Cookies et politique de confidentialité
      %h2.c-confidentiality-title Qu&apos;est-ce qu&apos;un cookie ?
      %ul.c-confidentiality-list
        %li Un cookie est un petit fichier texte déposé sur votre terminal (par exemple un ordinateur, une tablette, un ordiphone ou « Smartphone », une télévision connectée, une console de jeux vidéos connectée au réseau Internet) lors de la visite d’un site ou de la consultation d’une publicité.
        %li Il contient plusieurs données : le nom du serveur qui l’a déposé, un identifiant sous forme de numéro unique, éventuellement une date d’expiration. Les cookies ont différentes fonctionnalités. Ils ont pour but d’enregistrer les paramètres de langue d’un site, de collecter des informations relatives à votre navigation sur les sites et de vous adresser des services personnalisés.
        %li Seul l’émetteur d’un cookie est susceptible de lire, enregistrer ou de modifier les informations qui y sont contenues

      %h2.c-confidentiality-title Nos cookies
      %h3.c-confidentiality-title Les cookies strictement nécessaires au fonctionnement du site
      %p Il s’agit des cookies indispensables à la navigation sur notre site.
      %p Ils vous permettent :
      %ul.c-confidentiality-list
        %li d’utiliser les principales fonctionnalités du site et de sécuriser votre connexion
        %li de mettre en œuvre des mesures de sécurité, par exemple lorsqu’il vous est demandé de vous connecter à nouveau à un contenu ou à un service après un certain laps de temps.

      %p Sans ces cookies, vous ne pourrez pas utiliser notre site normalement. Nous vous déconseillons de les supprimer.
      
      %h2.c-confidentiality-title Les cookies tiers
      %p Des cookies peuvent être déposés par des sociétés tierces sur notre site. Ils ont des finalités différentes décrites ci-dessous, sous réserve de votre choix (Se référer au chapitre Accepter / Refuser les cookies).

      %h3.c-confidentiality-title Les cookies statistiques / mesure d&apos;audience
      %p 
        %span
          Le site Clara utilise des cookies tiers émanant du service d’analyse de site internet dénommé Google Analytics 
        =link_to "(https://www.google.fr/intl/fr/analytics/).","https://www.google.fr/intl/fr/analytics/", "aria-label" => "Google Analytics (nouvelle fenêtre)"
        %span
          Google Analytics utilise des cookies sur l’équipement terminal des utilisateurs permettant d’établir des statistiques de fréquentation de notre site et des différentes pages qui le composent. 
        %span
          Si vous ne souhaitez pas que ce type d’information soit collecté lors de votre navigation sur ce site, vous pouvez désactiver l’utilisation des cookies sur votre navigateur et supprimer les cookies actifs, ou encore vous rendre sur 
        =link_to "https://tools.google.com/dlpage/gaoptout","https://tools.google.com/dlpage/gaoptout", "aria-label" => "Désactivation de Google Analytics (nouvelle fenêtre)"
        %span
          et télécharger et installer dans votre navigateur internet le module de désactivation de Google Analytics.
        
      %h3.c-confidentiality-title Les cookies navigation / analyse parcours utilisateurs
      %p Le site Clara utilise des cookies tiers émanant du service d’analyse de parcours utilisateurs dénommé Hotjar <a aria-label="Politique de confidentialité de Hotjar (nouvelle fenêtre)" target="_blank" href="www.hotjar.com/privacy">(www.hotjar.com/privacy)</a>. Hotjar utilise des cookies sur l’équipement terminal des utilisateurs et peut enregistrer anonymement les données d’utilisateurs concernant par exemple la durée de visite du site ou encore les informations sur le navigateur et le système d’exploitation. Si vous ne souhaitez pas que ce type d’information soit collecté lors de votre navigation sur ce site, vous pouvez désactiver l’utilisation des cookies sur votre navigateur et supprimer les cookies actifs, ou encore vous rendre sur <a aria-label="Hotjar (nouvelle fenêtre)" target="_blank" href="https://www.hotjar.com/opt-out">https://www.hotjar.com/opt-out</a> et utiliser l’outil « Opt-Out » proposé par Hotjar en cliquant sur le bouton « Disable Hotjar » (Désactiver Hotjar).
      
      %h2.c-confidentiality-title Accepter ou refuser les cookies
      %p Nous n'utiliserons pas de cookies pour collecter des informations personnellement identifiables à votre sujet et vous disposez par ailleurs d'un droit d'accès, de rectification et d'opposition. Toutefois, si vous le souhaitez, vous pouvez choisir de rejeter ou bloquer en totalité ou pour partie les cookies définis par CLARA ou les sites Web de tout fournisseur tiers en modifiant les paramètres de votre navigateur. Veuillez consulter la fonction Aide dans votre navigateur pour en savoir plus. Vous pouvez modifiez vos choix en matière de cookies à tout moment. Le paramétrage des cookies est susceptible de modifier vos conditions de navigation sur notre site ainsi que vos conditions d’accès à certains services.
      %p Si vous souhaitez régler le paramétrage des cookies de notre site, vous pouvez vous rendre sur les pages suivantes selon le navigateur que vous utilisez. Plusieurs choix sont possibles selon le navigateur utilisé : refus de tous les cookies, blocage de certains cookies, effacement des cookies après fermeture du navigateur.
      %ul.c-confidentiality-list
        %li 
          %strong Google Chrome :
          =link_to "https://support.google.com/chrome/answer/95647?hl=fr", "https://support.google.com/chrome/answer/95647?hl=fr", class: "c-confidentiality__browserlink--chrome", target: "_blank", "aria-label"=>"Google Chrome (nouvelle fenêtre)"
          %span ou Allez dans le <strong>menu</strong> « <strong>Outils</strong> » &gt; Cliquez sur « <strong>Paramètres</strong> » &gt; Cliquez sur « <strong>Afficher les paramètres avancés</strong> », puis sur « <strong>Paramètres de contenu</strong> » &gt; « <strong>Autoriser le stockage des données locales</strong> » <strong>doit être sélectionné</strong>. Une fois cela effectué, <strong>sélectionnez</strong> « <strong>Bloquer tous les cookies</strong> »)
        %li 
          %strong Internet Explorer : 
          =link_to "http://windows.microsoft.com/fr-fr/internet-explorer/delete-manage-cookies#ie=ie-11", "http://windows.microsoft.com/fr-fr/internet-explorer/delete-manage-cookies#ie=ie-11", class: "c-confidentiality__browserlink--ie", target: "_blank", "aria-label"=>"Internet Explorer (nouvelle fenêtre)"
        %li 
          %strong Mozilla Firefox :
          =link_to "https://support.mozilla.org/fr/kb/activer-desactiver-cookies", "https://support.mozilla.org/fr/kb/activer-desactiver-cookies", class: "c-confidentiality__browserlink--firefox", target: "_blank", "aria-label"=>"Mozilla Firefox (nouvelle fenêtre)"
        %li 
          %strong Safari :
          =link_to "https://support.apple.com/kb/PH19214?locale=fr_FR", "https://support.apple.com/kb/PH19214?locale=fr_FR", class: "c-confidentiality__browserlink--safari", target: "_blank", "aria-label"=>"Safari (nouvelle fenêtre)"

      %p Veuillez noter que la plupart des navigateurs acceptent automatiquement des cookies et si vous ne souhaitez pas que des cookies soient utilisés, vous aurez peut-être besoin de supprimer ou bloquer vous-même les cookies.
      %p 
        %span
          Nous vous offrons la possibilité de bloquer leur collecte en cliquant sur 
        =link_to "le lien suivant.", edit_cooky_path("preference")

      %p
        Veuillez toutefois noter que si vous rejetez l'utilisation de cookies, vous serez toujours en mesure de visiter nos Sites Web mais certaines des fonctionnalités peuvent ne pas fonctionner correctement.
      %a{href: "#{request.referer}", "aria-label" => "Retour à la page précédente", "class" => "c-btn c-btn--small c-btn--result c-confidentiality-back u-margin-bottom"} <strong><</strong> Retour
