- title_data 'Cookies et politique de confidentialité'
- description_data 'Informations générales sur les cookies et la politique de confidentialité'


%main#main.mw1140p.center{role: "main"}
  .u-useful-width.u-margin-constraint
    %h1.c-confidentiality-title.u-margin-top.u-margin-bottom-large
      Cookies et politique de confidentialité
