<section id="clearance" class="password-reset c-login">

  <div class="c-login-card u-margin-top u-margin-bottom">
    <h1>Consultez vos emails !</h1>
    <p>Nous avons envoyé par e-mail un lien spécial à l'adresse que vous avez renseignée.</p>
    <p>Cliquez sur ce lien pour changer votre mot de passe.</p>
    <p>L'équipe Clara.</p>
  </div>
  
</section>
