<section id="clearance" class="password-reset c-login">

  <div class="c-login-card u-margin-top u-margin-bottom">
    <h1>Succès</h1>
    <p>Un email vient de vous être envoyé pour réinitialiser votre mot de passe</p>
  </div>
  
</section>
