<section id="clearance" class="password-reset c-login  u-margin-bottom-large">

  <div class="c-login-card u-margin-top u-margin-bottom">

    <h1>Récupérer votre mot de passe</h1>
    <p>
      <div>Un email vous sera envoyé.</div>
      <div>Vous devez déjà être inscrit avec cet email.</div>
    </p>

    <%= form_for :password, url: passwords_path do |form| %>
      <div class="text-field">
        <%= form.label :email %>
        <%= form.text_field :email, type: 'email', "class" => "u-1/1" %>
      </div>
      <div class="submit-field c-login-connect u-margin-vertical">
        <%= form.submit "Réinitialiser mon mot de passe" %>
      </div>
    <% end %>

  </div>
</section>
