- e ||= OpenStruct.new(has_error:false, main_error:'')
- title ||= nil
- subtitle ||= nil
- youranswer ||= "yes"


.c-question-title__warning
  %span
    Les champs marqués d’un
  %span.c-question-title__warning-red
    * 
  %span 
    sont obligatoires

%h1.c-question-title
  %span.c-question-title__asterisk
    *
  %span.c-question-title__actual
    =title

- if youranswer == "yes"
  %h2.c-question-youranswer
    Votre réponse
  
- if subtitle
  .c-question-subtitle
    =subtitle


