- v = view_object(:breadcrumb, local_assigns)


.c-breadcrumb.u-useful-width{"class" => "#{v.additional_css}"}
  .o-layout
    .o-layout__item{:class => "u-1/2"}
      %nav{"aria-label" => "breadcrumbs", :role => "navigation"}
        = link_to root_path, {class: 'c-breadcrumb-link-home', :'data-turbolinks' => 'true'} do 

          <svg class="u-cursor-pointer" onclick="location.href = '/'" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 504.257 504.257" style="enable-background:new 0 0 504.257 504.257;" xml:space="preserve"> <g> <g> <path d="M279.617,11.388c-15.184-15.184-39.798-15.184-54.982,0L31.359,204.664c-15.184,15.184-10.086,27.491,11.389,27.491h14.56 v259.862c0,6.763,5.478,12.24,12.24,12.24H196.03V369.616c0-6.763,5.483-12.239,12.24-12.239h87.718 c6.756,0,12.239,5.477,12.239,12.239v134.641H434.71c6.763,0,12.24-5.478,12.24-12.24V232.155h14.56 c21.469,0,26.573-12.308,11.389-27.491L279.617,11.388z"/> </g> </g> </svg>
          <span class="c-breadcrumb-home-text">Accueil</span>
        &nbsp;/&nbsp;
        - if v.display_form?
          %a.c-breadcrumb-current.c-breadcrumb-current--question{ :href => ""} Formulaire
        - elsif v.display_search?
          %a.c-breadcrumb-current.c-breadcrumb-current--results{ :href => ""} Résultats de la recherche
        - elsif v.display_cgu?
          %a.c-breadcrumb-current.c-breadcrumb-current--results{ :href => ""} Conditions générales d'utilisation
        - elsif v.display_callback?
          %a.c-breadcrumb-current.c-breadcrumb-current--results{ :href => ""} Données 
        - elsif v.display_results?
          %a.c-breadcrumb-current.c-breadcrumb-current--results{ :href => ""} Résultats
        - elsif v.display_contact?
          %a.c-breadcrumb-current.c-breadcrumb-current--results{ :href => ""} Nous contacter
        - elsif v.display_detail?
          %a{ :href => v.link_to_aides, :class => 'c-breadcrumb-link' } Résultats
          &nbsp;/&nbsp;
          %a.c-breadcrumb-current.c-breadcrumb-current--detail{ :href => ""} Détail

    .o-layout__item{:class => "u-1/2"}
    
      
