- v = view_object(:breadcrumb, local_assigns)


.c-breadcrumb.u-useful-width{"class" => "#{v.additional_css}"}
  .o-layout
    .o-layout__item{:class => "u-1/2"}
      %nav{"aria-label" => "breadcrumbs", :role => "navigation"}
        = link_to root_path, {class: 'c-breadcrumb-link-home', :'data-turbolinks' => 'true'} do 

          <svg class="u-cursor-pointer" onclick="location.href = '/'" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 504.257 504.257" style="enable-background:new 0 0 504.257 504.257;" xml:space="preserve"> <g> <g> <path d="M279.617,11.388c-15.184-15.184-39.798-15.184-54.982,0L31.359,204.664c-15.184,15.184-10.086,27.491,11.389,27.491h14.56 v259.862c0,6.763,5.478,12.24,12.24,12.24H196.03V369.616c0-6.763,5.483-12.239,12.24-12.239h87.718 c6.756,0,12.239,5.477,12.239,12.239v134.641H434.71c6.763,0,12.24-5.478,12.24-12.24V232.155h14.56 c21.469,0,26.573-12.308,11.389-27.491L279.617,11.388z"/> </g> </g> </svg>
          <span class="c-breadcrumb-home-text">Accueil</span>
        &nbsp;/&nbsp;
        - if v.display_form?
          %a.c-breadcrumb-current.c-breadcrumb-current--question{ :href => ""} Formulaire
        - elsif v.display_search?
          %a.c-breadcrumb-current.c-breadcrumb-current--results{ :href => ""} Résultats de la recherche
        - elsif v.display_cgu?
          %a.c-breadcrumb-current.c-breadcrumb-current--results{ :href => ""} Conditions générales d'utilisation
        - elsif v.display_results?
          %a.c-breadcrumb-current.c-breadcrumb-current--results{ :href => ""} Résultats
        - elsif v.display_confidentiality?
          %a.c-breadcrumb-current.c-breadcrumb-current--results{ :href => ""} Cookies et confidentialité
        - elsif v.display_contact?
          %a.c-breadcrumb-current.c-breadcrumb-current--results{ :href => ""} Nous contacter
        - elsif v.display_detail?
          %a{ :href => v.link_to_aides, :class => 'c-breadcrumb-link' } Résultats
          &nbsp;/&nbsp;
          %a.c-breadcrumb-current.c-breadcrumb-current--detail{ :href => ""} Détail

    .o-layout__item{:class => "u-1/2"}
      - if v.display_print?
        .c-breadcrumb-printer.u-text--right
          %span.c-breadcrumb-printer__item
            %span.c-breadcrumb-printer__svg.first
              <svg width="20px" height="16px" viewBox="0 0 20 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <g id="Form-Quest-/-Resultat-amelio" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="UI-Sprint-5---Résultat" transform="translate(-1164.000000, -291.000000)" fill="#1981C0" fill-rule="nonzero"> <g id="share" transform="translate(1164.000000, 291.000000)"> <path d="M9.00020116,4.05381567 L9.00020116,0.999815673 C9.00011481,0.595419775 8.75647366,0.230881623 8.38285572,0.0761376946 C8.00923778,-0.0786062333 7.57919542,0.00690775714 7.29320116,0.292815673 L0.293201162,7.29281567 C0.105484803,7.48021311 -7.46069873e-13,7.73457007 -7.46069873e-13,7.99981567 C-7.46069873e-13,8.26506128 0.105484803,8.51941824 0.293201162,8.70681567 L7.29320116,15.7068157 C7.57883825,15.9937534 8.00941716,16.0799163 8.38347548,15.92499 C8.7575338,15.7700637 9.0010955,15.4046872 9.00020116,14.9998157 L9.00020116,11.9038157 C9.28420116,11.8838157 9.56520116,11.8748157 9.84320116,11.8748157 C15.2692012,11.8748157 18.0822012,15.4468157 18.2052012,15.6048157 C18.463733,15.9467479 18.9120456,16.0849072 19.3182012,15.9478157 C19.7256046,15.8111681 20.0002012,15.429525 20.0002012,14.9998157 C20.0002012,5.87581567 11.9142012,4.31881567 9.00020116,4.05381567 Z M9.84320116,9.87481567 C9.19620116,9.87481567 8.53120116,9.91981567 7.86820116,10.0078157 C7.37126048,10.0744334 7.00026377,10.4984296 7.00020116,10.9998157 L7.00020116,12.5858157 L2.41420116,7.99981567 L7.00020116,3.41381567 L7.00020116,4.99981567 C7.00020116,5.55181567 7.47120116,5.99981567 8.02220116,5.99981567 C8.93220116,5.99981567 16.1362012,6.20081567 17.7012012,12.4248157 C16.0472012,11.2068157 13.4202012,9.87481567 9.84320116,9.87481567 Z" id="Shape" transform="translate(10.000101, 8.000526) scale(-1, 1) translate(-10.000101, -8.000526) "></path> </g> </g> </g> </svg>
            %span.second
              Partager
      
