- v = view_object(:callback_question, local_assigns)

.c-callback-question
  =ap(asker).html_safe
  .o-layout
    .o-layout__item{:class => "u-3/4"}
      - if v.display_duree_d_inscription?
        = render 'shared/callback_v_duree_inscription', {inscription: InscriptionForm.new(value: asker[:v_duree_d_dinscription])}
      - else
        = render 'shared/callback_v_preferences', {filters: filters}
    .o-layout__item{:class => "u-1/4"}
      
