.c-detail-void{:class => "u-margin-top-small u-margin-top-none@desktop"}
  %strong.c-detail-void__lines
    .c-detail-void__line Envie de savoir si vous êtes
    .c-detail-void__line éligible à des aides et
    .c-detail-void__line mesures pour favoriser votre
    .c-detail-void__line retour à l'emploi ?

  .c-detail-void__line
    = link_to 'Je commence', QuestionManager.new.getNextPath, class: 'c-detail-cta'
