- e ||= OpenStruct.new(has_error:false, main_error:'')
- if e.has_error
  .c-error-in-form
    %label.c-label.is-error  &nbsp; Veuillez sélectionner l'une de ces options
- else
  %label.c-label.flex-container.h4-like.visibility-hidden &nbsp;
