.c-footer-motherhome
  %small
    %span.c-footer-motherhome__span.is-first
      ="Copyright #{Time.now.year} ©CLARA"
    %span.c-footer-motherhome__span.is-last
      = link_to "propulsé par POLE EMPLOI", "https://www.pole-emploi.fr/", target: "_blank", "class" => "c-propels-by"

