.c-newhomehero
  .c-navbar
    .c-newhomehero__header
      .u-useful-width.u-useful-width--larger.u-margin-constraint
        = render 'shared/logozone', {display_search: true}

  .c-newhomehero__content
    .c-newhomehero-covid-container.u-useful-width.u-useful-width--larger.u-margin-constraint
      .c-newhomehero-covid
        .c-newhomehero-covid__title
          [INFORMATION COVID-19]
        .c-newhomehero-covid__text
          En raison de la crise sanitaire actuelle, les conditions d'accès à certaines aides ou prestations peuvent être modifiées. 
        .c-newhomehero-covid__text
          Des précisions peuvent être apportées directement sur nos contenus, sur le site de Pôle emploi ou ceux de nos partenaires
    .c-newhomehero-hero-container.u-useful-width.u-useful-width--larger.u-margin-constraint
      .o-layout.o-layout--middle
        .o-layout__item{:class => "u-1/1 u-1/2@desktop"}
          %h1.c-newhomehero__title{:class => "u-text--center u-textalign-left-from@desktop"} 
            %span Boostez votre
            %span recherche d'emploi
            %span en moins de 4 minutes





        .o-layout__item{:class => "u-1/1 u-1/2@desktop"}
          %div{:class => "u-hide u-show@desktop"}
            = image_tag(empty_image, alt: "", data: { "src" => image_path("jump.svg") }) 
  
