.c-home-sticky
  .c-home-sticky-inner
    .c-home-sticky__firstblock
      .c-home-sticky__txt.is-first
        Découvrez à <strong>quelles aides vous êtes éligible</strong>
      .c-home-sticky__txt.is-last
        = form_with url: welcome_start_wizard_path, :local => true, id: 'start_wizard_form2', class: "c-newhomehero__cta2" do |f|
          = f.submit 'Je commence', class: 'c-main-cta2'
