.c-home-approved
  .u-useful-width.u-useful-width--larger.u-margin-constraint
    %h2.c-home-approved-title
      Nos utilisateurs approuvent

    .o-layout
      .o-layout__item{:class => "u-1/1 u-1/3@desktop"}
        .c-home-approved-card
          .c-home-approved-txt
            « Clair et rapide. Un petit QCM à compléter et voilà les aides et mesures disponibles en fonction de ma situation qui s'affichent. Excellent. »
      .o-layout__item{:class => "u-1/1 u-1/3@desktop"}
        .c-home-approved-card
          .c-home-approved-txt
            «C’est simple et facile. Il faut juste savoir que ça existe.»

      .o-layout__item{:class => "u-1/1 u-1/3@desktop"}
        .c-home-approved-card
          .c-home-approved-txt
            « Simple d'utilisation et plusieurs informations solutions données. »

