.c-home-md
  .u-useful-width.u-useful-width--larger.u-margin-constraint
    %h2.c-home-md-title
      %span
        Avec Clara, vous accédez en
      %span
        moins de 10 questions à des 
      %span
        solutions personnalisées
