- all_filters = all_home_filters.sort_by{|e| e[:ordre]}

.c-home-catalog
  .u-useful-width.u-useful-width--larger.u-margin-constraint
    %h2.c-home-catalog-title
      Accédez au catalogue Clara
      
    - all_filters.each_slice(2).to_a.each do |array_of_2_filters|
      .o-layout
        - array_of_2_filters.each do |filt|
          - name = filt[:name].to_s
          - slug = filt[:slug]
          - src = filt[:url]
          .o-layout__item{:class => "u-1/1 u-1/2@wide"}
            .c-home-catalog-card
              .o-media
                .o-media__img.c-home-catalog-cardimg
                  %div{alt: name, src: src, class: 'c-home-catalog-replacable' }
                .o-media__body.c-home-catalog-cardbody
                  .c-home-catalog-cardtxt1
                    %span=name
                  .c-home-catalog-cardtxt2
                    %a.c-am-i-eligible{"data-filter" => slug, :href => "/inscription_questions/new"} Suis-je éligible ?

