- is_peconnect_activated ||= false

.c-newhomehero
  .c-navbar
    .c-newhomehero__header
      .u-useful-width.u-useful-width--larger.u-margin-constraint
        = render 'shared/logozone', {display_search: true}
        
  = render 'shared/home_hero_content', locals: {is_peconnect_activated: is_peconnect_activated}
