.c-homefeat
  .u-useful-width.u-useful-width--larger.u-margin-constraint
    .o-layout.o-layout--middle
      .o-layout__item{:class => "u-1/1 u-1/2@wide"}
        %h2.c-homefeat-title
          Plus de 130 aides disponibles 
        %div.c-homefeat-txt
          Clara est un service de Pôle emploi qui vous donne une information personnalisée, sur les aides, mesures, contrats et prestations.

      .o-layout__item{:class => "u-1/1 u-1/2@wide"}
        %h2.c-homefeat-title
          Un service gratuit et pour tous
        %div.c-homefeat-txt.c-homefeat-txt--last
          Clara est née d’une question récurrente « A quelles aides ai-je droit ? ». Clara vous questionne sur votre situation personnelle et calcule votre éligibilité.
    .c-homefeat-separator
      &nbsp;
