.c-home-catalog
  .u-useful-width.u-useful-width--larger.u-margin-constraint
    %h2.c-home-catalog-title
      Accédez au catalogue Clara

    .c-home-catalog-firstline{data: { "src1" => image_path("image_se_former.jpg"), "src2" => image_path("image_accompagnement.jpg")  }}
    .c-home-catalog-secondline{data: { "src1" => image_path("image_creer_entreprise.jpg"), "src2" => image_path("image_orienter_reconvertir.jpg")  }}
    .c-home-catalog-thirdline{data: { "src1" => image_path("image_aide_mobilite.jpg"), "src2" => image_path("image_travailler_international.jpg")  }}


    .u-text--center.c-home-catalog-seemore-container
      %button.c-home-catalog-seemore
        Voir plus

    .c-home-catalog-penultimate{data: { "src1" => image_path("image_remuneration_formation.jpg"), "src2" => image_path("image_garde_enfant.jpg")  }}
    .c-home-catalog-ultimate{data: { "src1" => image_path("image_contrats_specifiques.jpg"), "src2" => image_path("image_aides_regionales.jpg")  }}
