.c-home-md
  .u-useful-width.u-useful-width--larger.u-margin-constraint
    %h2.c-home-md-title
      %span
        Avec Clara, vous accédez en
      %span
        moins de 10 questions à des 
      %span
        solutions personnalisées

      .o-layout.o-layout--middle
        .o-layout__item{:class => "u-1/1 u-1/3@desktop"}
          aaa
        .o-layout__item{:class => "u-1/1 u-1/3@desktop"}
          bbb
        .o-layout__item{:class => "u-1/1 u-1/3@desktop"}
          ccc

