- is_peconnect_activated ||= false

.c-newhomehero
  .c-navbar
    .c-newhomehero__header
      .u-useful-width.u-useful-width--larger.u-margin-constraint
        .c-logozone.o-line
          .o-line__item
            = render 'shared/logozone', {display_search: true}

  = render 'shared/home_hero_content', {is_peconnect_activated: is_peconnect_activated}
