- id ||= ""
- value ||= ""
- text ||= ""

.c-radioline.js-enterspace{id: "radio_#{id}"}
  %label.radio-button 
    - if value != ""
      %input.radio-button__input{:name => "inscription_form[value]", :type => "radio", id: "#{id}", checked: "checked"}
    - else
      %input.radio-button__input{:name => "inscription_form[value]", :type => "radio", id: "#{id}"}
    %span.radio-button__control
    %span.radio-button__label 
      =text

