- v = view_object(:progressbar, local_assigns) 

.c-progressbar.
  .c-progressbar-background-container
    .c-progressbar-background
      .c-progressbar-foreground{"style" => "width:#{v.progressbar_width}px"}

