%h1.c-cookie-title 
  Gestion de vos préférences sur les cookies

%p.c-cookie-explanation 
  En activant les cookies, votre navigateur retient certaines informations de visite, et c’est grâce à cela que nous continuerons d’affiner votre expérience sur nos sites. Sélectionnez votre choix concernant chaque catégorie de cookies. Cliquez sur “Valider et continuer” pour valider vos choix.

= render 'form'

= link_to 'Show', edit_cooky_path
\|
= link_to 'Back', root_path
