- description_data("Vous êtes connecté".html_safe)

.c-callback

  .u-useful-width.u-margin-constraint.u-margin-top
    = render 'shared/breadcrumb', {margin_constraint: "no"}
    
    %h1.c-callback-title Vous êtes connecté


    %h2.c-callback-subtitle Mon profil
    %div
      =@info["family_name"]
    %div
      =@info["given_name"]
