- description_data("Vous êtes connecté".html_safe)
- d = local_assigns

.c-callback
  .u-useful-width.u-margin-constraint.u-margin-top
    = render 'shared/breadcrumb', {margin_constraint: "no"}
    
    %div.c-callback-name
        Bienvenue, 
      %span
        =d[:prenom]

  .c-callback-layout.o-layout.o-layout--middle
    .o-layout__item{:class => "u-1/1 u-1/5@tablet"}
    .o-layout__item{:class => "u-1/1 u-3/5@tablet"}
      %h2.c-callback-subtitle Mon profil
      %ul    
        %li
          =d[:libelle_statut_individu]
        %li
          =d[:date_de_naissance]
        %li
          =d[:niveau_formation]
        %li
          =d[:coord]
        %li
          =d[:alloc]
    .o-layout__item{:class => "u-1/1 u-1/5@tablet"}

  .c-callback-layout.o-layout.o-layout--middle
    .o-layout__item{:class => "u-1/1 u-1/5@tablet"}
    .o-layout__item{:class => "u-1/1 u-3/5@tablet"}
      %h2.c-callback-subtitle Informations complémentaires
    .o-layout__item{:class => "u-1/1 u-1/5@tablet"}

