- description_data("Vous êtes connecté".html_safe)
- d = local_assigns

.c-callback
  .u-useful-width.u-margin-constraint.u-margin-top
    = render 'shared/breadcrumb', {margin_constraint: "no"}
    
    %h1.c-callback-title Vous êtes connecté
    
    %h2.c-callback-subtitle Mon profil
    %div
      =d[:family_name]
    %div
      =d[:given_name]
    %div
      =d[:code_statut_individu]
    %div
      =d[:libelle_statut_individu]
