<%#
# String Index Partial

This partial renders a string attribute
to be displayed on a resource's index page.

By default, the attribute is rendered as a truncated string.

## Local variables:

- `field`:
  An instance of [Administrate::Field::String][1].
  A wrapper around the String pulled from the database.

[1]: http://www.rubydoc.info/gems/administrate/Administrate/Field/String
%>

<%- actual_v = field.resource.class.to_s.downcase + '.' + field.attribute.to_s + '.' + field.data.to_s %>
<%- transl = t(actual_v, default: field.truncate.to_s) %>
<span data-val="<%=field.truncate.to_s%>"><%= transl %></span>
