.js-accordion__panel[aria-hidden=true] {
  display: none;
}

.js-accordion__panel[role="tabpanel"] .js-accordion__header {
  display: none;
}

button.js-accordion__header {
  display: block !important;
}

.js-accordion__header[aria-expanded="true"]:before {
  content: "∧ ";
}
.js-accordion__header[aria-expanded="false"]:before {
  content: "∨ ";
}

.js-accordion__header[aria-selected="true"] {
  background-color: #f0f7fc;
  color: #136eb5;
  font-weight: 700;
}

.js-accordion.accordion {
  margin: 0 3rem;
  margin-bottom: 1rem;
}

button.js-accordion__header {
  background-color: white;
  color: #666;
  border: 1px solid #136eb5;
  width: 100%;
  text-align: left;
  border-radius: 0;
  font-weight: 400;
}
button.js-accordion__header:hover {
  background-color: #f0f7fc;
  color: #136eb5;
}
