a.c-aid-preview {
  color: white;
  text-decoration: none;
}


.c-aid-detail-action {
  margin-right: .5rem;
}

.main-content__header.c-aid-detail-header {
  border: none;
  padding-bottom: 0;
}

.c-aid-detail-subheader {
  display: flex;
  flex-direction: row;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 0;
  padding-top: 1.5rem;
}

.main-content__body.c-aid-detail-body {
  padding-top: 1.5rem;
}

.focusable_tab_title {
  margin-bottom: 1.5rem;
}

.selectize-control.multi .selectize-input:after {
    content: ' ';
    display: block;
    position: absolute;
    top: 37%;
    right: 15px;
    margin-top: -3px;
    width: 5px;
    height: 5px;
    border-style: solid;
    border-width: 3px;
    border-color: #808080 #808080 transparent transparent;
    transform: rotate(135deg);
}

.selectize-control.multi .selectize-input.dropdown-active:after {
    top: 63%;
    border-width: 3px;
    border-color: transparent transparent #808080 #808080;
}

.c-aid-edit-body {
  .field-unit {
    flex-direction: column;
    align-items: flex-start;
  }
  .field-unit__label {
    text-align: left;
    margin-bottom: .3rem;
    margin-top: .3rem;
    width: auto;
  }
  .field-unit--ckeditor .field-unit__field {
    width: 100%;
    margin-left: 0;
  }
}

.main-content__body.c-aid-edit-body {
  padding-left: 0;
  display: flex;
}

.c-aid-edit-body__child.left-panel {
  width: 50%;
  height: 35rem;
  overflow: auto;
}

.c-aid-edit-body__child.right-panel {
  width: 50%;
  margin-left: 1rem;
  height: 35rem;
  overflow: auto;
}

.cke_toolbar_separator + .cke_toolbar_separator {
  display: none;
}

div.cke_dialog_tabs {
  margin-left: 2rem;
}

.c-detail-item__text ul {
  list-style-type: inherit;
  padding-left:40px
}
