
.main-content__body.c-aid-detail-body {
  padding: 0;
  margin-left: 2rem;
}

.c-aid-detail-body {
  border: solid 1px #e4e8f0;
  border-radius: 2px;
  width: 80%;
}

header.main-content__header.c-aid-detail-header {
  border: none;
}

.c-aid-detail-body .c-tabbed-dl {
  margin-left: 0;
}

.main-content__body.c-aid-detail-body .attribute-data {
  width: 65%;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #333333;
  margin-bottom: 1rem;
}

.main-content__body.c-aid-detail-body .attribute-label {
  width: 35%;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #797676;
  margin-bottom: 1rem;
}

.c-aid-detail-section + .c-aid-detail-section {
  border-top:  solid 1px #e4e8f0;
}

.c-aid-detail-section  {
  padding: 1rem 1rem;
  li {
    padding-left: 1rem;
  }
}

.c-aid-detail-subtitle {
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  color: #1b1b1b;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.c-aid-detail-title {
  font-size: 27px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #333333;
  .is-actual-title {
    font-weight: normal;
  }
}

.c-aid-detail-goback {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.5;
  letter-spacing: normal;
  color: #057dbc;
  cursor: pointer;
  margin-left: 2rem;
  margin-top: 1rem;
  display: block;
}
