a.c-aid-preview {
  color: white;
  text-decoration: none;
}


.c-aid-detail-action {
  margin-right: .5rem;
}

.main-content__header.c-aid-detail-header {
  border: none;
  padding-bottom: 0;
}

.c-aid-detail-subheader {
  display: flex;
  flex-direction: row;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 0;
  padding-top: 1.5rem;
}

.main-content__body.c-aid-detail-body {
  padding-top: 1.5rem;
}

.selectize-control.multi .selectize-input:after {
    content: ' ';
    display: block;
    position: absolute;
    top: 37%;
    right: 15px;
    margin-top: -3px;
    width: 5px;
    height: 5px;
    border-style: solid;
    border-width: 3px;
    border-color: #808080 #808080 transparent transparent;
    transform: rotate(135deg);
}

.selectize-control.multi .selectize-input.dropdown-active:after {
    top: 63%;
    border-width: 3px;
    border-color: transparent transparent #808080 #808080;
}

.c-aid-edit-body {
  .field-unit {
    flex-direction: column;
    align-items: flex-start;
  }
  .field-unit__label {
    text-align: left;
    margin-left: 2rem;
    margin-bottom: .3rem;
    width: auto;
    font-weight: 400;
  }
  .field-unit--ckeditor .field-unit__field {
    width: 100%;
    margin-left: 0;
  }
}

.main-content__body.c-aid-edit-body {
  padding-left: 0;
  display: flex;
}

.c-aid-edit-body__child.left-panel {
  width: 50%;
  height: 35rem;
  overflow: auto;
  .alert-convention {
    padding: 9px 16px;
    color: white;
    background-color: #057dbc;
    p {
      margin-bottom: 5px;
    }
    .alert-controls {
      text-align: right;
    button.hide-button {
      color: white;
    }
    a {
      color: white;
    }
  }
  }
}

.c-aid-edit-body__child.right-panel {
  width: 50%;
  margin-left: 1rem;
  height: 35rem;
  overflow: auto;
}

.cke_toolbar_separator + .cke_toolbar_separator {
  display: none;
}

div.cke_dialog_tabs {
  margin-left: 2rem;
}

.c-detail-item__text ul {
  list-style-type: inherit;
  padding-left:40px
}

button.js-collapse {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  color: #027cbb;
  text-decoration-line: underline;
  padding: 0.75em .5em;
  font-weight: 400;
  &:hover {
    color: #025d8c;
    background-color: transparent;
  }
}

// Hack waiting for value "non_inscrit" to be definetly removed
select option[value=non_inscrit] {
  display: none;
}
