.field-unit {
  @include administrate-clearfix;
  align-items: center;
  display: flex;
  margin-bottom: $base-spacing;
  position: relative;
  width: 100%;
}

.field-unit__label {
  float: left;
  margin-left: 1rem;
  text-align: right;
  width: calc(15% - 1rem);
  label {
    display: inline;
  }
}

.field-unit__field {
  float: left;
  margin-left: 2rem;
  width: 45%;
}

.field-unit__label-mandatory {
  color: red;
}

.field-unit__label-additional {
  font-size: .85rem;
  color:#707070;
}

.field_with_errors {
  display: inline;
}

.field-unit-error-msg {
  background-color: red;
  color: white;
  font-weight: bold;
}

h2.flash-error {
  background-color: red;
  color: white;
}

.field-unit-error-msg--has-many {
  margin-top: -.4rem;
}

.field-unit--errored-true .field-unit__field {
  border: 2px solid red;
  border-radius: 5px;
}

.field-unit--nested {
  border: $base-border;
  margin-left: 7.5%;
  padding: $small-spacing;
  width: 50%;

  .field-unit__field {
    width: calc(75% - 1rem);
  }

  .field-unit__label {
    width: calc(25% - 1rem);
  }
}
