.need-menu-box {
  background-color: black;
  width: 5rem;
}
.need-menu-box {
  height: 30px;
  width: 80px;
  background: transparent;
}

.need-menu-box-inside {
  background: transparent;
  height: 50%;
  border-left: 3px solid grey;
  border-bottom: 3px solid grey;
}

.need-menu-line {
  display: inline-block;
}
