.c-newaid.c-newaid--stage4 .field-unit__field input, .c-newaid.c-newaid--stage4 textarea, .c-newaid.c-newaid--stage4 .selectize-input, .c-newaid.c-newaid--stage4 select {
  height: 25px;
}

.c-newaid {
  padding: 16px;
  box-shadow: 0 0 5px 0 rgba(232, 232, 232, 0.53);
}

.c-newaid-back2 {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.5;
  letter-spacing: normal;
  color: #057dbc;
}

.c-newaid-title {
  font-size: 27px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #333333;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.c-newaid {
  .c-detail-item {
    padding-bottom: 2rem;
  }
  .c-aid-edit-body__child {
    border-radius: 2px;
    background-color: #f6f6f6;
  }
  .field-unit {
    align-items: initial;
    margin-bottom: initial;
    position: initial;
    width: initial;
  }
  .field-unit__label {
    float: initial;
    margin-left: initial;
    text-align: initial;
    width: initial;
    label {
      width: 109px;
      height: 21px;
      font-family: Roboto;
      font-size: 18px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #333333;
    }
  }
  .field-unit__field {
    float: initial;
    margin-left: initial;
    width: 80%;
  }
  .field-unit__field input, textarea, .selectize-input, select {
    height: 39px;
    border-radius: 4px;
    border: solid 1px #dddbda;
    background-color: #ffffff;
  }
  .field-unit__label {
    margin-top: 1.5rem;
  }
  .is-iteration-0 .field-unit__label {
    margin-top: 0;
  }
}


.c-newaid.c-newaid--stage3 .selectize-input {
  height: initial; 
}

.c-newaid-subtitle {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.94;
  letter-spacing: normal;
  color: #1b1b1b;
  margin-bottom: 1rem;
}

.c-newaid--stage5 .c-newaid-subtitle {
  margin-bottom: 0;
}
.c-newaid--stage5 .c-newaid-subtitle-expl {
  margin-bottom: 1rem;
}


.c-newaid-stages {
  display: flex;
}

.c-newaid-stage {
  padding: 0 .5rem;
  padding-left: 0;
}

.c-newaid-stageinside {
  padding: .3rem .9rem;
}

.c-newaid-stage--active {  
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.1875;
  letter-spacing: normal;
  text-align: center;
  color: #1b1b1b;
  border-radius: 2px;
  border: solid 1px #e4e8f0;
  z-index: 12;
  background-color: white;
  border-bottom: none;
}

.c-newaid-stage--inactive {  
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.1875;
  letter-spacing: normal;
  text-align: center;
  color: #8e9093;
}

.c-newaid-stages {
}

.main-content {
  box-shadow: 0 0 5px 0 rgba(232, 232, 232, 0.53);
  background-color: #ffffff;
}

.navigation {
  padding-left:1rem;
  margin-right: 2rem;
  box-shadow: 1px -25px 10px 0 #d9e4ec;
  background-color: #ffffff;
}


.c-newaid-belowstages {
  padding: 1rem;
  border-radius: 2px;
  border: solid 1px #e4e8f0;
  margin-top: -.1rem;
  margin-right: 1rem;
  .alert-convention {
    border-radius: 2px;
    padding: 9px 16px;
    color: white;
    background-color: #057dbc;
    margin-bottom: 21px;
    strong {
      font-weight: bold;
    }
    p {
      margin-top: 5px;
      margin-bottom: 5px;
    }
    .alert-controls {
      display: flex;
      align-items: center;
      justify-content: right;
    button.hide-button {
      color: white;
    }
    a {
      color: white;
    }
  }
  }
}

.c-newaid-actions {
  margin-top: 1rem;
}

.c-newaid-actionrecord {
  margin-left: 1rem;
}

#submit-current-step {
  display: none;
}

.c-newaid--stage2 .field-unit--ckeditor .field-unit__field {
  width: 100%;
  margin-left: 0;
}

.c-newaid.c-newaid--stage1 .field-unit {
    display: initial;
}
.c-newaid.c-newaid--stage3 .field-unit {
    display: initial;
}
#aid_short_description {
  height: 100px;
}

.c-newaid.c-newaid--stage3 .c-btn--aid {
  background-color: #057dbc;
  opacity: 0.5;
}

.c-newaid.c-newaid--stage3 .c-btn {
  cursor: default;
}

.c-newaid--stage4 #main-apprule-expl {
  margin-bottom: 0;
  margin-left: 0;
}
.c-newaid--stage4 .root_box {
  margin-top: 0;
  padding-top: 0;
}
.c-newaid.c-newaid--stage4 .field-unit__label {
  margin-top: 0;
}
.c-newaid.c-newaid--stage4 {
  .field-unit__label {
    label {
      font-size: 14px;
    }
  }
}

.c-newaid-greyzone {
  padding: .5rem;
  background-color: #f6f6f6;
  border-radius: 2px;

}

.c-newaid-willdisplay {
  font-size: 14px;
  letter-spacing: 0.42px;
  color: #545454;
}

.c-newaid-stage5expl {
  display: flex;
  border-radius: 4px;
  padding: .5rem;
  margin-bottom: 1.5rem;
}

.c-newaid-stage5expl.is-ok-true {
  color: #2b542c;
  background-color: #dff0d8;
}

.c-newaid-stage5expl.is-ok-false {
  color: #843534;
  background-color: #ebcccc;
}
.c-newaid-stage5expl__img {
  display: flex;
  margin-right: 1rem;
}

.c-newaid-stage5title {
  opacity: 0.7;
  font-size: 16px;
  font-weight: bold;
  line-height: 2.19;
  color: #1b1b1b;
  margin-left: .6rem;
}

.c-newaid--stage5 .c-newbutton.c-newaid-actionrecord {
  margin-left: 0;
  margin-bottom: 1.5rem;
}
