.pagination {
  margin-top: $base-spacing;
  padding-left: $base-spacing;
  padding-right: $base-spacing;
  text-align: center;

  .first,
  .prev,
  .page,
  .next,
  .last {
    padding: $small-spacing;
    border: 2px solid #dfe0e1;
  }

  .first,
  .prev,
  .next,
  .page {
    border-right: none;
  }

  .current {
    font-weight: $bold-font-weight;
    background-color: #f2f2f2;
  }

  a {
    text-decoration: none;
  }
}
