body.c-body.r7_pen {
  textarea {
    display: none;
  }
  input.submit {
    background-color: white;
    padding: 0;
    color: blue;
  }
  #admin_admin_post_r7_data_form {
    margin-bottom: 1rem;
  }

  #staging-cards {
    display: flex;
    flex-wrap: wrap;
    margin-left: 2rem;
  }
  #forms {
    display: flex;
  }

  .staging-card {
    flex: 1 0 15%; 
    padding: 1rem;
  }
}
