.c-rules-subheader {
  display: flex;
  flex-direction: row;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 0;
  padding-top: 1.5rem;
}

.c-rules-subheader form.search {
  margin-left: 0;
  margin-right: auto;
}
