.c-section-title {
  padding: 0 0 .5rem 0;
  margin: 2rem 0 1rem 2rem;
  border-bottom: 1px solid lightgray;
  &.is-last {
    margin-top: 1rem;
  }
}



.c-generalinfo  {
  .field-unit {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2rem;
  }
  .field-unit__label {
    text-align: left;
    margin-bottom: .3rem;
    width: auto;
    font-weight: 400;
    margin-left: 0;
  }
  .field-unit__field {
    margin-left: 0;
  }
}







.c-geowhere {
  padding: 2rem;
  padding-top: 0;
}

label.c-geolabel {
  display: inline;
  font-weight: 400;
}

.c-geowhere-title {
  padding-bottom: 1rem;
}

.c-geowhere-line {
  padding-bottom: .5rem;
  input, label {
    cursor: pointer;
  } 
}

.c-geowhere-selections {
  display: flex;
}
.c-geowhere-selection {
  width: 18rem;
  margin-right: 1rem;
}

.c-geoselect-label {
  font-weight: 400;
  font-size: 14px;
}

.c-geowhere-selections {
  margin-left: 3rem;
  margin-top: .3rem;
}


.sortable {
  width: 500px;
  padding: 10px;
  margin: 10px;
  min-height: 15px;
  border: 1px dashed #000;
  cursor: pointer;
}
.sortable .sortable {
  width: 75%;
  margin-top: 0;
}
.sortable .placeholder {
  width: 100%;
  height: 20px;
  background: rgba(0, 0, 0, 0.2);
}
.sortable li {
  list-style-type: none;
}
