
.c-superadmin h2 {
  font-size: 1.3rem;
  font-weight: 400;
  margin-bottom: 1rem;
  text-align: center;
}

.c-superadmin .grid-col {
  padding: 1rem;
}

.c-superadmin-card {
  border: 1px solid #dfe0e1;
  height: 12rem;
  padding: 1rem;
}

