
.c-superadmin h2 {
  font-size: 1.3rem;
  font-weight: 400;
  margin-bottom: 1rem;
  text-align: center;
}

.c-superadmin .grid-col {
  padding: 1rem;
}

.c-superadmin-card {
  border: 1px solid #dfe0e1;
  height: 12rem;
  padding: 1rem;
}

// 
// BELOW ARE FOR TESTS ONLY
// 
body[data-path="admin_get_r7_data_path"] {
  textarea {
    display: none;
  }
  input.submit-edition {
    background-color: white;
    padding: 0;
    color: blue;
  }
}

#admin_admin_post_r7_data_form {
  margin-bottom: 1rem;
}

.staging-cards {
  display: flex;
}
