.example-tabs-tabs__list {
  margin: 0;
  padding: 0;
}

.example-tabs-tabs__item {
  display: inline-block;
}

.example-tabs-tabs__link {
  display: inline-block;
  padding: .5em 2em;
  cursor: pointer;
  color: $action-color;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

[aria-selected="true"].example-tabs-tabs__link {
  color: #000;
  background-color: white;
}

[aria-hidden="true"].example-tabs-tabs__content {
  display: none;
}

.js-tabcontent[aria-hidden=true] { display: none; }

.example-tabs-tabs__content {
  border: 2px solid black;
  margin-top: -.12rem;
}

.c-tabbed-dl {
  margin-top: 0;
  margin-left: 3rem;
  margin-right: 3rem;
}

.focusable_tab_title {
  display: inline-block;
  padding: 2rem;
  padding-bottom: .5rem;
  border-bottom: 1px solid lightgray;
}
