.u-bold {
  font-weight: bold;
}

.u-focusable:focus, .u-focusable.is-activated {
  border-color: #2196f3;
  box-shadow: inset 0 0 0 2px #4dabf5;
}

.u-brand-color {
  color: $brand-primary;
}

.u-white-color {
  color: $color-white;
}

.u-cursor-pointer {
  cursor: pointer;
}

.u-underline {
  text-decoration: underline;
}

