- title_data 'Contact'

%main#main.mw1140p.center{role: "main"}
  
  = render 'shared/breadcrumb'

  .u-useful-width.u-margin-constraint
    .o-card
      .o-layout
        .o-layout__item{class:"u-1/1 u-3/4@tablet"}
          %h1
            Formulaire de contact
        .o-layout__item{class:"u-1/1 u-1/4@tablet"}
          infos
