.c-address-input {
  @extend .u-padding-vertical-small;
} 

.c-address__explanation {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center; 
}

.c-address__content {
  margin-top: space(4);
  margin-bottom: space(4);
}

.c-address__form {
  display: flex;
  text-align: center;
  margin-top: space(7);
  justify-content: center;
  align-items: center; 
}

#a11yAutocomplete [data-widget="accessible-autocomplete"] {
    margin-bottom: 0;
}

input#search {
  opacity: 0.6;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  max-width: 280px;
}

.c-address__heartening {
  max-height: 5rem;
  background-color: #dff0d8;
  width: 100%;
  color: #2b542c;
  line-height: 1.5;
  border-radius: 4px;
  border: solid 1px #d0e9c6;
  background-color: #dff0d8;
  padding-left: 1rem;
  padding-right: 1rem;
  .o-layout {
    height: 100%;
  }
  .o-layout__item {
    align-items: center;
  }
  @include mq($until: tablet) {
    max-width: 250px;
  }
}

.c-address__hearteningtxt {
  font-size: 16px;
  @include mq($until: mobile) {
    font-size: 12px;
  }  
}
