.c-are__form {
  &.is-error {
    padding-bottom: space(0);
  }  
}

.c-are-label {
  display: block;
}
.c-label.c-are-label {
  font-size: 17px;
}

.c-are-error {
}

.c-are-euro {
  font-size: space(7);
}

.c-are__form .c-field {
  width: 1.5 * space(12);    
  @extend .u-padding-vertical-small;
  input {
    @extend .u-padding-vertical-small;
  }
}
