.c-breadcrumb {
  @extend .u-margin-vertical-small;
  nav {
    display: flex;
    align-items: center;
  }
}

.c-results-index .c-breadcrumb {
  @include mq($until: tablet) {
    display: none;
  }
}

.c-breadcrumb-home-text {
  color: #333;
  margin-left: space(1);
}

.c-breadcrumb-link-home {
  display: flex;
  padding: space(1);
}


.c-breadcrumb-printer__item {
  display: inline-flex;
  align-items:center;
  cursor: pointer;
  border-radius: 100px;
  border: solid 1px #057dbc;
  background-color: white;
  color: #057dbc;
  @include mq($until: tablet) {
    display: none;
  }
  span {
    padding-top: space(3);
    padding-bottom: space(3);
  }
  span.first {
    padding-left: space(6);
    padding-right: space(2);
  }
  span.second {
    padding-right: space(6);
    font-size: 16px;
    font-weight: 500;
  }
}

.c-breadcrumb-printer__svg {
  display:flex;
  align-items:center;
}

.c-breadcrumb-current {
  margin-right: auto;
  text-decoration: none;
}
.c-breadcrumb-current--pertype {
  @include mq($until: tablet) {
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 100px;
    max-width: 100px;
    overflow: hidden;
  }
}

.c-breadcrumb-print {
  margin-left: auto;
}

.c-breadcrumb-current--results {
  color: #057dbc;
}
