.c-back-question {
  cursor: pointer;
  opacity: 0.6;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  display: inline-block;
  margin-bottom: 1.2rem;
  margin-top: .8rem;
}
