
.c-callback {
  margin-bottom: 3rem;
}

.c-callback-layout.o-layout {
  margin-left: -22px;
  @include mq($from: mobile) {
    margin-left: 0;
  }  
}

h1.c-callback-title {
  font-size: 30px;
  font-weight: bold;
  font-weight: 900;
  text-align: center;
  margin-bottom: 0;
}

.c-callback-name {
  text-align: center;
  margin-bottom: 24px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.56;
  color: #152e3a;
}

.c-callback-subtitle {
  margin-bottom: 12px;
  font-size: 22px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.27;
  letter-spacing: normal;
  color: #046ea5;
}

.c-callback-submit {
  margin-top: 3rem;
  background-color: #026396;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-align: center;
  color: #fafafa;
  border: none;
  text-transform: uppercase;
  padding: .5rem 1rem;
  @include mq($from: tablet) {
    font-size: 22px;
    padding: 1.75rem 5rem;
  }
  cursor: pointer;
}


button#display_more_filters {
  background: none!important;
  border: none;
  padding: 0!important;
  text-decoration: underline;
  cursor: pointer;
  font-size: 16px;
  color: #046ea5;
}
