.o-card {
  padding: space(8) space(3);  
  background-color: $color-white;
  border-radius: 5px;
}
.o-card.o-card--question {
  padding: space(5) space(8);  
  border-radius: 4px;
  border: solid 1px #2e92c7;
}
