.c-callback {
  .c-breadcrumb {
    margin: 10px 0;
    a {
      text-decoration: none;
    }
  }
  a {
    color: #057dbc;
    text-decoration: underline;
    cursor: pointer;
  }
  a:hover {
    color: #035884;
  }
  p {
    width: 700px;
    font-size: 16px;
    line-height: 1.5;
    color: #333333;
  }
}


.c-callback-title {
  font-size: 30px;
  font-weight: bold;
}
