.c-cookies-banner {
  background-color: #152e3a;
  opacity: 0.94;
  color: #ffffff;
  form.button_to {
    text-align: center;
    @include mq($from: desktop) {
      text-align: right;
    }
  }
}

.c-cookies-banner-txt {
  font-size: 14px;
  @include mq($from: desktop) {
    font-size: 16px;
  }
  line-height: 1.5;
  color: #ffffff;
}

.c-cookies-clickhere a, .c-cookies-clickhere a:link {
  color: #ffffff;
  text-decoration: underline;
}

.c-cookies-button {
  padding: 10px 15px;
  margin: 16px 0;
  @include mq($from: desktop) {
    padding: 17px 27px;
    margin: 24px 0;
  }
  white-space: nowrap;
  cursor: pointer;
  border: solid 2px #ffffff;
  font-size: 14px;
  @include mq($from: desktop) {
    font-size: 16px;
  }
  font-weight: bold;
  letter-spacing: 0.8px;
  text-align: center;
  background-color: #152e3a;
  color: #ffffff;
}

.c-cookies-banner-line.is-first {
  margin-top: 16px;  
  @include mq($from: desktop) {
    margin-top: 0;
  }  
}

.c-cookies-banner-line {
  text-align: center;
  @include mq($from: desktop) {
    text-align: left;
  }
}
