.c-detail-condition {
}
.c-detail-condition__raw {
  display: flex;
  align-items: center;
  margin-top: space(3);
}

.c-detail-condition-svg {
  display: flex;
  align-items: center;
  margin-right: space(1);
  svg {
    min-width: 35px;
    max-width: 35px;
    min-height: 44px;
    max-height: 44px;    
  }
}

.c-detail-condition__separator {
  margin-bottom: space(5);
}

.c-detail-condition-text {
  margin-left: space(2);
  a {
    word-break: break-word;
  }
}
