.c-feedback {
  padding: space(5) space(9);
}

.c-feedback textarea {
  padding: space(4);
}

.c-feedback-background {
  background-color: #057dbc;
}

.c-feedback-police {
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
}

.c-feedback .js-feedback-yes {
  text-decoration: underline;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: white;
  padding-left: 0;
}
.c-feedback .js-feedback-no button {
  text-decoration: underline;
  border: none;
  cursor: pointer;
}

.c-feedback-line {
  height: 0.5rem;
}
