.c-feedback-background {
  background-color: #057dbc;
}

.c-feedback-police {
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
}

.c-feedback button.js-expandmore-button {
  text-decoration: underline;
  border: none;
}
