.c-fse-logo {
  margin: 0;
  width: 45px;
  @include mq($from: mobile) {
    width: 90px;
    margin: 0 10px 0 0;
  }
}

.c-fse-logo-pe {
  margin: 0;
  width: 35px;
  @include mq($from: mobile) {
    width: 70px;
    margin: 0 10px 0 0;
  }
}

.c-fse-logo-ue {
  margin: 0;
  width: 40px;
  @include mq($from: mobile) {
    margin: 0 10px 0 0;
    width: 80px;
  }
}

.c-fse-p {
  margin: 0;
  p {
    margin: 0;
  }
}

.c-fse-p p {
  display: block;
  font-size: 9px;
  line-height: 1.5;
  color: #312e33;
  @include mq($from: mobile) {
    width: 130px;
  }
  @include mq($from: wide) {
    width: 190px;
  }
}

.c-fse-line {
  margin-left: auto;
  margin-right: auto;
  display: table;
  width: 60%;
  margin-top: 20px;
  @include mq($from: desktop) {
    margin-top: 0;
    width: 100%;
    margin-left: 24px;
    margin-right: 0;
  }
}

.c-fse-linecont {
  @include mq($until: tablet) {
    padding-left: 5px;
  }
}
