.c-footer {
  padding-top: 60px;
  font-size: 16px;
  color: #312e33;
  background-color: #ffffff;  
  line-height: 1.88;
  a:link, a:visited,  a:active, a:hover {
    text-decoration: none;
    color: #312e33;
  }
  a:hover {
    text-decoration: underline;
  }
}

hr.c-footer-hr {
  height: 1px;
  background-color: rgba(49, 46, 51, 0.1);
  border: 0;
}

.c-footer-subtitle-line {
  width: 28px;
  height: 1px;
  border: solid 2px #3483ef; 
  margin-top: space(5);
}


.c-footer-intro {
  padding-bottom: 3rem;
  padding-left: 1rem;
  @include mq($from: tablet) {    
    padding-left: 0;
    padding-top: 1rem;
    padding-bottom: 0;
  }
  span {
    display: block;
  }
}

.c-footer-subtitle {
  font-size: 22px;
  line-height: 1.27;
  color: #312e33;
}

.c-body.welcome.index {
  .c-footer {
    margin-top: 0;
  }
}

a.c-link-to-all-aides {
  color: white;
}

.c-footer__content.is-first {
  padding-left: 1rem;
  @include mq($from: tablet) {    
    padding-left: 2rem;
  }
}

.c-footer__content.is-last {
  padding-left: 1rem;
}

.c-footer__content {
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
  @include mq($until: tablet) {    
    padding-bottom: 3rem;
  }
}

.c-footer__contenttitle {
  font-weight: bold;
}

.c-footer-cgu {
  display: flex;
  flex-direction: column;
  @include mq($until: tablet) {    
    padding-top: space(6);
  }
}

.c-footer-motherhome {
  text-align: center;
  @include mq($from: tablet) {    
    text-align: right;
  }
  small span {
    display: block;
    @include mq($from: mobile) {    
      display: inherit;
    }
  }
}

.c-footer-link + .c-footer-link, .c-footer-link-li + .c-footer-link-li {
  margin-top: 9px;
  line-height: 1.5;
}

.c-footer-logos {
  display: inherit;
}

.c-footer-logos-container {
  padding-left: 0;
  text-align: center;
  margin-bottom: 1rem;
  @include mq($from: tablet) {    
    text-align: left;
    margin-bottom: 0;
  }
}
