.c-filterboxes {
  display: flex;
  flex-wrap: wrap;
}

.c-filterbox {
  width: 320px;
  height:75px;
  label {
    display:block;
    border-radius: 2px;
    border: solid 2px #454545;
    line-height:1.5;
    cursor: pointer;
  }

  input[type=checkbox] {
    display: none;
  }

  input:checked + label {
    border-radius: 2px;
    border: solid 2px #057dbc;
    color: #F00;
    .fillable-svg-path {
      fill: red;
    }
  }

  .check {
    svg {
      width: 32px;
      height: 32px;
    }
    .fillable-svg-path {
      fill: black;
    }
  }

}
