h2.c-home-approved-title {
  margin-top: 80px;
  margin-bottom: 40px;
  font-size: 20px;
  @include mq($from: tablet) {
    font-size: 32px;
  }
  @include mq($from: wide) {
    font-size: 40px;
  }
  font-weight: 900;
  line-height: 1.2;
  letter-spacing: -0.36px;
  text-align: center;
  color: #152e3a;
  @include mq($from: tablet) {
    font-size: 32px;
  }
  @include mq($from: wide) {
    font-size: 40px;
  }
  text-align: center;
}

.c-home-approved-card {
  border-radius: 8px;
  box-shadow: 0 11px 55px 10px rgba(0, 0, 0, 0.07), 0 13px 18px -8px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
}

.c-home-approved-txt {
  font-size: 22px;
  line-height: 1.27;
  text-align: center;
  color: #312e33;
  height: 140px;
}
