.c-home-catalog {
  background-color: #ffffff;
}


.c-home-catalog-card {
  width: 320px;
  @include mq($from: tablet) {
    width: 555px;
  }  
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
}

h2.c-home-catalog-title {
  margin-top: 80px;
  margin-bottom: 40px;
  font-size: 20px;
  @include mq($from: tablet) {
    font-size: 32px;
  }
  @include mq($from: wide) {
    font-size: 40px;
  }
  font-weight: 900;
  line-height: 1.2;
  letter-spacing: -0.36px;
  text-align: center;
  color: #152e3a;
  @include mq($from: tablet) {
    font-size: 32px;
  }
  @include mq($from: wide) {
    font-size: 40px;
  }
  text-align: center;
}

.c-home-catalog-cardimg {
  width: 120px;
  height: 120px;
  @include mq($from: tablet) {
    width: 240px;
    height: 240px;
  }  
}

.c-home-catalog-cardbody {
  position: relative;
  height: 120px;
  @include mq($from: tablet) {
    height: 240px;
  }  
}

.c-home-catalog-cardtxt1 {
  margin-top: 10px;
  @include mq($from: tablet) {
    margin-top: 30px;
  }  
  span {
    display: block;
    font-weight: bold;
    line-height: 1.29;
    color: #152e3a;
    font-size: 18px;
    @include mq($from: tablet) {
      font-size: 28px;
    }  
  }
}

.c-home-catalog-cardtxt2 {
  position: absolute;
  bottom: 0;
  padding-bottom: 10px;
  @include mq($from: tablet) {
    padding-bottom: 30px;
  }  
  a.c-am-i-eligible {
    font-size: 16px;
    line-height: 1.08;
    color: #057dbc;
    text-decoration: underline;
  }
}

.c-home-catalog-card {
  border-radius: 8px;
  box-shadow: 0 11px 55px 10px rgba(0, 0, 0, 0.07), 0 13px 18px -8px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
}

.c-home-catalog-seemore {
  border: solid 2px #057dbc;
  font-weight: bold;
  letter-spacing: 0.8px;
  text-align: center;
  color: #152e3a;
  font-size: 18px;
  padding: 1rem 3rem;
  text-transform: uppercase;
  margin-top: 25px;
  cursor: pointer;
  @include mq($from: tablet) {
    padding: 2rem 5rem;
    font-size: 22px;
  }  
}
