.c-homefeat {
  background-color: rgba(0, 167, 255, 0.2);
}

h2.c-homefeat-title {
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 28px;
  font-weight: 900;
  line-height: 1;
  color: #152e3a;
  font-size: 22px;
  @include mq($from: tablet) {
    font-size: 28px;
  }
}
.c-homefeat-txt {
  line-height: 1.55;
  color: #152e3a;
  font-size: 18px;
  @include mq($from: tablet) {
    font-size: 22px;
  }
}

.c-homefeat-separator {
  padding-bottom: 52px;
}
