.c-home-sticky {
  position: fixed;
  bottom: 0;
  background-color: #ccedff;
  display: none;
  width: 100%;
  .c-main-cta2 {
    margin: 14px 0;
    @include mq($from: tablet) {
      margin: 28px 0;
    }
  }
}

.c-home-sticky__firstblock {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @include mq($from: tablet) {
    flex-direction: row;
  }
}

.c-home-sticky__txt {
  font-size: 18px;
  line-height: 1.29;
  color: #312e33;
  @include mq($from: desktop) {
    font-size: 21px;
  }
  @include mq($from: wide) {
    font-size: 28px;
  }
}

.c-home-sticky__txt.is-first {
  margin-top: 14px;
  margin-right: 0;
  @include mq($from: tablet) {
    margin-top: 0;
    margin-right: 1rem;
  }
}
.c-home-sticky__txt.is-last {
  margin-left: 0;
  @include mq($from: tablet) {
    margin-left: 1rem;
  }
}
