.c-logozone--clara {
  text-decoration: none;
  margin-left: -2px;
  img {
    padding-right: space(3);
    @include mq($until: tablet) {
      width: 151px;
      padding-left: 3px;
    }
  }
}

.c-logozone--clara.c-logozone--clara-notroot img {
  margin-top: 9px;    
  width: 100px;
  @include mq($from: tablet) {
    width: 214px;
  }
}



.c-logozone .c-logozone--pe img {
  width: 100px;
  margin-left: -5px;
  @include mq($from: tablet) {
    width: 143px;
    margin-left: 0px;
  }
  margin-bottom: -5px;
}

.c-logozone--modal {
  padding-left: space(6);
  padding-top: space(4);
  padding-bottom: space(4);
  padding-right: space(6);
  border-bottom: 2px solid #047dbb;
}

.c-logozone-rightsearch {
  text-align: right;
}

#clara-peconnect-disconnect {
  cursor: pointer;
}
