.c-newhome {
}


/* Navbar
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.c-navbar {
  width: 100%;
  background-color: #f7fcff;
}


/* Hero section
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.c-newhome {
  background-color: #ffffff;
}

h1.c-newhomehero__title {
  span {

    font-size: 40px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.07;
    letter-spacing: -0.5px;
    color: #152e3a;
    display: block;
    @include mq($from: tablet) {
      font-size: 70px;
      font-weight: 900;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.07;
      letter-spacing: -0.5px;
      color: #152e3a;
    }
  }
}

.c-newhomehero__header {
  padding: space(4) space(2);
  @include mq($from: tablet) {
    padding: space(4) 0;
  }
}

.c-newhomehero__right {
  margin-right: 8%;
  margin-left: 0;
  margin-right: 0;
  @include mq($from: tablet) {
    margin-left: auto;
    margin-right: 8%;
  }
}

.c-newhomehero__navbar {
  display: flex;
}

.c-newhomehero__navbar-elt {
  margin-left: space(3);
  @include mq($from: tablet) {
    margin-left: space(5);
  }
}

.c-newhomehero__navbar-elt--inactive {
  opacity: 0.5;
}
.c-newhomehero__navbar-elt--active {
  border-bottom: 4px solid #3DBDB6;
  margin-bottom: space(4);
}

.c-newhomehero__content {
  background-color: #f7fcff;
  margin-left: 0;
  padding-top: space(6);
  padding-bottom: space(9);
  a {
    margin: space(5) 0 0 0; 
  }
}

.c-newhomehero__content-image {
  flex: 3 1 0;
  display: none;
  @include mq($from: desktop) {
    display: flex;
  }
}

.c-newhomehero__content-description {
  flex: 2 1 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 space(4) 0 space(4);
  @include mq($from: desktop) {
    width: inherit;
  }
  @include mq($from: mobile) {
    margin: 0;
  }
  a {
    display: block;
  }
  div {
    text-align: center;
    @include mq($from: desktop) {
      text-align: inherit;
    }
  }
}

.c-newhomehero__cta {
  text-align: center;
  @include mq($from: desktop) {
    text-align: left;
  }  
}


.c-newhomehero__content-description > div {
  display: inline;
  @include mq($from: mobile) {
    display: block;
  }
}

input.c-main-cta2:hover {
  background-color: #026396;
}

input.c-main-cta2 {
  background-color: #057dbc;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.8px;
  text-align: center;
  color: #fafafa;
  border: none;
  text-transform: uppercase;
  padding: 1rem 2rem;
  @include mq($from: tablet) {
    font-size: 22px;
    padding: 2rem 4rem;
  }
  cursor: pointer;
}

/* Number section
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.c-newhomenumber {
  background: linear-gradient(131.99deg, #3DBDB6 5.64%, #0089CE 100%);
}

h2.c-newhomenumber__title {
  text-align: center;
  padding-top: space(7);
  margin-bottom: space(2);
  color: white;
}

.c-newhomenumber__subtitle {
  text-align: center;
  color: white;
}

.c-newhomenumber__cards {
  display: flex;
  justify-content: center;
  margin-top: space(7);
  padding-bottom: space(9);
  flex-direction: column;
  align-items: center;
  @include mq($from: tablet) {
    flex-direction: row;
  }
}

.c-newhomenumber__card + .c-newhomenumber__card {
  margin-left: space(0);
  margin-top: space(7);
  @include mq($from: tablet) {
    margin-top: space(0);
    margin-left: space(7);
  }
}

.c-newhomenumber__card {
  background-color: white;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: space(6) 0 space(4) 0;
  color: #159BC6;
  width: space(11) * 1.8;
  @include mq($from: desktop) {
    width: space(11) * 2;
  }
}

.c-newhomenumber__card-nb {
  font-size: space(8);
}

/* Recall section
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.c-newhomerecall {
  background-color: #057DBC;
}

h2.c-newhomerecall__content {
  font-weight: 400;
  margin-left: space(3);
  margin-right: space(3);
}

.c-newhomerecall__content {
  text-align: center;
}

.c-newhomerecall__content--line {
  color: white;
  span {
    display: block;
  }
}

.c-newhomerecall__content--cta {
  a {
    @include inuit-font-size(18px);
    border: 0;
    border-radius: space(8);
    background-color: white;
    padding: space(4) space(9) space(4) space(9);
    margin-top: space(3);
    font-weight: bold;
    cursor: pointer;
    color: #057DBC;
    text-decoration: none;
    display: inline-block;    
  }
}

/* Covid19 section
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.c-newhomehero-covid {
  position: relative;
  border: solid 1px #ee534f;
  background-color: white;
  line-height: 1.5;
  text-align: center;
  color: #222222;
  padding: space(5) space(0);
  margin: 0 6px;
  @include mq($from: tablet) {
    margin: 0;
  }
}

.c-newhomehero-covid__title {
  font-weight: bold;
  letter-spacing: 1.2px;
}
.c-newhomehero-covid__text {
  font-size: 14px;
  @include mq($from: tablet) {
    font-size: 16px;
  }

}

.c-newhomehero-covid-container {
  margin-top: 0;
  @include mq($from: wide) {
    margin-top: -15px;
  }
}
.c-newhomehero-hero-container {
  margin-top: 14px;
}

.c-newhomehero-actions {
  margin-top: -10px;
}

.c-newhomehero-durationcontainer {
  margin-top: 12px;
  text-align: center;
  @include mq($from: desktop) {
    margin-top: 0;
    text-align: left;
  }  
}

a.c-newhomehero-discover:hover {
  color: #3d96c9;
  cursor: pointer;
  font-size: 17px;
  @include mq($from: wide) {
    font-size: 22px;
  }
}

.c-newhomehero-discover {

  vertical-align: middle;
  text-transform: uppercase;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  color: #152e3a;
  font-size: 17px;
  text-align: center;
  @include mq($from: desktop) {
    text-align: left;
  }
  @include mq($from: wide) {
    font-size: 22px;
  }
}

.c-newhomehero-discovertxt {
  vertical-align: middle;
  margin-left: 6px;
}
.c-newhomehero-durationballast {
  margin-bottom: -12px;
}
.c-newhomehero-duration {
  margin-top: -12px;
  margin-left: -50px;
  color: #403c43;
  font-size: 16px;
  text-align: center;
  @include mq($from: desktop) {
    text-align: left;
    margin-left: 56px;
  }
  @include mq($from: wide) {
    font-size: 18px;
  }

}

