.c-navbutton {
  border-radius: 20px;
  border: solid 1px #057dbc;
  background-color: #057dbc;
  padding: space(5) space(7);
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}

.c-navbutton--previous {
  display: inline-block;

}

.c-navbutton--continue {
  @extend .c-button--brand-secondary;
}
