.c-progressbar {
  position: relative;
}
.c-progressbar-background-container {
  display:inline-block;
  width: 100%;
}

.c-progressbar-background {
  width: 400px;
  height: 8px;
  border-radius: 10px;
  background-color: #ebebeb;
}

.c-progressbar-foreground {
  position: absolute;
  height: 8px;
  width: 20px;
  border-radius: 10px;
  background-color:#057dbc;
}

