.c-progressbar-background-container {
  display:inline-block;
  width: 100%;
}

.c-progressbar-background {
  width: 400px;
  height: 8px;
  border-radius: 10px;
  background-color: #ebebeb;
  margin: auto;
}
