.c-question {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  @include mq($from: tablet) {
    margin-left: 4rem;
    margin-right: 4rem;
  }  
  margin-top: 2vh;
}

.c-question__form {
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.c-question__mark {
  padding-left: 1rem;
  @include mq($from: tablet) {
    padding-left: 15rem;
  }  
}

.c-question__fieldset {
  margin-top: 0;
  margin-bottom: 0;
}

h1.c-question-title {
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  color: #383838;
}

h2.c-question-youranswer {
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  margin-bottom: .5rem;
  padding-bottom: 0;
}

.c-question-subtitle {
  @extend .u-margin-vertical-small;
  font-size: $inuit-font-size-h4;
}


// 
//
//

.radio-button {
  cursor: pointer;
  padding-right: 25px;
}
// input[type=radio] {
//     box-sizing: border-box;
//     padding: 0;
// }

// input {
//     font-size: 1rem;
//     line-height: 1.5;
//     padding: 11px 23px;
//     border: 1px solid rgba(0,0,0,.15);
//     border-radius: 0;
//     outline: 0;
//     background-color: transparent;
// }

.radio-button__input {
    opacity: 0;
    position: absolute;
}

.radio-button__control {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 12px;
    vertical-align: middle;
    background-color: inherit;
    color: #017b5f;
    border: 2px solid #454545;
    border-radius: 24px;
}

.radio-button__input:checked+.radio-button__control {
    background-color: #057dbc;
}

.radio-button__input:checked+.radio-button__control:after {
    content: "";
    display: block;
    position: absolute;
    top: 4px;
    left: 4px;
    width: 8px;
    height: 8px;
    background-color: white;
    border-radius: 12px;
}

.radio-button__input:checked+.radio-button__control {
    border-color: #057dbc;
}

.radio-button__control {
  transform: scale(1.5);
}

