
.c-qh {
  background-color: #EFF3F9;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.5);
  padding-top: 3px;
  a {
   color: $color-white;
  }
  .svg-logo-pe {
    margin-left: space(3);
  }
  .svg-logo-clara-black {
    padding-right: space(3);
  }
  height: 56px;
  @include mq($from: tablet) {
    height: 80px;
  }
}

.c-qh > * {
  display: flex;
  align-items: center;
}


.c-qh__logo {
  line-height: 0;
  min-width: space(8);
  margin: space(3) 0 space(3) 0;
  @include mq($until: tablet) {
    margin-top: space(2);
  }
}

.svg-logo-pe {
  width: 50px;
  height: 50px;
  @include mq($from: tablet) {
    width: 70px;
    height: 70px;
  }
}

.svg-logo-clara-black {
  width: 150px;
  height: 37px;
  @include mq($from: tablet) {
    width: 217px;
    height: 56px;
  }
}
