.c-question {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  @include mq($from: tablet) {
    margin-left: 4rem;
    margin-right: 4rem;
  }  
  margin-top: 2vh;
}

.c-question__form {
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.c-question__mark {
  padding-left: 1rem;
  @include mq($from: tablet) {
    padding-left: 15rem;
  }  
}

.c-question__fieldset {
  margin-top: 0;
  margin-bottom: 0;
}

h1.c-question-title {
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  color: #383838;
}

h2.c-question-youranswer {
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  margin-bottom: 16px;
  padding-bottom: 0;
}

.c-question-subtitle {
  opacity: 0.6;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  margin-bottom: 1.5rem;
}
