.c-question-number {
  color: #2e92c7;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2e92c7;
  margin-top: .4rem;
}

