.c-radiolabel {
  text-align: left;
  margin-top: 0;
  vertical-align: baseline;
  padding: 8px;
  padding-left: $inuit-global-spacing-unit-small;
  font-size: 18px;
  opacity: 0.73;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.c-question-connected {
  .c-radiolabel {
    font-size: 16px;
    opacity: inherit;
  }
}


.c-fieldset > .c-radiolabel:first-of-type {
  margin-top: 0;
}

.c-radioinput {
  
}

.c-radioline {
  @extend .u-padding-horizontal-small;
  display: flex;
  cursor: pointer !important; 
  align-items: center;
  font-size: 20px; // HACK
  input, label {
    cursor: pointer;
  }
}
