.welcome .blocker {
  background-color: rgba(247, 252, 255, 0.9);
  box-shadow: 0 0 2px #000;
}
.welcome .modal {
  box-shadow: 0 0 2px #000;
}

h2.c-start-modal-title {
  margin-top: 90px;
  margin-bottom: 15px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #152e3a;
  font-size: 22px;
  @include mq($from: tablet) {
    font-size: 28px;
  }
}

.c-start-modal-heading {
  text-align: left;
  margin-top: 2rem;
  span {
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.27;
    letter-spacing: normal;
    color: #046ea5;
    margin-left: .7rem;
    @include mq($from: tablet) {
      font-size: 22px;
    }
  }
  img {
    margin-top: -3px;
  }
}

.c-start-modal-text {
  font-size: 18px;
}

.c-start-modal-media .o-media__img {
  margin-right: 5px;
}

.c-start-modal-media svg {
  margin-top: .4rem;
}

.c-start-modal-media.is-last {
  margin-top: 10px;
}

#login-form.modal {
  text-align: center;
  max-width: 700px;
  border-radius: 4px;
  padding-bottom: 2rem;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 8px;
  box-shadow: 0 13px 18px -8px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  @include mq($from: tablet) {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.c-start-modal-actions {
  text-align: center;
  margin-top: 20px;
}

.c-start-modal__button {
  width: 419px;
}


.c-start-modal__separator {
  margin: 5px 0;
}

.c-start-modal__separator:after,
.c-start-modal__separator:before{
  color: #dddfe7;
  text-decoration:none;
  content:"";
  @include mq($from: tablet) {
    content:"\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
    text-decoration:line-through;
  }
}

#start-clara-peconnect {
  width: 185px;
  margin-top: 20px;
  @include mq($from: mobile) {
    width: 285px;
  }
  @include mq($from: tablet) {
    width: 385px;
  }
}

.c-start-modal-text #start_wizard_form {
  input[type="submit"] {
    margin:0;
    border:0;
    background-color:transparent;    
    text-transform: uppercase;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.8px;
    text-align: center;
    color: #152e3a;
    white-space: nowrap;
    cursor: pointer;
    border: solid 2px #057dbc;
    padding: 10px 20px;
    font-size: 14px;
    white-space: break-spaces;
    @include mq($from: tablet) {
      white-space: nowrap;
      padding: 20px 30px;
      font-size: 16px;
    }
  }
  margin-top: 20px;
}
