.welcome .blocker {
  background-color: rgba(255, 255, 255, 0.91);
  box-shadow: 0 0 2px #000;
}
.welcome .modal {
  box-shadow: 0 0 2px #000;
}

h2.c-start-modal-title {
  margin-top: 30px;
  margin-bottom: 15px;
  font-weight: 900;
  line-height: 1;
  color: #152e3a;
  font-size: 25px;
}

.c-start-modal-heading {
  margin-top: 2rem;
  color: #207bad;
  font-weight: 500;
  font-size: 20px;
}

.c-start-modal-text {
  font-size: 18px;
}

.c-start-modal-media .o-media__img {
  margin-right: 5px;
}

.c-start-modal-media svg {
  margin-top: .4rem;
}

.c-start-modal-media.is-last {
  margin-top: 10px;
}

#login-form.modal {
  text-align: center;
  max-width: 750px;
  border-radius: 4px;
  padding-bottom: 2rem;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  @include mq($from: tablet) {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.c-start-modal-actions {
  text-align: center;
  margin-top: 20px;
}

.c-start-modal__button {
  width: 419px;
}


.c-start-modal__separator {
  margin: 5px 0;
}

.c-start-modal__separator:after,
.c-start-modal__separator:before{
  color: #dddfe7;
  text-decoration:none;
  content:"";
  @include mq($from: tablet) {
    content:"\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
    text-decoration:line-through;
  }
}

#start-clara {
  background-color: #1b2e57;
  border: none;
  color: white;
  padding: 22px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 32px;
  font-family: Roboto;
  text-decoration: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  @include mq($from: mobile) {
    font-size: 18px;
  }
}

#start-clara:hover {
}

