<% content_for :javascript_includes do %>
  <%= javascript_pack_tag 'aid_creation' %>
<% end %>




<%= javascript_pack_tag 'aid_creation' %>

          <div id="aid-creation">
    <p>{{ message }}</p>
    <multisteps></multisteps>
  </div>