<% content_for :javascript_includes do %>
  <%= javascript_pack_tag 'aid_creation' %>
<% end %>




<%= javascript_pack_tag 'aid_creation' %>

          <div id="hello">
    <p>{{ message }}</p>
    <app></app>
  </div>