.c-are__form {
  padding: space(6);
  text-align: center;
  &.is-error {
    padding-bottom: space(0);
  }  
}

.c-are-input {
  input {
    @extend .u-padding-vertical-small;
    width: space(12) !important;
  }
}


.c-are-euro {
  font-size: space(7);
}
