.c-breadcrumb {
  margin-top: space(3);
  margin-bottom: space(3);
}

.c-breadcrumb-home-text {
  margin-left: space(1);
}
.c-breadcrumb-string {
  display: flex;
  align-items: center;
}

.c-breadcrumb-link-home {
  display: flex;
  padding: space(1);
}

.c-breadcrumb-print {
  // display: flex;
  // align-items:center;
}

.c-breadcrumb-printer__item {
  display: inline-flex;
  align-items:center;
  border: 1px solid #3f3f3f;
  color:#3f3f3f;
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;

}

.c-breadcrumb-printer__svg {
  display:flex;
  align-items:center;
}

.c-breadcrumb-current {
  margin-right: auto;
}

.c-breadcrumb-print {
  margin-left: auto;
}
