.c-button {
  border: 1px solid transparent;
  background-color: #96a8b2;
  color: #fff;
  display: inline;
  max-width: 100%;
  margin: 0;
  padding: .5em;
  border-radius: 4px;
  outline: 0;
  font-family: inherit;
  line-height: normal;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  overflow: hidden;
  vertical-align: middle;
  appearance: none;
  user-select: none;
  text-decoration: none; 
}

.c-button--brand-secondary {
  border: 1px solid transparent;
  background-color: $brand-secondary;
  color: #fff;
}

.c-button--brand-primary {
  border: 1px solid transparent;
  background-color: $brand-primary;
  color: #fff;
}

.c-button:not(:disabled):focus {
  border-color: #2196f3;
  box-shadow: inset 0 0 0 2px #4dabf5;
}

a.c-button:focus {
  color: #fff;
}

.c-button:not(:disabled):hover {
    background-color: #3c556e;
    color: #fff;
}

.c-button:not(:disabled):active {
    color: #fff;
}
