.c-breadcrumb {
  @extend .u-margin-vertical-small;
  nav {
    display: flex;
    align-items: center;
  }
}

.c-results-index .c-breadcrumb {
  @include mq($until: tablet) {
    display: none;
  }
}

.c-breadcrumb-home-text {
  color: #333;
  margin-left: space(1);
}

.c-breadcrumb-link-home {
  display: flex;
  padding: space(1);
}


.c-breadcrumb-printer__item {
  display: inline-flex;
  align-items:center;
  border: 1px solid #3f3f3f;
  color:#3f3f3f;
  padding: space(2);
  border-radius: 5px;
  cursor: pointer;
  @include mq($until: tablet) {
    display: none;
  }
}

.c-breadcrumb-printer__svg {
  display:flex;
  align-items:center;
}

.c-breadcrumb-current {
  margin-right: auto;
  text-decoration: none;
}
.c-breadcrumb-current--pertype {
  @include mq($until: tablet) {
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 100px;
    max-width: 100px;
    overflow: hidden;
  }
}

.c-breadcrumb-print {
  margin-left: auto;
}
