.c-cookies-banner {
  bottom: 0;
  left: 0;
  right: 0;
  background: #2b2b2b;
  opacity: 0.9;
  position: fixed;
  height: 220px;
  @include mq($from: tablet) {
    height: 60px;
  }
}

.c-cookies-p {
  display: inline-block;
  max-width: 880px;
  margin-top: 5px;
  text-align: left;
  color: #C0C0C0;
  @include mq($from: tablet) {
      margin-bottom: 0px;
  }
}

.c-cookies-p a{
    color: #C0C0C0
}

.c-cookies-button {
  border: 0;
  white-space: nowrap;
  border-radius: 5rem;
  background-color: #FFFFFF;
  padding: 8px 28px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 10px;
  margin-left:57px;
  @include mq($from: tablet) {
    margin-top: 0;
  }
}

.c-cookies-button a {
  color: #358ED7;
}

