.c-cookies-banner {
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: #2b2b2b;
    opacity: 0.9;
    position: fixed;
    height: 90px;
}

.c-cookies-banner p {
    display: inline-block;
    max-width: 810px;
    margin-top: 0px;
    text-align: center;
    color: #C0C0C0
}

.c-button-cookies {
    border: 0;
    white-space: nowrap;
    border-radius: 5rem;
    background-color: #FFFFFF;
    padding: 1.5rem 3rem;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 2rem;
}

