.c-contact {

} 

.c-contact-card {
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.3);
  border-radius: 5px;
  background-color: white;
} 

.c-contact-title {
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #1d2c3c;
}

.c-contact-separator {
  height: 2px;
  background-color: #f5f7fa;
}

.c-information {
  background-color: #057dbc;
  color: white;
}
.c-contact-infotitle {
  font-family: Roboto;
  @include inuit-font-size(20px);
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0px;
  color: #ffffff;
}

.c-contact-submit {
  border-radius: 5px;
  background-color: #d13a87;
  font-family: Roboto;
  @include inuit-font-size(18px);
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  text-align: center;
  color: #ffffff;
  border: none;
  cursor: pointer;
 }

.c-contact-field {
  display: flex;
  flex-direction: column;
}

.c-contact-input-text {
  width: 310px;
  height: 36px;
  border-radius: 4px;
  border: solid 2px #edeff2;
  background-color: white;
  padding: space(4);
}

.c-contact-input-select {
  width: 310px;
}

.c-contact-input-textarea {
  border-radius: 4px;
  border: solid 2px #edeff2;
  background-color: white;
  padding: space(4);
}

.c-contact-number {
  width: 30px;
  height: 30px;
  border: solid 2px #057dbc;
  border-radius: 50%;
  padding: space(3);
}

.c-contact-numbered {
  @include inuit-font-size(18px);
}

.c-contact-input.is-error {
  border: solid 4px #d0021b;
  background-color: white;
}

.c-contact-smalllabel {
  @include inuit-font-size(14px);
  color: #d0021b;
  font-weight: bold;
}

.c-contact-exclaim {
  width: 15px;
  height: 15px;
  background-color: #d0021b;
  border-radius: 50%;
  padding: space(1);
  color: white;
  // font-weight: bold;
}

.c-contact-label {
  @include inuit-font-size(16px);
  font-weight: 500;
  color: #1d2c3c;
}
