.c-cookies-banner {
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: #2b2b2b;
    opacity: 0.9;
    position: fixed;
    height: 85px;
}

.c-cookies-p {
    display: inline-block;
    max-width: 850px;
    margin-top: 5px;
    text-align: left;
    color: #C0C0C0
}

.c-cookies-button {
    margin-top: 21px;
    border: 0;
    white-space: nowrap;
    border-radius: 5rem;
    background-color: #FFFFFF;
    padding: 10px 30px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
}

.c-cookies-button a {
    color: #358ED7;
}

