.c-category__second-span {
  padding-left: 0.3em; // same as default "ul"
}

.c-category__tick {
  color: #797676;
  display: flex;
  align-items: center;
}

.c-category__brace {
  list-style-type: none;
  padding-left: 0.3em; // same as default "ul"
  margin: 0;
  border-left: 2px solid grey;
}


