#c-detail-app {
  margin-top: $tiny-value;
}

.c-detail-title {
  display: flex;
  align-items: center;
  color: white;
  height: 84px;
  background: linear-gradient(270.07deg, #00C1B6 -15.61%, #136EB5 100.96%);
  &.c-detail-title--amob {
    background: linear-gradient(270.07deg, #929eee -15.61%, #5e65b0 100.96%);
  }
  &.c-detail-title--alternance {
    background: linear-gradient(270.07deg, #e55f8a -15.61%, #bb377a 100.96%);
  }
  &.c-detail-title--projet-pro {
    background: linear-gradient(270.07deg, #e0a778 -15.61%, #b75d26 100.96%);
  }
}

.c-detail-warning {
  color: $grey-text;
  font-size: $small-plus-value;
  background-color:#FCF8E3;
  padding-top: $small-plus-value;
  padding-bottom: $small-plus-value;
  padding-right: $medium-plus-value;
  padding-left: $medium-plus-value;
  margin-right: $o-gutter;
  margin-top: $small-value;
}

.c-detail-title-inside {
  background-image: url('https://res.cloudinary.com/bdavidxyz-com/image/upload/o_20/v1511186245/backgroundrepeat_purbr9.png');
  background-size: 240px 240px;
  background-repeat: repeat-x;  
  height: 100%;
  width: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 0;
  justify-content: center;
  text-align: center;
  @include mq($from: tablet) {
    justify-content: inherit;
    text-align: inherit;
    padding-left: 6rem;
  } 
}

.c-detail-back {
  margin-bottom: space(7);
  margin-top: space(5);
  display: flex;
  justify-content: center;
}

.c-detail-void {
  border-radius: $tiny-value;
  padding-top: $small-plus-value;
  padding-right: $small-plus-value;
  padding-left: $small-plus-value;
  padding-bottom: $small-plus-value;
}

.c-detail-void__line {
  text-align: center;
  a {
    margin-top: $small-value;
  }
  @include mq($from: tablet) {
    text-align: left;
  } 
}

a.c-detail-cta {
  border: 0;
  border-radius: space(8);
  background-color: #047cbc;
  padding: space(3) space(8) space(3) space(8);
  cursor: pointer;
  color: white;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
}

.c-detail-goback {
  margin-left: $small-value;
  display: none;
  cursor: pointer;
  @include mq($from: tablet) {
    display: block;
    margin-left: $o-gutter;
  } 
}
