.c-detail-condition {
}
.c-detail-condition__raw {
  display: flex;
  align-items: center;
  margin-top: $small-value;
}

.c-detail-condition-svg {
  display: flex;
  align-items: center;
  margin-right: $tiny-value;
  svg {
    min-width: 35px;
    max-width: 35px;
    min-height: 44px;
    max-height: 44px;    
  }
}

.c-detail-condition__separator {
  margin-bottom: space(5);
}

.c-detail-condition-text {
  margin-left: $tiny-plus-value;
}
