
.c-eligible-title {
  // mimic h2 font-size
  font-size: 1.75rem;
  // mimic h2 line-height
  line-height: 1.2857142857;

  color: white;
  height: 84px;
  background: linear-gradient(270.07deg, #00C1B6 -15.61%, #136EB5 100.96%);
  &.c-eligible-title--eligible {
    background: linear-gradient(270.07deg, #97ee92 -15.61%, #48b02e 100.96%);
  }
  &.c-eligible-title--ineligible {
    background: linear-gradient(270.07deg, #e55f5f -15.61%, #bb373d 100.96%);
  }
  &.c-eligible-title--uncertain {
    background: linear-gradient(270.07deg, #e0a778 -15.61%, #b75d26 100.96%);
  }
}


.c-eligible-title-inside {
  background-size: 240px 240px;
  background-repeat: repeat-x;  
  height: 100%;
  width: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 0;
  justify-content: center;
  text-align: center;
  font-size: 1.3rem;
  line-height: 1.1;
  @include mq($from: tablet) {
    // mimic h2 font-size
    font-size: 1.75rem;
    // mimic h2 line-height
    line-height: 1.2857142857;
    justify-content: inherit;
    text-align: inherit;
    padding-left: 6rem;
  } 
}
