.c-expand-tree.c-button, .c-expand-tree.c-button:hover {
  border-radius: 40px;
  button {
    border: none;
    cursor: pointer;
    font-size: 19px;
    background-color: #358ED7;
  }
  background-color: #358ED7;
}
