
.c-expander {
  display: flex;
  align-items: center;
  small {
    font-weight: 300;
    text-align: right;
  }
}

.c-expander--expandable, .c-expander--reduceable {
  cursor: pointer;
  text-decoration: underline;
}
.c-expander--unexpandable, .c-expander--unreduceable {
  color: lightgrey;
}

.c-expander--expand {
  margin-right: space(4) + 0.04rem;
}

.c-expander__svg-container {
  display: flex;
}

.c-expander__svg {
  margin-left: space(1);
}

.c-expander--reduce {
  margin-left: auto;
  margin-right: space(4);
}

.c-expander-button {
  cursor: pointer;
  margin-left: space(4);
  button {    
    border: 2px solid #5ba8d3;
    border-radius: space(8);
    background-color: white;
    padding: space(1) space(5);
    cursor: pointer;
    color: #5ba8d3;
    text-decoration: none;
    display: inline-block;
  }
}
