.c-fselogozone { 
}

.c-fse-svg-list {
    margin: 0;
    padding: 0;
    list-style: none;
    max-width:100%
}

.c-fse-svg-list li {
    display: inline-block;
}

.list-unstyled li{ 
  padding-top: 5px;
  margin: 0 7px 0 0;
  vertical-align: top;
  width: 90px;
  float : left;
}

.list-unstyled li.pole-emploi{
  width: 70px;
}

.list-unstyled li.ue{
  padding-top: 10px;
}

.list-unstyled li.fse{
  width:134px;
}

li.o-line__item p{
  display: block;
  width: 190px;
  color: #044da1;
  font-size: 9px;
  line-height: 14px;
  text-align: left;
  margin:0;
}


