.c-footer {
  background-color: #152E3A;  
  color: white;
  margin-top: $inuit-global-spacing-unit-small;
  a:link, a:visited,  a:active {
    text-decoration:underline;
    color: white; 
  }
  a:hover {
    text-decoration:none;
    color: white; 
  }
}

.c-body.welcome.index {
  .c-footer {
    margin-top: 0;
  }
}

a.c-link-to-all-aides {
  color: white;
}

.c-footer__content {
  display: flex;
  flex-direction: column;
}

.c-footer__contenttitle {
  font-weight: bold;
}

.c-footer-cgu {
  display: flex;
  flex-direction: column;
  a {
    font-weight: bold;
  }
  @include mq($until: tablet) {    
   padding-top: space(6);
   }
}

.c-footer-motherhome {
  display: flex;
  flex-direction: column;
}

.c-footer-test {
  padding: 0px
}
