.c-help {
  border-radius: 4px;
  border: solid 1px #edb433;
  background-color: #fdf7e8;
  padding: space(6);
}


.c-help--allocation {

  h2 {
    // mimic h5
    font-size: 1.125rem;
    // mimic h5
    line-height: 1.3333333333;    
  }
  span {
    display: block;
  }  
  height: 190px;
  overflow-y: scroll;
  margin: space(4) space(0);
  @include mq($from: tablet) {
    margin: space(0) space(0);
    height: 350px;
  }
}
