.c-help {
  border-radius: 4px;
  border: solid 1px #edb433;
  background-color: #fdf7e8;
  padding: space(6);
}


.c-help--allocation {

  h2 {
    // mimic h6
    font-size: 1rem;
    // mimic h6
    line-height: 1.5;
  }
  span {
    display: block;
    @include inuit-font-size(14px);
  }  
  height: 190px;
  overflow-y: scroll;
  margin: space(4) space(0);
  @include mq($from: tablet) {
    margin: space(0) space(0);
    height: 350px;
  }
}
