

.c-logozone {
}

.c-logozone--firstimg {
  text-decoration: none;
  img {
    padding-right: space(3);
    border-right: 1px solid grey;
  }
}

.c-logozone > .svg-logo-pe {
  margin-left: space(1);
}
