.c-logozone--clara {
  text-decoration: none;
  img {
    padding-right: space(3);
    border-right: 1px solid grey;
    @include mq($until: tablet) {
      width: 150px;
    }
  }
}

.c-logozone .c-logozone--pe img {
  margin-left: space(2);
  @include mq($until: tablet) {
    width: 50px;
  }
}

.c-logozone--modal {
  padding-left: space(6);
  padding-top: space(4);
  padding-bottom: space(4);
  padding-right: space(6);
  border-bottom: 2px solid #047dbb;
}
