dialog {
  display: block;
}
.modal {
  position: fixed;
  right: auto;
  top: 0%;
  border: none ;
  width: 100%;
  margin: 0 auto;
  background: #e2eaf4;
  z-index: 667;
  padding-left: space(6);
  padding-top: space(4);
  padding-bottom: space(4);
}
.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #000;
  opacity: .6;
  z-index: 666;
}

.c-modal-closer {
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64' xmlns:xlink='http://www.w3.org/1999/xlink' enable-background='new 0 0 64 64'%3E%3Cg%3E%3Cpath fill='%230a2d3d' d='M28.941,31.786L0.613,60.114c-0.787,0.787-0.787,2.062,0,2.849c0.393,0.394,0.909,0.59,1.424,0.59 c0.516,0,1.031-0.196,1.424-0.59l28.541-28.541l28.541,28.541c0.394,0.394,0.909,0.59,1.424,0.59c0.515,0,1.031-0.196,1.424-0.59 c0.787-0.787,0.787-2.062,0-2.849L35.064,31.786L63.41,3.438c0.787-0.787,0.787-2.062,0-2.849c-0.787-0.786-2.062-0.786-2.848,0 L32.003,29.15L3.441,0.59c-0.787-0.786-2.061-0.786-2.848,0c-0.787,0.787-0.787,2.062,0,2.849L28.941,31.786z'/%3E%3C/g%3E%3C/svg%3E%0A");
  background-size: cover;
  width: 24px;
  height: 24px;
}
