dialog {
  display: block;
}


.video-modal {
  position: fixed;
  left: 25%;
  right: auto;
  top: 25%;
  width: 50%;
  margin: 0 auto;
  border: 1px solid red; 
  background: #fff;
  z-index: 667;
  padding: 2em;
}

.video-modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #000;
  opacity: .6;
  z-index: 666;
}

.search-modal {
  position: fixed;
  right: auto;
  top: 0%;
  border: none ;
  width: 100%;
  margin: 0 auto;
  background: #e2eaf4;
  z-index: 667;
  padding: 0;
}

.search-modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #000;
  opacity: .6;
  z-index: 666;
}

.c-modal-closer {
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64' xmlns:xlink='http://www.w3.org/1999/xlink' enable-background='new 0 0 64 64'%3E%3Cg%3E%3Cpath fill='%230a2d3d' d='M28.941,31.786L0.613,60.114c-0.787,0.787-0.787,2.062,0,2.849c0.393,0.394,0.909,0.59,1.424,0.59 c0.516,0,1.031-0.196,1.424-0.59l28.541-28.541l28.541,28.541c0.394,0.394,0.909,0.59,1.424,0.59c0.515,0,1.031-0.196,1.424-0.59 c0.787-0.787,0.787-2.062,0-2.849L35.064,31.786L63.41,3.438c0.787-0.787,0.787-2.062,0-2.849c-0.787-0.786-2.062-0.786-2.848,0 L32.003,29.15L3.441,0.59c-0.787-0.786-2.061-0.786-2.848,0c-0.787,0.787-0.787,2.062,0,2.849L28.941,31.786z'/%3E%3C/g%3E%3C/svg%3E%0A");
  background-size: cover;
  width: 24px;
  height: 24px;
}

.button-play{
  cursor: pointer;
  display:block;
  position:relative;
  text-align:center;
  border:2px solid black;
  box-shadow:0 4px 6px -3px rgba(black, .3), inset 0 3px 4px -2px rgba(black, .25);
  position:relative;
  text-align:center;
  width:25px;
  height:25px;
  border-radius:50%; 
  transition: all .2s cubic-bezier(0.68, -0.55, 0.465, 1.55) .2s, border-width .4s cubic-bezier(0.68, -0.55, 0.465, 1.55);
  @include mq($from: desktop) {
    text-align:left;
  }

  &:before{
    cursor: pointer;
    display:block;
    position:relative;
    text-align:center;
    content:"";
    bottom:20%;
    left:95%;
    width:0;
    height:0;
    border:25px solid transparent;
    border-width:7px 0px 7px 11px;
    border-radius:0;
    border-left-color:black;
    transform:translate(-13px, 50%);
    @include mq($from: desktop) {
      text-align:left;
    }
  }
}

.play {
  width: 26px;
  text-align:right;
  @include mq($from: mobile) {
    text-align:left;
  }
}

.video {
  font-size: 16px;
  text-align:center;
  cursor: pointer;
  @include mq($from: tablet) {
    text-align:left;
  }
}

.time {
  font-size: 12px;
  font-weight: normal;
  text-align:center;
  cursor: pointer;
  @include mq($from: tablet) {
    text-align:left;
  }
}

iframe {  
  display: block;
  margin-top: space(8);
  left: 0;
  top:0 ; 
  position: absolute;

  @include mq($from: mobile) {
    height: 97%;
    width: 100%;
    text-align:center;
  }
  
  @include mq($from: tablet) {
    height: 92%;
    width: 100%;
    text-align:center;
  }

  @include mq($from: desktop) {
    height: 405px;
    width: 100%;
    text-align:center;
    bottom: 1%;
  }
}
