.c-newhome {
}


/* Hero section
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.c-newhomehero {
  background-color: #E2EAF5;
}

.c-newhomehero__title {
  // @include inuit-font-size(26px);
  // font-weight: 500;
}

.c-newhomehero__header {
  padding-top: space(4);
  margin: 0 space(1) 0 space(1); 
}

.c-newhomehero__right {
  margin-right: 8%;
  margin-left: 0;
  margin-right: 0;
  @include mq($from: tablet) {
    margin-left: auto;
    margin-right: 8%;
  }
}

.c-newhomehero__navbar {
  display: flex;
}

.c-newhomehero__navbar-elt {
  margin-left: space(3);
  @include mq($from: tablet) {
    margin-left: space(5);
  }
}

.c-newhomehero__navbar-elt--inactive {
  opacity: 0.5;
}
.c-newhomehero__navbar-elt--active {
  border-bottom: 4px solid #3DBDB6;
  margin-bottom: space(4);
}

.c-newhomehero__content {
  margin-left: 0;
  a {
    margin: space(5) 0 0 0; 
  }
}

.c-newhomehero__content-image {
  flex: 3 1 0;
  display: none;
  @include mq($from: desktop) {
    display: flex;
  }
}

.c-newhomehero__content-description {
  flex: 2 1 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 space(4) 0 space(4);
  @include mq($from: desktop) {
    width: inherit;
  }
  @include mq($from: mobile) {
    margin: 0;
  }
  a {
    display: block;
  }
  div {
    text-align: center;
    @include mq($from: desktop) {
      text-align: inherit;
    }
  }
}

.c-newhomehero__cta {
  text-align: center;
  @include mq($from: desktop) {
    text-align: left;
  }  
}

.c-newhomehero__content-description > div {
  display: inline;
  @include mq($from: mobile) {
    display: block;
  }
}

input.c-main-cta {
  border: 0;
  white-space: nowrap;
  border-radius: space(8);
  background-color: #358ED7;
  padding: space(6) space(8) space(6) space(8);
  cursor: pointer;
  color: white;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  @include inuit-font-size(18px);
  @include mq($from: tablet) {
    padding: space(6) space(12) space(6) space(12);
  }
}

/* Examples section
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.c-newhomeexample {
  background-color: white;
}

.c-newhome__bottom-separator {
  padding-top: space(7);
  background-color:white;
}

h2.c-newhomeexample__title {
  text-align: center;
  margin-bottom: space(2);
}

.c-newhomeexample__subtitle {
  text-align: center;
  margin-bottom: space(7);
}

.c-newhomeexample__cards {
}

.c-newhomeexample__card {
  text-align: center;
  text-decoration: none;
}

.c-newhomeexample__card + .c-newhomeexample__card {
  margin-top: space(7);
  @include mq($from: tablet) {
    margin-top: 0;
  }
}

.c-newhomeexample__card-svg {  
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.c-newhomeexample__card-svg1 {
  background: linear-gradient(124deg, #00c1b6, #136eb5);
}

.c-newhomeexample__card-svg2 {
  background: linear-gradient(124deg, #9facf8, #676fc6);
}

.c-newhomeexample__card-svg3 {
  background: linear-gradient(to bottom, #f3778f, #d13a87);
}

.c-newhomeexample__card-svg4 {
  background: linear-gradient(to bottom, #f2994a, #b85e25);
}

.c-newhomeexample__card-title {
  color: #333333;
  margin-top: space(2);
}
.c-newhomeexample__card-txt--1 {
}
.c-newhomeexample__card-txt {
  color:#72808E;
}
.c-newhomeexample__card-txt.first {
  margin-top: space(2);
}
.c-newhomeexample__card-txt.more {
  display: none;
  @include mq($from: tablet) {
    display: block;
  }
}
.c-newhomeexample__card-plus {
  font-weight: bold;
  margin-top: space(2);
  color: #2D8CFF;
  a {
    color: inherit;
    text-decoration: inherit;
    font-weight: bold;
  }
}

/* Number section
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.c-newhomenumber {
  background: linear-gradient(131.99deg, #3DBDB6 5.64%, #0089CE 100%);
}

h2.c-newhomenumber__title {
  text-align: center;
  padding-top: space(7);
  margin-bottom: space(2);
  color: white;
}

.c-newhomenumber__subtitle {
  text-align: center;
  color: white;
}

.c-newhomenumber__cards {
  display: flex;
  justify-content: center;
  margin-top: space(7);
  padding-bottom: space(9);
  flex-direction: column;
  align-items: center;
  @include mq($from: tablet) {
    flex-direction: row;
  }
}

.c-newhomenumber__card + .c-newhomenumber__card {
  margin-left: space(0);
  margin-top: space(7);
  @include mq($from: tablet) {
    margin-top: space(0);
    margin-left: space(7);
  }
}

.c-newhomenumber__card {
  background-color: white;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: space(6) 0 space(4) 0;
  color: #159BC6;
  width: space(11) * 1.8;
  @include mq($from: desktop) {
    width: space(11) * 2;
  }
}

.c-newhomenumber__card-nb {
  font-size: space(8);
}

/* Recall section
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.c-newhomerecall {
  background-color: #057DBC;
}

h2.c-newhomerecall__content {
  @include inuit-font-size(40px, 1.5);
  font-weight: 400;
}

.c-newhomerecall__content {
  text-align: center;
}

.c-newhomerecall__content--line {
  color: white;
}

.c-newhomerecall__content--cta {
  a {
    @include inuit-font-size(18px);
    border: 0;
    border-radius: space(8);
    background-color: white;
    padding: space(4) space(9) space(4) space(9);
    margin-top: space(3);
    font-weight: bold;
    cursor: pointer;
    color: #057DBC;
    text-decoration: none;
    display: inline-block;    
  }
}

/* User section
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.c-newhomeuser {
  background-color: white;
  padding-bottom: space(7) * 2;
}

h2.c-newhomeuser__title {
  padding-top: space(7);
  text-align: center;
}

.c-newhomeuser__cards {
  display: flex;
  justify-content: center;
  margin-right: 12%;
  margin-left: 12%;
  margin-top: space(7);
  flex-direction: column;
  @include mq($from: tablet) {
    flex-direction: row;
  }
}

.c-newhomeuser__card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.c-newhomeuser__card + .c-newhomeuser__card {
  margin-left: space(0);
  margin-top: space(7);
  @include mq($from: tablet) {
    margin-top: space(0);
    margin-left: space(7);
  }
}

.c-newhomeuser__card-separator {
  border-bottom: 2px solid #3DBDB6;
  width: space(6);
}

.c-newhomeuser__card-text {
  text-align: center;
  font-size: 1.8rem;
  color: #383838;
}

.c-newhomeuser__card-dblquote {
  align-self: flex-start;
  color: #3DBDB6;
  font-size: space(7);
  line-height: 0.5;
}

.c-newhomeuser__card-media {
  display: flex;
  margin-top: space(4);
}

.c-newhomeuser__card-media-face--1 {
  background: url("https://res.cloudinary.com/bdavidxyz-com/image/upload/v1510224464/img-utilisateur-2-b_msu6nf.png")  50% 50% no-repeat; height:60px; width:60px;
}
.c-newhomeuser__card-media-face--2 {
  background: url("https://res.cloudinary.com/bdavidxyz-com/image/upload/v1510224462/img-utilisateur-1-b_djqkcd.png")  50% 50% no-repeat; height:60px; width:60px;
}
.c-newhomeuser__card-media-txt-down {
  color:#696969;
}

.c-newhomeuser__bottom-separator {
  margin-top: space(12);
}
