.c-newhome {
}


/* Hero section
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.c-newhomehero {
  background-color: #E2EAF5;
}

.c-newhomehero__title {
  span {
    display: block;
  }
}

.c-newhomehero__header {
  padding-top: space(4);
  margin: 0 space(1) 0 space(1); 
}

.c-newhomehero__right {
  margin-right: 8%;
  margin-left: 0;
  margin-right: 0;
  @include mq($from: tablet) {
    margin-left: auto;
    margin-right: 8%;
  }
}

.c-newhomehero__navbar {
  display: flex;
}

.c-newhomehero__navbar-elt {
  margin-left: space(3);
  @include mq($from: tablet) {
    margin-left: space(5);
  }
}

.c-newhomehero__navbar-elt--inactive {
  opacity: 0.5;
}
.c-newhomehero__navbar-elt--active {
  border-bottom: 4px solid #3DBDB6;
  margin-bottom: space(4);
}

.c-newhomehero__content {
  margin-left: 0;
  a {
    margin: space(5) 0 0 0; 
  }
}


.c-newhomehero__content-image {
  flex: 3 1 0;
  display: none;
  @include mq($from: desktop) {
    display: flex;
  }
}

.c-newhomehero__content-description {
  flex: 2 1 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 space(4) 0 space(4);
  @include mq($from: desktop) {
    width: inherit;
  }
  @include mq($from: mobile) {
    margin: 0;
  }
  a {
    display: block;
  }
  div {
    text-align: center;
    @include mq($from: desktop) {
      text-align: inherit;
    }
  }
}

.c-newhomehero__cta {
  text-align: center;
  @include mq($from: desktop) {
    text-align: left;
  }  
}

.c-newhomehero__content-description > div {
  display: inline;
  @include mq($from: mobile) {
    display: block;
  }
}

.c-newhomehero__content a {
  margin-bottom: 22px;
}


input.c-main-cta {
  border: 0;
  white-space: nowrap;
  border-radius: space(8);
  background-color: #358ED7;
  padding: space(6) space(8) space(6) space(8);
  cursor: pointer;
  color: white;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  @include inuit-font-size(18px);
  @include mq($from: tablet) {
    padding: space(6) space(11) space(6) space(11);
  }
}

/* Examples section
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.c-newhomeexample {
  background-color: white;
}

.c-newhome__bottom-separator {
  padding-top: space(7);
  background-color:white;
}

h2.c-newhomeexample__title {
  text-align: center;
  margin-bottom: space(2);
}

.c-newhomeexample__subtitle {
  text-align: center;
  margin-bottom: space(7);
}

.c-newhomeexample__cards {
}

.c-newhomeexample__card {
  text-align: center;
  text-decoration: none;
}

.c-newhomeexample__card + .c-newhomeexample__card {
  margin-top: space(7);
  @include mq($from: tablet) {
    margin-top: 0;
  }
}

.c-newhomeexample__card-svg {  
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.c-newhomeexample__card-svg1 {
  background: linear-gradient(124deg, #00c1b6, #136eb5);
}

.c-newhomeexample__card-svg2 {
  background: linear-gradient(124deg, #9facf8, #676fc6);
}

.c-newhomeexample__card-svg3 {
  background: linear-gradient(to bottom, #f3778f, #d13a87);
}

.c-newhomeexample__card-svg4 {
  background: linear-gradient(to bottom, #f2994a, #b85e25);
}

.c-newhomeexample__card-title {
  color: #333333;
  margin-top: space(2);
}
.c-newhomeexample__card-txt--1 {
}
.c-newhomeexample__card-txt {
  color:#6A788A
}
.c-newhomeexample__card-txt.first {
  margin-top: space(2);
}
.c-newhomeexample__card-txt.more {
  display: none;
  @include mq($from: tablet) {
    display: block;
  }
}
.c-newhomeexample__card-plus {
  font-weight: bold;
  margin-top: space(2);
  color: #206FF6;
  a {
    color: inherit;
    text-decoration: inherit;
    font-weight: bold;
  }
}

/* Number section
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.c-newhomenumber {
  background: linear-gradient(131.99deg, #3DBDB6 5.64%, #0089CE 100%);
}

h2.c-newhomenumber__title {
  text-align: center;
  padding-top: space(7);
  margin-bottom: space(2);
  color: white;
}

.c-newhomenumber__subtitle {
  text-align: center;
  color: white;
}

.c-newhomenumber__cards {
  display: flex;
  justify-content: center;
  margin-top: space(7);
  padding-bottom: space(9);
  flex-direction: column;
  align-items: center;
  @include mq($from: tablet) {
    flex-direction: row;
  }
}

.c-newhomenumber__card + .c-newhomenumber__card {
  margin-left: space(0);
  margin-top: space(7);
  @include mq($from: tablet) {
    margin-top: space(0);
    margin-left: space(7);
  }
}

.c-newhomenumber__card {
  background-color: white;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: space(6) 0 space(4) 0;
  color: #159BC6;
  width: space(11) * 1.8;
  @include mq($from: desktop) {
    width: space(11) * 2;
  }
}

.c-newhomenumber__card-nb {
  font-size: space(8);
}

/* Recall section
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.c-newhomerecall {
  background-color: #057DBC;
}

h2.c-newhomerecall__content {
  @include inuit-font-size(40px, 1.5);
  font-weight: 400;
}

.c-newhomerecall__content {
  text-align: center;
}

.c-newhomerecall__content--line {
  color: white;
  span {
    display: block;
  }
}

.c-newhomerecall__content--cta {
  a {
    @include inuit-font-size(18px);
    border: 0;
    border-radius: space(8);
    background-color: white;
    padding: space(4) space(9) space(4) space(9);
    margin-top: space(3);
    font-weight: bold;
    cursor: pointer;
    color: #057DBC;
    text-decoration: none;
    display: inline-block;    
  }
}


/* needed for old browsers */
dialog {
  display: block;
}
/* removes scroll when modal is opened */
.no-scroll {
  overflow: hidden;
}
/* overlay covers everything */
.simple-modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #fff;
  opacity: .8;
  z-index: 666; /* satan inside */
  cursor: pointer;
}
/* modal */
.simple-modal {
  position: fixed;
  left: 15%;
  top: 5%;
  width: 53%;
  max-height: 98vh;
  right: auto; 
  background: #fff;
  z-index: 667;
  padding: 1em;
  overflow: auto;
}
.simple-modal-close {
  float: right;
  background: #FFFFFF;
  color: #358ED7;
  padding: .25em;
  text-decoration: none;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 20px;
  border-radius: 4px;
  border-color: #358ED7;
}
.simple-modal-close:focus

.simple-modal-overlay[data-background-click="disabled"] {
  cursor: auto;
}

/* it can be easily adapted in media-queries for tablets/mobile */

/* for this example: tablets */
@media (max-width: 55.625em) {

  .simple-modal {
    left: 5%;
    top: 5%;
    bottom: 5%;
    width: 90%;
  }
  
}

/* for this example: mobile */
@media (max-width: 44.375em) {

  .simple-modal {
    left: 1%;
    top: 1%;
    max-width: 98%;
    bottom: 1%;
  }

}


/* another modal styling example */
/* tooltip modal for it’s easy button */
.simple-left-modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, .8);
  opacity: .8;
  z-index: 666;
  cursor: pointer;
}





.circle{
  display:block;
  position:relative;
  top:-4px;
  left:-4px;
  width:20px;
  height:20px;
  stroke-dasharray:1000px;
  stroke-dashoffset:0;
  transform-origin: 50% 50%;
  transition: all .8s linear .2s, opacity 0s linear 0s;
  
}

.button-play{
  
  display:block;
  position:relative;
  text-align:center;
  border:2px solid black;
  box-shadow:0 4px 6px -3px rgba(black, .3), inset 0 3px 4px -2px rgba(black, .25);
  position:relative;
  text-align:center;
  width:25px;
  height:25px;
  border-radius:50%; 
  transition: all .2s cubic-bezier(0.68, -0.55, 0.465, 1.55) .2s, border-width .4s cubic-bezier(0.68, -0.55, 0.465, 1.55);
  @include mq($from: desktop) {
    text-align:left;
  }


  &:before{
    display:block;
    position:relative;
    text-align:center;
    content:"";
    bottom:20%;
    left:95%;
    width:0;
    height:0;
    border:25px solid transparent;
    border-width:7px 0px 7px 11px;
    border-radius:0;
    border-left-color:black;
    transform:translate(-13px, 50%);
    @include mq($from: desktop) {
      text-align:left;
    }
  }
  

}


.play {
  width: 26px;
  @include mq($until: desktop) {
    display:none;
  }
  @include mq($from: desktop) {
    text-align:left;
  }
}

.video {
  font-size: 16px;
  text-align:center;
  @include mq($from: desktop) {
    text-align:left;
  }
}

.time {
  font-size: 12px;
  font-weight: normal;
  text-align:center;
  @include mq($from: desktop) {
    text-align:left;
  }
}

div.hidden { 
  display: none; 
}
