.c-newhome {
}


/* Navbar
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.c-navbar {
  position: fixed;
  width: 100%;
  background-color: #E2EAF5;
}


/* Hero section
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.c-newhome {
  background-color: #E2EAF5;
  @include mq($until: mobile) {
    h1 {
      font-size: $inuit-font-size-h4;
    }
    h2 {
      font-size: $inuit-font-size-h5;
    }
  }
}

.c-newhomehero__title {
  span {
    display: block;
  }
}

.c-newhomehero__header {
  padding-top: space(4);
  padding-bottom: space(4);
  margin: 0 space(1) 0 space(1); 
}
.c-newhomehero__header.is-scrolled {
  border-bottom: 2px solid #047dbb;
}

.c-newhomehero__right {
  margin-right: 8%;
  margin-left: 0;
  margin-right: 0;
  @include mq($from: tablet) {
    margin-left: auto;
    margin-right: 8%;
  }
}

.c-newhomehero__navbar {
  display: flex;
}

.c-newhomehero__navbar-elt {
  margin-left: space(3);
  @include mq($from: tablet) {
    margin-left: space(5);
  }
}

.c-newhomehero__navbar-elt--inactive {
  opacity: 0.5;
}
.c-newhomehero__navbar-elt--active {
  border-bottom: 4px solid #3DBDB6;
  margin-bottom: space(4);
}

.c-newhomehero__content {
  margin-left: 0;
  padding-top: space(12);
  padding-bottom: space(9);
  a {
    margin: space(5) 0 0 0; 
  }
}

.c-newhomehero__content-image {
  flex: 3 1 0;
  display: none;
  @include mq($from: desktop) {
    display: flex;
  }
}

.c-newhomehero__content-description {
  flex: 2 1 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 space(4) 0 space(4);
  @include mq($from: desktop) {
    width: inherit;
  }
  @include mq($from: mobile) {
    margin: 0;
  }
  a {
    display: block;
  }
  div {
    text-align: center;
    @include mq($from: desktop) {
      text-align: inherit;
    }
  }
}

.c-newhomehero__cta {
  text-align: center;
  @include mq($from: desktop) {
    text-align: left;
  }  
}

.c-seevideo {
  margin-top: 21px;
  text-align: center;
  @include mq($from: desktop) {
    text-align: left;
  }  
  cursor: pointer;
}

.c-seevideobold {
  // display: flex;
  // align-items: center;
}

// .c-seevideo {
//   margin-left: -10px; // hack for img
// }

// .c-newhomehero__video {
//   // text-align: center;
//   // @include mq($from: desktop) {
//   //   text-align: right;
//   // }  
// }

// .c-newhomehero__video .o-media__img {
//   margin-right: space(3);
//   margin-top: 10px; // vertical-align hack
// }

.c-newhomehero__content-description > div {
  display: inline;
  @include mq($from: mobile) {
    display: block;
  }
}


input.c-main-cta {
  border: 0;
  white-space: nowrap;
  border-radius: space(8);
  background-color: #358ED7;
  padding: space(4) space(8) space(4) space(8);
  cursor: pointer;
  color: white;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  @include inuit-font-size(16px);
  @include mq($from: tablet) {
    @include inuit-font-size(18px);
    padding: space(6) space(12) space(6) space(12);
  }
}

/* Examples section
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.c-newhomeexample {
  background-color: white;
}

.c-newhome__bottom-separator {
  padding-top: space(7);
  background-color:white;
}

h2.c-newhomeexample__title {
  text-align: center;
  margin-bottom: space(2);
}

.c-newhomeexample__subtitle {
  text-align: center;
  margin-bottom: space(7);
}

.c-newhomeexample__cards {
}

.c-newhomeexample__card {
  text-align: center;
  text-decoration: none;
}

.c-newhomeexample__card + .c-newhomeexample__card {
  margin-top: space(7);
  @include mq($from: tablet) {
    margin-top: 0;
  }
}

.c-newhomeexample__card-svg {  
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.c-newhomeexample__card-svg1 {
  background: linear-gradient(124deg, #00c1b6, #136eb5);
}

.c-newhomeexample__card-svg2 {
  background: linear-gradient(124deg, #9facf8, #676fc6);
}

.c-newhomeexample__card-svg3 {
  background: linear-gradient(to bottom, #f3778f, #d13a87);
}

.c-newhomeexample__card-svg4 {
  background: linear-gradient(to bottom, #f2994a, #b85e25);
}

.c-newhomeexample__card-title {
  color: #333333;
  margin-top: space(2);
}
.c-newhomeexample__card-txt--1 {
}
.c-newhomeexample__card-txt {
  color:#6A788A
}
.c-newhomeexample__card-txt.first {
  margin-top: space(2);
}
.c-newhomeexample__card-txt.more {
  display: none;
  @include mq($from: tablet) {
    display: block;
  }
}
.c-newhomeexample__card-plus {
  font-weight: bold;
  margin-top: space(2);
  color: #206FF6;
  a {
    color: inherit;
    text-decoration: inherit;
    font-weight: bold;
  }
}

/* Number section
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.c-newhomenumber {
  background: linear-gradient(131.99deg, #3DBDB6 5.64%, #0089CE 100%);
}

h2.c-newhomenumber__title {
  text-align: center;
  padding-top: space(7);
  margin-bottom: space(2);
  color: white;
}

.c-newhomenumber__subtitle {
  text-align: center;
  color: white;
}

.c-newhomenumber__cards {
  display: flex;
  justify-content: center;
  margin-top: space(7);
  padding-bottom: space(9);
  flex-direction: column;
  align-items: center;
  @include mq($from: tablet) {
    flex-direction: row;
  }
}

.c-newhomenumber__card + .c-newhomenumber__card {
  margin-left: space(0);
  margin-top: space(7);
  @include mq($from: tablet) {
    margin-top: space(0);
    margin-left: space(7);
  }
}

.c-newhomenumber__card {
  background-color: white;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: space(6) 0 space(4) 0;
  color: #159BC6;
  width: space(11) * 1.8;
  @include mq($from: desktop) {
    width: space(11) * 2;
  }
}

.c-newhomenumber__card-nb {
  font-size: space(8);
}

/* Recall section
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.c-newhomerecall {
  background-color: #057DBC;
}

h2.c-newhomerecall__content {
  font-weight: 400;
  margin-left: space(3);
  margin-right: space(3);
}

.c-newhomerecall__content {
  text-align: center;
}

.c-newhomerecall__content--line {
  color: white;
  span {
    display: block;
  }
}

.c-newhomerecall__content--cta {
  a {
    @include inuit-font-size(18px);
    border: 0;
    border-radius: space(8);
    background-color: white;
    padding: space(4) space(9) space(4) space(9);
    margin-top: space(3);
    font-weight: bold;
    cursor: pointer;
    color: #057DBC;
    text-decoration: none;
    display: inline-block;    
  }
}
