nav.pagination {
  
  display: flex;
  justify-content: center;
  margin-top: space(6);
  flex-wrap: wrap;
  .next, .prev, .last, .first, .page {
    a {
      width: 40px;
      height: 40px;
      background-color: #e2eaf5;
      border-radius: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: space(3);
      text-decoration: none;
    }
    margin-bottom: space(4);
  }

  .next, .prev, .last, .first {
    a {
      font-weight: bold;
      font-size: 30px;
      margin-top: -2px;
    }
  }

  .page.current {
    width: 40px;
    height: 40px;
    background-color: #0b2d3d;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: space(3);
    text-decoration: none;
    color: white;      
  }
  .page.gap {
    width: 40px;
    height: 40px;
    background-color: #e2eaf5;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: space(3);
    text-decoration: none;
  }
}
