
  .c-qh {
    display: flex;
    background-color: #EFF3F9;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.5);
    a {
     color: $color-white;
    }
    height: 80px; 
    .svg-logo-pe {
      margin-left: space(3);
    }
    .svg-logo-clara-black {
      padding-right: space(3);
    }
  }

  .c-qh > * {
    display: flex;
    align-items: center;
  }


  .c-qh__logo {
    line-height: 0;
    min-width: space(8);
    margin: space(3) 0 space(3) 0;
  }

  .c-qh > :first-child {
    margin-left: $o-small-gutter;
    @include mq($from: tablet) {
      margin-left: $o-gutter;
    }  
  }

  .c-qh > :last-child {
    margin-left: auto;
    margin-right: $o-small-gutter;
    @include mq($from: tablet) {
      margin-right: $o-gutter;
    } 
  }

