.c-question {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  @include mq($from: tablet) {
    margin-left: 4rem;
    margin-right: 4rem;
  }  
  margin-top: 2vh;
}

.c-question__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  text-align: center;
}

.c-question__mark {
  padding-left: 1rem;
  @include mq($from: tablet) {
    padding-left: 15rem;
  }  
}

.c-question__fieldset {
  margin-top: 0;
  margin-bottom: 0;
}

.c-question-title {
  margin-top: space(8);
  text-align: center;
  font-size: $inuit-font-size-h2;
}

.c-question-subtitle {
  @extend .u-margin-vertical-small;
  text-align: center;
  font-size: $inuit-font-size-h4;
}
