.c-result-all {
  width: 100%;
}

h1.c-result-all-title {
  @include inuit-font-size(26px);
}

.c-result-all {
  .c-result-aid {
    border-top: none;
  }
}

.c-search-form {
  position: relative;
  background-color: #0b2d3d;
}

.c-search-usearch {
  height: 48px;
  border-radius: 24px;
  border: none;
  margin: space(2);
}
