.c-result-all {
  width: 100%;
}

h1.c-result-all-title {
  @include inuit-font-size(26px);
}

.c-result-all {
  .c-result-aid {
    border-top: none;
  }
}

#search_form {
  background-color: #0b2d3d;
}
