.c-result-front {
  width: 100%;
}

.c-result-front__separator {
  margin-top: space(6);
}

h1.c-result-front-title {
  @include inuit-font-size(26px);
  margin-bottom: space(6);
  margin-top: space(6);
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #333333;
  @include mq($from: tablet) {
    margin-top: 0;
  }
}

h2.c-result-front-subtitle {
  @include inuit-font-size(18px);
  margin-bottom: space(6);
  padding-top: space(4);
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #333333;
}

.c-search-front {
  position: relative;
  text-align: center;
  border-radius: 4px;
  padding-top: space(5);
  padding-bottom: space(5);
}

.c-search-front-usearch {
  height: 48px;
  border-radius: 24px;
  border: none;
  margin: space(2);
  width: 95%;
  padding-left: space(7);
}

input.c-search-front-submit {
  right: 4%;
  position: absolute;
  top: 1.1rem;
  color: white;
  border-radius: 24px;
  background-color: white;
  border: none;
  padding: space(5);
  padding-left: space(7);
  padding-right: space(7);
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20version%3D%221.1%22%20id%3D%22Capa_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2215px%22%20height%3D%2215px%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%2056.966%2056.966%22%20style%3D%22enable-background%3Anew%200%200%2056.966%2056.966%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpath%20d%3D%22M55.146%2C51.887L41.588%2C37.786c3.486-4.144%2C5.396-9.358%2C5.396-14.786c0-12.682-10.318-23-23-23s-23%2C10.318-23%2C23%20s10.318%2C23%2C23%2C23c4.761%2C0%2C9.298-1.436%2C13.177-4.162l13.661%2C14.208c0.571%2C0.593%2C1.339%2C0.92%2C2.162%2C0.92%20c0.779%2C0%2C1.518-0.297%2C2.079-0.837C56.255%2C54.982%2C56.293%2C53.08%2C55.146%2C51.887z%20M23.984%2C6c9.374%2C0%2C17%2C7.626%2C17%2C17s-7.626%2C17-17%2C17%20s-17-7.626-17-17S14.61%2C6%2C23.984%2C6z%22%20fill%3D%22black%22%2F%3E%3C%2Fsvg%3E");
  background-position: 15px 13px;
  background-repeat: no-repeat;
  @include inuit-font-size(14px);
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.c-result-front__rightblock {
  margin-top: space(5);
}

.c-result-front__leftblock {
  margin-top: space(5);
}

.c-result-line-front {
  border-radius: 4px;
  border: 1px solid #BDBDBD;
  &.has-no-nav {
    margin-bottom: space(3);
  }
}

.c-result-line-front-item {
  border-bottom: 1px solid #BDBDBD;
  background-color: white;
  padding: space(7) space(5);
  &.is-first {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  &.is-last {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom: none;
  }
  mark {
    background-color: inherit;
    color:#057dbc;
  }
}

.c-result-line-front__name {
  a {
    font-weight: 500;
  }
}

h1.c-result-front-subtitle {
  @include inuit-font-size(26px);
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #333333;
}
