.c-result-aid {
  display: flex;
  border-bottom: 1px solid $grey-border;
  border-top: 1px solid $grey-border;
  padding: space(5) space(5) space(5) space(5);
  text-decoration: none;
  align-items: center;
  &:last-child {
    border-bottom: none;
  }
  &:first-child {
    margin-top: space(3);
  }
    
}

.c-type-show .c-result-aid.first {
  border-top: none;
}

.c-result-aid--separable {
  margin-bottom: space(4);
}

.c-result-aid + .c-result-aid {
  border-top: none;
}

.c-result-aid__cta {
  padding: space(2) space(6);
  background-color: #057dbc;
  border-radius: 35px;
  text-align: center;
  white-space: nowrap;
  margin-left: auto;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;

  a {
    text-decoration: none;
    color:white;
  }
  @include mq($from: tablet) {
    padding: space(4) space(6);
  }
}  

.c-result-aid__cta span {
  display: block;
  @include mq($from: mobile) {
    display: inline-block;
  }
}

.c-result-aid__text {
  display: flex;
  flex-direction: column;
  margin-right: 1.5rem;
  justify-content: center;
}

h2.c-result-aid__title {
  margin-bottom: 0;
  //mimic h4
  font-size: 1.25rem;
  //mimic h4
  line-height: 1.5;
}

.c-result-aid__subtitle {
  display: inline-block;
  line-height: 1.4;
  color: #6d6d6d;
}
