.c-radiolabel {
  text-align: left;
  font-size: $inuit-font-size-h5;
  margin-top: 0;
  vertical-align: baseline;
  padding: $inuit-global-spacing-unit-tiny;
  padding-left: $inuit-global-spacing-unit-small;
  @include mq($from: mobile) {
    font-size: $inuit-font-size-h3;
  }  
}

.c-fieldset > .c-radiolabel:first-of-type {
  margin-top: 0;
}

.c-radioinput {
  
}

.c-radioline {
  @extend .u-padding-horizontal-small;
  display: flex;
  align-items: center;
  font-size: 20px; // HACK
  cursor: pointer;
}
