.c-type-show {

}

.c-type-show-grid {
  padding: 0 space(3) 0 space(3);
  @include mq($from: tablet) {
    padding: 0 $o-gutter 0 $o-gutter;
  } 
}

.c-type-show-grid .c-result-line {
  border: none;
}

.c-type-show-grid .c-result-aid.first {
  border-top: none;
}
