.c-result-default {
  margin-top: space(6);
}

.c-mask-filter {
  background-color: #057dbc;
  @include inuit-font-size(18px, 1);
  color: #ffffff;
  width: 100%;
  cursor: pointer;
  border: none;
  svg path {
    fill: #ffffff;
  }
  &.is-discrete {
    background-color: white;
    color: #333333cc;
    svg path {
      fill: #333333cc;
    }
  }
}

.c-mask-filter__text {
  font-weight: 500;
  font-family:$font-stack-common;
}

.c-filterings-area {
  background-color: #ffffff;
}

fieldset.c-resultfilterings {
  padding:0;
  margin:0;
  label {
    @include inuit-font-size(16px, 1);
  }
  label, input {
    cursor: pointer;
  }
  legend {
    font-size: 18px;
    font-weight: bold;
  }
  input[type="checkbox"] {
    transform: scale(1); 
  }
}
.c-resultfiltering {
  display: flex;
  align-items: start;
}
.c-resultfiltering--even {
  background-color:#f3f8fc;
}

.c-resultfiltering__checkbox {

}

.c-result-youcan {
  // mimic h3
  font-size: 1.5rem;
  // mimic h3
  line-height: 1.25;  
  margin-bottom: 0;
}

.c-resultcard {
  background-color:white;
  border: solid 1px #dcdcdc;
  border-radius: 4px;
}

.c-resultcard {
  margin-top: $inuit-global-spacing-unit-small;
}

.c-resultcontract_descr {
  margin-top: $inuit-global-spacing-unit-nano;
  font-size: 16px; // HACK
}
.c-resultcontract-title {
  //mimic h4
  font-size: 1.25rem;
  //mimic h4
  line-height: 1.5;

  margin-bottom: 0;
}
.c-resultcontract .o-flag__img {
  height: 60px;
  width: 60px;
}



.c-btn--result {
  text-decoration: none;
  font-size: 16px;
  color: white;
  border-color: #057dbc;
  box-shadow: -2px 2px 2px 1px #aaaaaa;
  background-color: #057dbc;
  svg path {
    fill: #057dbc;
  }
}

.c-resultcaret {
  font-weight: bold;
}

.c-resultaid {
  border-top: solid 1px #dcdcdc;
  padding: $inuit-global-spacing-unit-small;
}

.c-resultaid p {
  font-size: 16px; // HACK
}

.c-resultaid__smalltitle {
  //mimic h5
  font-size: 1.125rem;
  //mimic h5
  line-height: 1.3333333333;
  margin-bottom: 0;
}

.c-btn--aid {
  border: none;
  font-size: 14px; // HACK
  font-weight: 500;
  padding: $inuit-global-spacing-unit-nano;
  border-radius: 8px;
  background-color: #057dbc;
}

.c-resultfilter {
  font-size: 13px; // HACK
  color: #484848;
  background-color:#efefef;
  border-radius: 30px;
  padding: $inuit-global-spacing-unit-tiny $inuit-global-spacing-unit-small;
}


.c-result-warning {
  font-size: 16px; // HACK
  font-weight: 300;
  border-radius: 4px;
  background-color:#FCF8E3;
  border: solid 1px #faf2cc;
  padding: $inuit-global-spacing-unit;
  color: #333333;
}

/** checkbox **/
input[type=checkbox] {
  transform: scale(1.5);
}

/** checkbox **/
input[type=radio] {
  transform: scale(1.5);
}


.c-filterstag__item {
  display: inline-block;
  vertical-align: top;
  font-size: 15px;
  margin-bottom: space(2);
  color: #333333;
  background-color: #ebebeb;
  border-radius: 30px;
  padding: 8px 14px;
}

.c-filtertag {
  margin-bottom: $inuit-global-spacing-unit-tiny;
  display: inline;
}

.c-filtertag__text {
  white-space: nowrap;
  overflow:hidden;
  max-width: 195px;
  text-overflow: ellipsis;
}

.c-filtertag__close {
  cursor: pointer;
}

#eligibles {
  .c-resultcard {
    border-left: 5px solid #028138;
    svg {
      fill: #028138;
    }
  }
}

#uncertains {
  .c-resultcard {
    border-left: 5px solid #ff7800;
    svg {
      fill: #ff7800;
    }
  }
}

#ineligibles {
  .c-resultcard {
    border-left: 5px solid #d80027;
    svg {
      fill: #d80027;
    }
  }
}

.c-hide-button {
  cursor: pointer;
  font-size: 20px; //HACK
  border: 2px solid #5ba8d3;
  border-radius: 30px;
  background-color: white;
  color: #5ba8d3;
}

.c-nothing__line {
  font-size: 20px; //HACK
}
