.c-result-default {
}

h2.c-mask-filter {
  margin-bottom:0;
}

.c-chevron {
  text-align: bottom;
}

.c-chevron::before {
  border-style: solid;
  border-width: 0.25em 0.25em 0 0;
  content: '';
  display: inline-block;
  height: 0.45em;
  left: 0.15em;
  position: relative;
  top: 0.15em;
  transform: rotate(-45deg);
  vertical-align: middle;
  width: 0.45em;
}

.c-chevron.right:before {
  left: 0;
  transform: rotate(45deg);
}

.c-chevron.bottom:before {
  top: 0;
  transform: rotate(135deg);
}

.c-chevron.left:before {
  left: 0.25em;
  transform: rotate(-135deg);
}

.c-resultcard {
  background-color:white;
}

.c-resultcontract_descr {
  //FIXME
  font-size: 16px; 
}
.c-resultcontract_title {
  margin-bottom: 0;
}
.c-resultcontract .o-flag__img {
  width: 100px;
}
