!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %div
      Bonjour,

    %br

    %div
      Vous avez créé une alerte automatique pour l'aide "#{@aid_name}".    

    %br

    %div
      Cette aide est actuellement au statut "#{@aid_status}".

    %br

    %div
      Vous pouvez effectuer des modifications sur cette aide directement dans le Back-Office de Clara, en copiant/collant ce lien dans votre navigateur :

    %br

    %div=@aid_link

    %br

    %div
      Si vous rencontrez des difficultés pour vous connecter au back-office, vous pouvez prendre contact avec l'équipe : clara@pole-emploi.fr.

    %br

    %div
      Bonne journée !

    %br

    %div
      L'équipe Clara.
