<%- image_size = field.attribute.to_s + "_file_size" %>
<%- has_image = field.data.instance.try(image_size).to_i > 0 %>
<%- appender = has_image ? " actuelle" : "" %>

<div class="paperclip-form-label">
  <small>attention, image JPG de 240x240, moins de 50Ko</small>
  <%= f.label field.attribute.to_s + appender %> 
</div>
<div class="paperclip-form">
  <div class="paperclip-existing">
    <% if has_image %>
      <%= image_tag field.url.sub('/v1', '')  %>
    <% end %>
  </div>
  <div class="paperclip-input">
    <div class="field-unit__label">
    </div>
    <div class="field-unit__field" style="<%= has_image ? 'width:inherit' : 'margin-left: 0' %>">
      <div>
        <% if has_image %>
          Remplacer par :
        <% end %>        
      </div>
      <div>
        <%= f.file_field field.attribute %>
      </div>
    </div>  
  </div>
</div>
