<script id="c-simulator-submit" type="text/template">
  <div class="c-simulator-submit">

    <input type="submit" name="commit" value="Simuler" id="btn_simulate" v-on:click="onclick"/>  
  
  </div>
</script>

