/* ==========================================================================
   #VARIOUS CUSTOM UTILITIES
   ========================================================================== */

// custom utilities
.u-bold {
  font-weight: bold;
}

.u-brand-color {
  color: $brand-primary;
}

.u-white-color {
  color: $color-white;
}

.u-cursor-pointer {
  cursor: pointer;
}

.u-nobutton {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
}

.u-underline {
  text-decoration: underline;
}

// See https://blog.xebia.fr/2017/06/30/css-container-la-classe-a-abattre/
.u-margin-constraint {
  @extend .u-padding-horizontal-small-plus;
}

.u-useful-width {
  max-width:1200px;
  margin-left:auto;
  margin-right:auto;
}
